.btn {
  display: inline-block;
  padding: 0.5em;
  border: 2px solid #acdbf5;
  border-radius: 4px;
  background-color: #fff;
  color: #7fd0ed;
  font-weight: bold;
}
.btn:hover {
  cursor: pointer;
  outline: none;
  background-color: #7fd0ed;
  border-color: #acdbf5;
  color: #fff;
}
.btn:active, .btn:focus {
  outline: 2px dashed #acdbf5;
  outline-offset: 2px;
}
.btn.selected ,
.btn:active {
  background-color: #7fd0ed;
  border: 2px solid #acdbf5;
  color: #fff;
}
.btn:active {
  background-color: #f1fafd;
  color: #7fd0ed;
}

.btn-square {
  display: inline-block;
  width: 32px;
  line-height: 15px;
}

.btn-sm.btn-square {
  padding: 0;
  width: 25px;
  height: 25px;
}
