node_modules
.sass-cache
build/curve25519_compiled.js
build/icons/*
stylesheets/*.css.map
dist
.DS_Store
config/local.json
config/local-*.json
.DS_Store
*.provisionprofile
release/
/dev-app-update.yml
