legacy-peer-deps=true
save-exact=true
public-hoist-pattern[]=*eslint-*
minimum-release-age=4320 # 3 days
minimum-release-age-exclude[]=@signalapp/*
minimum-release-age-exclude[]=electron

# one-time manually-reviewed exception for @indutny/protopiler@4.0.2
minimum-release-age-exclude[]=@indutny/protopiler
