legacy-peer-deps=true
public-hoist-pattern[]=*eslint-*
minimum-release-age=14400 # 10 days
minimum-release-age-exclude[]=@signalapp/*
minimum-release-age-exclude[]=@indutny/*
minimum-release-age-exclude[]=@types/*
minimum-release-age-exclude[]=electron
minimum-release-age-exclude[]=react
minimum-release-age-exclude[]=react-dom
minimum-release-age-exclude[]=oxlint
minimum-release-age-exclude[]=oxlint-tsgolint
minimum-release-age-exclude[]=@oxlint/*
minimum-release-age-exclude[]=@oxlint-tsgolint/*
minimum-release-age-exclude[]=eslint
minimum-release-age-exclude[]=@eslint/*
minimum-release-age-exclude[]=@typescript-eslint/*
