platform:
  - x64

cache:
  - '%LOCALAPPDATA%\electron\Cache'
  - node_modules -> package.json

install:
  - systeminfo | findstr /C:"OS"
  - set PATH=C:\Ruby23-x64\bin;%PATH%
  - ps: Install-Product node 8.2.1 x64
  - yarn install --frozen-lockfile

build_script:
  - yarn transpile
  - yarn lint
  - yarn test-node
  - yarn nsp check
  - yarn generate
  - node build\grunt.js
  - type package.json | findstr /v certificateSubjectName > temp.json
  - move temp.json package.json
  - yarn prepare-beta-build
  - node_modules\.bin\build --config.extraMetadata.environment=%SIGNAL_ENV% --publish=never

test_script:
  - node build\grunt.js test
  - set NODE_ENV=production
  - node build\grunt.js test-release:win

environment:
  SIGNAL_ENV: production
