.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }  
.clearfix { zoom: 1; }  

body {
  margin: 0;
  min-width: 300px;
  min-height: 500px;
  font-family: sans-serif;
  color: #333;
}

.container {
  max-width: 960px;
  margin: auto;
  padding: 0 1em;
}

header {
  background-color: ccc;
  padding: 5px 0;
}

form.compose {
  position: relative;
}

label {
  float: left;
  margin-right: 1em;
}

input[type=text], textarea {
  display: block;
  padding: 0.5em;
  margin: 0.5em 0;
  border-radius: 4px;
  border: 1px solid #ddf;
}

textarea {
  resize: vertical;
  width: 100%;
  min-height: 100px;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

#send input[type=submit] {
  float: right;
}

#popup_send_numbers {
  margin-bottom: 0;
}

#popup_send_numbers:focus + .contacts,
.contacts:hover {
  display: block;
}

.contacts {
  display: none;
  position: absolute;
  left: 10px;
}

.contact {
  border: solid 1px #ccc;
  background: #fff;
  font-size: 88%;
  padding-right: 5px;
  cursor: pointer;
}

.contact .pic {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  background: #ddd;
}

.contact .name, .contact .number {
  line-height: 30px;
  margin-left: 5px;
}

ul {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}

/* TS styles */
.conversation {
  background-color: #eeeeee;
}

.bubble {
  background-color: #fafafa;
  color: #333333;
}

.metadata {
  color: #cccccc;
}

.incoming .bubble {
  background-color: #ffffff;
}

.sending .bubble {
  opacity: 0.7;
}

/* Style variants */
.blue-background {
  background: #3a7ef2;
}

/* Formatting */
.message-text {
  display: block;
  padding: 0.5em 0.6em 0em;
}

.metadata {
  display: block;
  font-size: 0.70em;
  padding: 0.2em 0.6em;
}

.conversation {
  font-family: sans-serif;
  line-height: 1.2em;
}

.avatar {
  display: inline-block;
  background-color: #d0d0da;
  width: 36px;
  height: 36px;
  border-radius: 36px;
  float: left;
}

.bubble {
  position: relative;
  border-radius: 4.36364px;
  max-width: 75%;
  border-bottom: 2.25px solid #dddddd;
}

.incoming .bubble {
  float: left;
}
.incoming .bubble:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: 11px;
  left: -0.8em;
  border-right: solid 0.5em #ffffff;
  border-top: solid 7px transparent;
  border-left: solid 0.4em transparent;
  border-bottom: solid 7px transparent;
}

.outgoing .bubble {
  float: right;
}
.outgoing .bubble:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: 11px;
  right: -0.8em;
  border-left: solid 0.5em #ffffff;
  border-top: solid 7px transparent;
  border-right: solid 0.4em transparent;
  border-bottom: solid 7px transparent;
}

.outgoing .bubble, .outgoing .metadata {
  text-align: right;
}

.message {
  padding: 0.3em 11.63636px;
}

.message:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}

/* debug styles */
/*
.conversation { border: 1px solid red; }
.message { border: 1px solid blue; }
*/

