[Desktop Entry]
Type=Application
Name=Signal
GenericName=Messenger
Comment=Signal Private Messenger
Icon=Signal-Desktop
Exec=signal-desktop --use-tray-icon
Categories=Network
StartupNotify=true
