// Copyright 2019-2020 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

.padded {
  padding: 0 16px;
}

.main {
  composes: padded;
  padding-top: 16px;
  display: grid;
  height: 100%;
  grid-template-rows: 26px 36px calc(100% - 26px - 36px);
  overflow: auto;
}

.no-message {
  composes: main;
  grid-template-rows: 26px calc(100% - 26px);
}

.empty {
  composes: main;
  grid-template-rows: 100%;
}

.footer {
  composes: padded;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.footer-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button {
  margin-left: 12px;
}

.toaster {
  position: fixed;
  bottom: 16px;
  left: 50%;
  transform: translate(-50%, 0px);
}
