// Copyright 2019-2021 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@import '../../../stylesheets/variables';
@import '../../mixins';

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  margin-bottom: 18px;
  width: 448px;
}

.cover-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 18px;
}

.label {
  user-select: none;
  font-size: 13px;
  font-family: $inter;
  font-weight: 500;
  margin: 0;

  @include light-theme() {
    color: $color-gray-90;
  }

  @include dark-theme() {
    color: $color-white;
  }
}

.cover-image {
  width: 178px;
  height: 178px;
}

.cover-frame {
  composes: cover-image;
  overflow: hidden;

  border: {
    radius: 4px;
    style: solid;
    width: 1px;
  }

  @include light-theme() {
    border-color: $color-gray-60;
  }

  @include dark-theme() {
    border-color: $color-gray-25;
  }
}

.cover-frame-active {
  composes: cover-frame;

  @include light-theme() {
    border-color: $color-ultramarine;
  }

  @include dark-theme() {
    border-color: $color-ultramarine-light;
  }
}
