// Copyright 2019-2020 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@import '../mixins';
@import '../../stylesheets/variables';

.container {
  display: grid;
  height: var(--window-height);
  grid-template-rows: 47px calc(var(--window-height) - 47px - 68px) 68px;

  @include light-theme() {
    background-color: $color-white;
  }

  @include dark-theme() {
    background-color: $color-gray-90;
  }
}
