// Copyright 2021 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

.About {
  align-items: center;

  display: flex;
  font-size: 14px;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  text-align: center;

  @include light-theme {
    background-color: $color-white;
    color: $color-black;
  }

  @include dark-theme {
    background-color: $color-gray-95;
    color: $color-white-alpha-80;
  }

  img {
    margin-top: 1em;
  }

  a {
    @include light-theme {
      color: $color-ultramarine;
    }
    @include dark-theme {
      color: $color-ultramarine-pastel;
    }
  }
}

.About__Title {
  @include font-body-1-bold;
  margin: 0;
}
