// Copyright 2021 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@use '../mixins';

.module-AddGroupMembersModal {
  $root-selector: &;
  $padding: 16px;

  &__header {
    @include mixins.font-body-1-bold;
    margin: 0;
    padding: 0;
  }

  &__button-container {
    display: flex;
    justify-content: flex-end;
    flex-grow: 0;
    flex-shrink: 0;
    padding: $padding;

    .module-Button {
      &:not(:first-child) {
        margin-inline-start: 12px;
      }
    }
  }

  &__close-button {
    @include mixins.modal-close-button;
  }

  .module-ContactPills {
    max-height: 50px;
  }

  &__list-wrapper {
    flex-grow: 1;
    overflow: hidden;
  }

  &__no-candidate-contacts {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--choose-members {
    @include mixins.modal-reset;
    & {
      padding: 0; // The <ConversationList> has its own padding, so we pad various inner elements.
      height: 60vh;
      min-height: 400px;
    }

    #{$root-selector}__header {
      padding: $padding;
    }
  }

  &--confirm-adds {
    @include mixins.modal-reset;

    #{$root-selector}__button-container {
      margin-top: 12px;
      padding: 0;
    }
  }

  .module-conversation-list {
    // remove horizontal padding so ListTiles extend to the edges
    padding: 0;
  }
}
