// Copyright 2021 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

.module-AddGroupMembersModal {
  $root-selector: &;
  $padding: 16px;

  &__header {
    @include font-body-1-bold;
    margin: 0;
    padding: 0;
  }

  &__button-container {
    display: flex;
    justify-content: flex-end;
    flex-grow: 0;
    flex-shrink: 0;
    padding: $padding;

    .module-Button {
      &:not(:first-child) {
        margin-left: 12px;
      }
    }
  }

  &__close-button {
    @include modal-close-button;
  }

  &__search-input {
    margin: 10px $padding;
    padding: 5px 12px;

    border-radius: 17px;
    border: none;

    @include font-body-2;

    @include light-theme {
      background-color: $color-gray-05;
      color: $color-gray-90;
      border: solid 1px $color-gray-02;
    }
    @include dark-theme {
      color: $color-gray-05;
      background-color: $color-gray-95;
      border: solid 1px $color-gray-80;
    }

    &:placeholder {
      color: $color-gray-45;
    }

    &:focus {
      border: solid 1px $ultramarine-ui-light;
      outline: none;
    }
  }

  .module-ContactPills {
    max-height: 50px;
  }

  &__list-wrapper {
    flex-grow: 1;
    overflow: hidden;
  }

  &__no-candidate-contacts {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--choose-members {
    @include modal-reset;
    padding: 0; // The <ConversationList> has its own padding, so we pad various inner elements.
    height: 60vh;
    min-height: 400px;

    '#{$root-selector}__header' {
      padding: $padding;
    }
  }

  &--confirm-adds {
    @include modal-reset;

    '#{$root-selector}__button-container' {
      margin-top: 12px;
      padding: 0;
    }
  }
}
