// Copyright 2022 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

.AddUserToAnotherGroupModal {
  &__main-body {
    display: flex;
    flex-direction: column;
    min-height: 300px;
  }

  &__list-wrapper {
    flex-grow: 1;
    overflow: hidden;
  }
}

.AddUserToAnotherGroupModal .module-conversation-list {
  &__item,
  &__item--contact-or-conversation {
    height: 52px;
    padding-block: 0;
    padding-inline: 6px;
  }
}
