// Copyright 2021 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

.App {
  height: 100%;
  position: relative;

  // TitleBar support
  display: flex;
  flex-direction: column;

  &.light-theme {
    background-color: $color-white;
    color: $color-gray-90;
  }
  &.dark-theme {
    background-color: $color-gray-95;
    color: $color-gray-05;
  }
}
