// Copyright 2016 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@use 'sass:color';
@use '../mixins';
@use '../variables';

.AudioCapture {
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: none;

  &__time {
    color: variables.$color-gray-60;
    font-variant: tabular-nums;
    line-height: 36px;
    margin-block: 0;
    margin-inline: 15px;

    @keyframes pulse {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }

    &::before {
      content: '';
      display: inline-block;
      border-radius: 10px;
      width: 10px;
      height: 10px;
      background: variables.$color-accent-red;
      margin-inline-end: 10px;
      opacity: 0;
      animation: pulse 2s infinite;
    }
  }
}
