// Copyright 2024 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@use '../mixins';
@use '../variables';

.AutoSizeInput {
  &__input {
    @include mixins.font-body-1;

    background: inherit;
    border: none;
    resize: none;
    padding: 0;
    min-width: 20px;
    width: 20px;

    &:placeholder {
      color: variables.$color-gray-45;
    }

    @include mixins.light-theme {
      color: variables.$color-black;
    }

    @include mixins.dark-theme {
      color: variables.$color-gray-05;
    }

    &:focus {
      outline: none;
    }

    &--sizer {
      visibility: hidden;
      position: absolute;
      inset-inline-start: 0;
      top: 0;
      width: auto;

      z-index: variables.$z-index-negative;
    }
  }
}
