// Copyright 2021 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

.AvatarTextEditor {
  &__input {
    background: transparent;
    border: none;
    color: inherit;
    outline: none;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    transition: font-size 30ms linear;
    width: 100%;
  }

  &__measure {
    left: -9999;
    position: fixed;
    text-transform: uppercase;
    top: -9999;
    touch-action: none;
    visibility: hidden;
  }
}
