// Copyright 2025 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@use '../mixins';
@use '../variables';

.BackfillFailureModal__width-container {
  max-width: 440px;
}

.BackfillFailureModal__body {
  padding-block: 16px 0;
  padding-inline: 16px;
}

.BackfillFailureModal .module-Button {
  padding-inline: 24px;
}

.BackfillFailureModal .module-Modal__button-footer {
  padding-block-start: 18px;
}
