// Copyright 2021 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

.BadgeCarouselIndex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 10px;
  column-gap: 8px;

  &__dot {
    border-radius: 100%;
    height: 8px;
    width: 8px;
    margin-top: 8px;

    @include light-theme {
      background: $color-black-alpha-20;
    }

    @include dark-theme {
      background: $color-white-alpha-20;
    }

    &--selected {
      @include light-theme {
        background: $color-ultramarine;
      }

      @include dark-theme {
        background: $color-ultramarine-light;
      }
    }
  }
}
