// Copyright 2021 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@use '../mixins';

.BadgeSustainerInstructionsDialog {
  user-select: none;

  &__width-container {
    max-width: 420px;
  }

  &__header {
    @include mixins.font-title-2;
    text-align: center;
  }

  &__subheader {
    @include mixins.font-body-1;
    font-weight: normal;
    text-align: center;
  }

  &__instructions {
    @include mixins.font-body-2;
    padding: 0;
    list-style-position: inside;

    &::before {
      background-size: contain;
      content: '';
      display: block;
      height: 160px;
      margin-block: 24px;
      margin-inline: auto;
      width: 146px;

      @include mixins.light-theme {
        background-image: url('../images/mobile-settings-light.svg');
      }
      @include mixins.dark-theme {
        background-image: url('../images/mobile-settings-dark.svg');
      }
    }

    > li {
      margin-top: 1em;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}
