// Copyright 2021 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@use '../mixins';
@use '../variables';

.BadgeCarouselIndex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 10px;
  column-gap: 8px;

  &__dot {
    border-radius: 100%;
    height: 8px;
    width: 8px;
    margin-top: 8px;

    @include mixins.light-theme {
      background: variables.$color-black-alpha-20;
    }

    @include mixins.dark-theme {
      background: variables.$color-white-alpha-20;
    }

    &--selected {
      @include mixins.light-theme {
        background: variables.$color-ultramarine;
      }

      @include mixins.dark-theme {
        background: variables.$color-ultramarine-light;
      }
    }
  }
}
