// Copyright 2024 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@use '../mixins';
@use '../variables';

// Overriding default style
.module-Modal__body_inner.CallLinkPendingParticipantModal__body_inner {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4px;
  margin-bottom: 14px;
  padding-inline: 8px;
}

.CallLinkPendingParticipantModal__NameButton {
  @include mixins.button-reset();
  & {
    @include mixins.font-title-1;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    max-width: 100%;
    margin-top: 12px;
    font-weight: 500;
    color: variables.$color-gray-05;
    cursor: pointer;
  }
}

.CallLinkPendingParticipantModal__InContactsIcon {
  height: 22px;
  width: 22px;
  @include mixins.any-theme {
    background-color: currentColor;
  }
}

.CallLinkPendingParticipantModal__AboutIcon {
  display: inline-block;
  height: 20px;
  width: 20px;

  position: relative;
  inset-block-start: 2px;

  @include mixins.color-svg(
    '../images/icons/v3/chevron/chevron-right-bold.svg',
    variables.$color-gray-25
  );
}

.CallLinkPendingParticipantModal__SharedGroupInfo {
  margin-top: 10px;
  color: variables.$color-gray-25;
  text-align: center;
}

.CallLinkPendingParticipantModal__Hr {
  width: 100%;
  margin-block: 24px;
  border: none;
  height: 1px;
  background: variables.$color-gray-65;
}

.CallLinkPendingParticipantModal__ActionButton {
  @include mixins.button-reset;
  & {
    display: flex;
    padding-block: 6px;
    width: 100%;
    align-items: center;
    color: variables.$color-gray-05;
  }
}

.CallLinkPendingParticipantModal__ActionButton:last-child {
  margin-bottom: 0;
}

.CallLinkPendingParticipantModal__ActionButton:focus {
  @include mixins.keyboard-mode {
    background: variables.$color-gray-65;
  }
}

.CallLinkPendingParticipantModal__ButtonIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline-end: 12px;
  width: 20px;
}

.CallLinkPendingParticipantModal__ButtonIconContent {
  width: 20px;
  height: 20px;
}

.CallLinkPendingParticipantModal__ButtonIconContent--approve {
  @include mixins.color-svg(
    '../images/icons/v3/check/check-circle.svg',
    variables.$color-gray-25
  );
}

.CallLinkPendingParticipantModal__ButtonIconContent--deny {
  @include mixins.color-svg(
    '../images/icons/v3/x/x-circle.svg',
    variables.$color-gray-25
  );
}
