// Copyright 2021 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

.module-CallingLobby {
  &__local-preview {
    position: absolute;
    z-index: $z-index-negative;
    top: 28px;
    -webkit-app-region: no-drag;

    &--camera-is-on {
      @include lonely-local-video-preview;
      width: auto;
      height: 100%;
      max-height: calc(100% - 140px);
      opacity: 0.6;
    }

    &--camera-is-off {
      @include lonely-local-video-preview;
      width: auto;
      height: 100%;
      max-height: calc(100% - 140px);
      aspect-ratio: 4 / 3;
    }
  }

  &__camera-is-off {
    &--visible {
      opacity: 1;
    }

    &--invisible {
      opacity: 0;
    }
  }
}

.CallingLobby__CallLinkNotice {
  @include font-caption;
  display: flex;
  padding-block: 12px;
  padding-inline: 18px;
  margin-block-end: 32px;
  width: 340px;
  background: $color-black-alpha-60;
  color: $color-white;
  border-radius: 10px;
  text-align: center;
}

.CallingLobby__Footer {
  display: flex;
  width: 100%;
  justify-content: center;
}
