// Copyright 2021 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

.module-CallingLobby {
  &__local-preview {
    position: absolute;
    z-index: $z-index-negative;

    &--camera-is-on {
      @include lonely-local-video-preview;
      opacity: 0.6;
    }

    &--camera-is-off {
      height: 100%;
      width: 100%;
    }
  }

  &__camera-is-off {
    @include calling-text-shadow;
    @include font-subtitle;
    align-items: center;
    color: $color-white;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    text-align: center;
    transition: opacity 100ms ease-out;
    user-select: none;

    &--visible {
      opacity: 1;
    }

    &--invisible {
      opacity: 0;
    }

    &::before {
      content: '';
      display: block;
      @include color-svg(
        '../images/icons/v2/video-off-solid-24.svg',
        $color-white
      );
      height: 24px;
      margin-bottom: 8px;
      width: 24px;
    }
  }
}
