// Copyright 2022 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

.CallingToasts {
  position: fixed;
  z-index: $z-index-toast;
  top: 32px;
  width: 100%;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.CallingToasts__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
  gap: 8px;
}

.CallingToast--dismissable {
  @include button-reset();
}

.CallingToast {
  @include font-body-1;
  background-color: $color-gray-75;
  border-radius: 22px;
  color: $color-white;
  padding-block: 11px;
  padding-inline: 20px;
  text-align: center;
  user-select: none;
  &__reconnecting {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
