// Copyright 2024 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

.CallingPendingParticipants {
  width: 420px;
  height: auto;
  padding-block-end: 2px;
  margin-block-start: auto;
  margin-block-end: 36px;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.CallingPendingParticipants__PendingActionButton {
  padding-inline: 0;
  margin-inline-end: 16px;
}

.CallingPendingParticipants__PendingActionButton:last-child {
  margin-inline-end: 8px;
}

.CallingPendingParticipants__PendingActionButtonIcon {
  width: 20px;
  height: 20px;
}

.CallingPendingParticipants__PendingActionButtonIcon--Approve {
  @include color-svg('../images/icons/v3/check/check.svg', $color-white);
}

.CallingPendingParticipants__PendingActionButtonIcon--Deny {
  @include color-svg('../images/icons/v3/x/x.svg', $color-white);
}
