// Copyright 2023 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@use '../mixins';
@use '../variables';

.CallingRaisedHandsList {
  width: 100%;
  height: auto;
  margin-block-end: auto;
  overflow: auto;
}

.CallingRaisedHandsList__width-container {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: auto;
  padding-block: 1px;
  padding-inline: 1px;
  // This should be above .CallingRaisedHandsList__Button
  margin-block-end: 72px;
  margin-inline-start: 8px;
  overflow: hidden;
}

.CallingRaisedHandsList__overlay {
  background: transparent;
}

.CallingRaisedHandsList__overlay-container {
  flex-direction: column;
  padding: 0;
  justify-content: flex-end;
  align-items: start;
}

.CallingRaisedHandsList__Overlay {
  align-items: start;
}

.CallingRaisedHandsList__TitleHint {
  font-weight: normal;
}

.CallingRaisedHandsList .module-calling-participants-list__contact:last-child {
  margin-block-end: 4px;
}

.CallingRaisedHandsList__Button {
  @include mixins.button-reset;
  & {
    position: absolute;
    inset-inline-start: 16px;
    inset-block-end: 16px;
    display: flex;
    padding-block: 14px;
    padding-inline: 12px;
    background: variables.$color-white;
    border-radius: 24px;
    color: variables.$color-black;
    font-size: 14px;
    z-index: variables.$z-index-above-above-base;
  }

  @include mixins.keyboard-mode {
    &:focus {
      outline: 2px solid variables.$color-ultramarine;
    }
  }
}

.CallingRaisedHandsList__ButtonIcon {
  display: inline-block;
  $icon-size: 20px;
  width: $icon-size;
  height: $icon-size;
  margin-inline-end: 4px;
  content: '';

  @include mixins.color-svg(
    '../images/icons/v3/raise_hand/raise_hand-light.svg',
    variables.$color-black
  );
}

.CallingRaisedHandsList__NameHandIcon {
  display: inline-block;
  $icon-size: 16px;
  width: $icon-size;
  height: $icon-size;
  content: '';

  @include mixins.color-svg(
    '../images/icons/v3/raise_hand/raise_hand-light.svg',
    variables.$color-gray-15
  );
}

.CallingRaisedHandsList__LowerMyHandLink {
  @include mixins.button-reset;
  & {
    display: flex;
    margin-inline-end: 16px;
    font-size: 13px;
    font-weight: 500;
    color: variables.$color-ultramarine-pastel;
  }

  @include mixins.keyboard-mode {
    &:focus {
      outline: 2px solid variables.$color-ultramarine;
    }
  }
}
