// Copyright 2024 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

.CallLinkAddNameModal__Row {
  display: flex;
  gap: 12px;
}

.CallLinkAddNameModal__SrOnly {
  @include sr-only;
}

// Overriding the default styles for the input container
.CallLinkAddNameModal__Input__container.Input__container {
  flex: 1;
}
