// Copyright 2022 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@use '../mixins';
@use '../variables';

.CallingAudioIndicator {
  $size: 28px;

  display: flex;
  align-items: center;
  justify-content: center;
  height: $size;
  min-width: $size;
  width: $size;
  z-index: variables.$z-index-base;
  border-radius: calc($size / 2);

  &--with-content {
    background: rgba(variables.$color-gray-80, 0.7);
  }

  &__content {
    $size: 16px;
    width: $size;
    height: $size;
    /* Center Lottie animation */
    display: flex;
    align-items: center;
    justify-content: center;

    &--muted {
      @include mixins.color-svg(
        '../images/icons/v3/mic/mic-slash-fill-compact-light.svg',
        variables.$color-white
      );
    }
  }
}

.module-ongoing-call__footer__local-preview .CallingAudioIndicator {
  position: absolute;
  top: 6px;
  inset-inline-end: 6px;
  z-index: variables.$z-index-base;
}

.module-ongoing-call__group-call-remote-participant .CallingAudioIndicator {
  position: absolute;
  top: 8px;
  inset-inline-end: 8px;
  z-index: variables.$z-index-base;
}
