// Copyright 2024 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

// Overriding default style
.module-Modal__body_inner.CallLinkPendingParticipantModal__body_inner {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4px;
  margin-bottom: 14px;
  padding-inline: 8px;
}

.CallLinkPendingParticipantModal__NameButton {
  @include button-reset();
  @include font-title-1;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  max-width: 100%;
  margin-top: 12px;
  font-weight: 500;
  color: $color-gray-05;
  cursor: pointer;
}

.CallLinkPendingParticipantModal__InContactsIcon {
  height: 22px;
  width: 22px;
  @include any-theme {
    background-color: currentColor;
  }
}

.CallLinkPendingParticipantModal__AboutIcon {
  display: inline-block;
  height: 20px;
  width: 20px;

  position: relative;
  inset-block-start: 2px;

  @include color-svg(
    '../images/icons/v3/chevron/chevron-right-bold.svg',
    $color-gray-25
  );
}

.CallLinkPendingParticipantModal__SharedGroupInfo {
  margin-top: 10px;
  color: $color-gray-25;
  text-align: center;
}

.CallLinkPendingParticipantModal__Hr {
  width: 100%;
  margin-block: 24px;
  border: none;
  height: 1px;
  background: $color-gray-65;
}

.CallLinkPendingParticipantModal__ActionButton {
  @include button-reset;

  display: flex;
  padding-block: 6px;
  width: 100%;
  align-items: center;
  color: $color-gray-05;
}

.CallLinkPendingParticipantModal__ActionButton:last-child {
  margin-bottom: 0;
}

.CallLinkPendingParticipantModal__ActionButton:focus {
  @include keyboard-mode {
    background: $color-gray-65;
  }
}

.CallLinkPendingParticipantModal__ButtonIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline-end: 12px;
  width: 20px;
}

.CallLinkPendingParticipantModal__ButtonIconContent {
  width: 20px;
  height: 20px;
}

.CallLinkPendingParticipantModal__ButtonIconContent--approve {
  @include color-svg(
    '../images/icons/v3/check/check-circle.svg',
    $color-gray-25
  );
}

.CallLinkPendingParticipantModal__ButtonIconContent--deny {
  @include color-svg('../images/icons/v3/x/x-circle.svg', $color-gray-25);
}
