// Copyright 2024 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@use '../mixins';
@use '../variables';

.CallingPendingParticipants {
  width: 420px;
  height: auto;
  margin-block-start: auto;
  margin-block-end: 36px;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.CallingPendingParticipants--Compact {
  width: 364px;
  padding-inline: 0;
  padding-block-start: 0;
  outline: 0;
}

.CallingPendingParticipants--Expandable {
  background: variables.$color-gray-78;
}

.CallingPendingParticipants--Expanded {
  padding-block-end: 2px;
}

.CallingPendingParticipants__CompactParticipant {
  display: flex;
  padding-block: 12px;
  padding-inline: 12px;
  outline: none;
  align-items: center;
}

.CallingPendingParticipants__CompactParticipantNameColumn {
  margin-inline-start: 8px;
}

.CallingPendingParticipants__ParticipantButton {
  @include mixins.button-reset();
}

.CallingPendingParticipants__ParticipantButton:focus {
  @include mixins.keyboard-mode {
    outline: 3px solid variables.$color-ultramarine;
    outline-offset: 1px;
  }
}

.CallingPendingParticipants__ParticipantName {
  @include mixins.font-body-1-bold;
  color: variables.$color-gray-15;
}

.CallingPendingParticipants__ParticipantAboutIcon {
  display: inline-block;
  height: 14px;
  width: 14px;

  position: relative;
  inset-block-start: 3px;

  @include mixins.color-svg(
    '../images/icons/v3/chevron/chevron-right-bold.svg',
    variables.$color-gray-05
  );
}

.CallingPendingParticipants__WouldLikeToJoin {
  @include mixins.font-body-2;
  color: variables.$color-gray-20;
}

.CallingPendingParticipants__PendingActionButton {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  padding-inline: 0;
  margin-inline-end: 16px;
}

.CallingPendingParticipants__PendingActionButton:first-child {
  margin-inline-start: 8px;
}

.CallingPendingParticipants__PendingActionButton:last-child {
  margin-inline-end: 8px;
}

.CallingPendingParticipants__PendingActionButtonIcon {
  width: 16px;
  height: 16px;
}

.CallingPendingParticipants--Compact {
  .CallingPendingParticipants__PendingActionButton {
    width: 36px;
    height: 36px;
    margin-inline-end: 20px;
  }

  .CallingPendingParticipants__PendingActionButton:last-child {
    margin-inline-end: 0;
  }

  .CallingPendingParticipants__PendingActionButtonIcon {
    width: 20px;
    height: 20px;
  }
}

.CallingPendingParticipants__PendingActionButtonIcon--Approve {
  @include mixins.color-svg(
    '../images/icons/v3/check/check-bold.svg',
    variables.$color-white
  );
}

.CallingPendingParticipants__PendingActionButtonIcon--Deny {
  @include mixins.color-svg(
    '../images/icons/v3/x/x-bold.svg',
    variables.$color-white
  );
}

.CallingPendingParticipants__ActionPanel {
  padding-block: 15px;
  text-align: end;
}

.CallingPendingParticipants__ActionPanelButton {
  border-radius: 4px;
  margin-inline-end: 16px;
}

.CallingPendingParticipants__ActionPanelButton:last-child {
  margin-inline-end: 10px;
}

.CallingPendingParticipants__ShowAllRequestsButton {
  @include mixins.button-reset;
  & {
    @include mixins.font-body-2-bold;
    display: flex;
    padding-block: 5px;
    padding-inline: 15px;
    margin-block: 12px;
    margin-inline: auto;
    color: variables.$color-white-alpha-90;
    background: variables.$color-gray-65;
    border-radius: 46px;
    outline: none;
  }
}

.CallingPendingParticipants__ShowAllRequestsButton:focus {
  @include mixins.keyboard-mode {
    outline: 3px solid variables.$color-ultramarine;
    outline-offset: 1px;
  }
}

.CallingPendingParticipants__ShowAllRequestsButtonContainer {
  background: variables.$color-black-alpha-24;
}
