// Copyright 2021 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

.Checkbox {
  &__container {
    align-items: center;
    display: flex;

    input {
      height: 18px;
      width: 18px;

      @include mouse-mode {
        &:focus,
        &:active {
          outline: none;
        }
      }

      @include keyboard-mode {
        &:focus,
        &:active {
          outline: 1px solid $color-ultramarine;
        }
      }
    }
  }

  &__checkbox {
    height: 18px;
    margin-inline-end: 20px;
    width: 18px;
  }

  &__description {
    @include font-subtitle;
    @include light-theme {
      color: $color-gray-60;
    }
    @include dark-theme {
      color: $color-gray-25;
    }
  }
}
