// Copyright 2023 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@use '../mixins';
@use '../variables';

.CompositionRecording {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-block: 10px;
  padding-inline: 18px;

  &__wave {
    display: flex;
    align-items: center;
    gap: 8px;
    flex: 1;
    border-radius: 16px;
    height: 32px;
    padding-block: 6px;
    padding-inline: 12px;

    @include mixins.light-theme {
      background: variables.$color-gray-05;
    }
    @include mixins.dark-theme {
      background: variables.$color-gray-75;
    }
  }

  &__microphone {
    display: inline-block;
    height: 20px;
    width: 20px;
    @include mixins.color-svg(
      '../images/icons/v3/mic/mic-fill.svg',
      variables.$color-accent-red
    );
    & {
      animation: pulse 2s infinite;
    }
  }

  &__timer {
    min-width: 40px;
    text-align: end;
  }
}
