// Copyright 2021 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

.module-ContactSpoofingReviewDialogPerson {
  display: flex;

  &:is(button) {
    @include button-reset;
  }

  &__info {
    margin-left: 12px;

    &__contact-name {
      @include font-body-1;
    }

    &__property {
      @include font-body-2;

      @include light-theme {
        color: $color-gray-60;
      }

      @include dark-theme {
        color: $color-gray-05;
      }

      &--callout {
        @include font-body-2-italic;
        margin: 12px 0;
      }
    }
  }
}
