// Copyright 2021 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@use '../mixins';
@use '../variables';

.ConversationView {
  display: flex;
  flex-direction: column;
  overflow: initial;

  &__pane {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    overflow-y: auto;
    z-index: variables.$z-index-base;

    @include mixins.light-theme() {
      background-color: variables.$color-white;
    }

    @include mixins.dark-theme() {
      background-color: variables.$color-gray-95;
    }
  }

  &__timeline {
    &--container {
      display: flex;
      flex-grow: 1;
      margin: 0;
      z-index: 0;
      min-height: 0;
    }

    & {
      position: relative;
      flex-grow: 1;
      min-height: 0;
      margin: 0;
      overflow-x: hidden;
      overflow-y: auto;
      padding: 0;
    }
  }

  &__composition-area {
    position: relative;
    z-index: 1;

    // We need to use the wrapper because the conversation view calculates the height of all
    //   things in the composition area. A margin on an inner div won't be included in that
    //   height calculation.
    .quote-wrapper,
    .preview-wrapper {
      margin-block: 0 10px;
      margin-inline: 16px;
    }
  }

  &__header {
    z-index: variables.$z-index-above-base;
  }
}
