// Copyright 2021 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@use '../mixins';
@use '../variables';

.module-CustomizingPreferredReactionsModal {
  &__overlay-container {
    z-index: variables.$z-index-above-context-menu;
  }

  &__small-emoji-picker-wrapper {
    @include mixins.font-subtitle;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block: 4rem;
    padding-inline: 0;
    text-align: center;
    user-select: none;

    @include mixins.light-theme {
      color: variables.$color-gray-45;
    }
    @include mixins.dark-theme {
      color: variables.$color-gray-25;
    }

    .module-ReactionPickerPicker {
      margin-bottom: 2rem;
    }
  }
}
