// Copyright 2021 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

.module-disappearing-time-dialog {
  &__title.module-Modal__title {
    margin-bottom: 2px;
  }

  &__body p {
    margin: 0 0 25px 0;
  }

  &__time-boxes {
    display: flex;
    flex-direction: row;

    .module-select {
      flex-grow: 1;
    }

    &__units {
      margin-left: 9px;
    }
  }
}
