// Copyright 2024 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@use '../mixins';
@use '../variables';

.EditNicknameAndNoteModal__width-container {
  max-width: 360px;
}

.EditNicknameAndNoteModal__Description {
  margin-block: 12px 24px;
  @include mixins.font-body-2;
  @include mixins.light-theme {
    color: variables.$color-gray-75;
  }
  @include mixins.dark-theme {
    color: variables.$color-gray-25;
  }
}

.EditNicknameAndNoteModal__Avatar {
  margin-block: 0 24px;
  display: flex;
  justify-content: center;
}

.EditNicknameAndNoteModal__Label {
  @include mixins.sr-only;
}
