// Copyright 2021 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

.module-ForwardMessageModal {
  $padding: 16px;
  @include popper-shadow();
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-block: 0;
  margin-inline: auto;
  max-height: 90vh;
  max-width: 360px;
  width: 95%;

  @include light-theme() {
    background: $color-white;
    color: $color-gray-90;
  }

  @include dark-theme() {
    background: $color-gray-75;
    color: $color-gray-05;
  }

  .module-conversation-list {
    // remove horizontal padding so ListTiles extend to the edges
    padding: 0;
  }

  &--link-preview {
    border-bottom: 1px solid $color-gray-15;
    padding-block: 12px;
    padding-inline: 16px;

    @include dark-theme() {
      border-color: $color-gray-60;
    }
  }

  &__header {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;

    &--edit {
      border-bottom: 1px solid $color-gray-15;

      @include dark-theme() {
        border-color: $color-gray-60;
      }
    }

    &--close {
      @include button-reset;
      position: absolute;
      inset-inline-end: 16px;

      height: 20px;
      width: 20px;

      @include light-theme {
        @include color-svg('../images/icons/v3/x/x.svg', $color-gray-75);
      }

      @include dark-theme {
        @include color-svg('../images/icons/v3/x/x.svg', $color-gray-15);
      }

      @include keyboard-mode {
        &:focus {
          background-color: $color-ultramarine;
        }
      }
    }

    &--back {
      @include button-reset;

      height: 24px;
      inset-inline-start: 16px;
      position: absolute;
      width: 24px;

      @include light-theme {
        @include color-svg(
          '../images/icons/v3/chevron/chevron-left.svg',
          $color-gray-60
        );
      }

      @include keyboard-mode {
        &:focus {
          @include color-svg(
            '../images/icons/v3/chevron/chevron-left.svg',
            $color-ultramarine
          );
        }
      }

      @include dark-theme {
        @include color-svg(
          '../images/icons/v3/chevron/chevron-left.svg',
          $color-gray-25
        );
      }
      @include dark-keyboard-mode {
        &:hover {
          @include color-svg(
            '../images/icons/v3/chevron/chevron-left.svg',
            $color-ultramarine-light
          );
        }
      }
    }

    h1 {
      @include font-body-1-bold;
    }
  }

  &__list-wrapper {
    flex-grow: 1;
    overflow: hidden;
  }

  &__main-body {
    display: flex;
    flex-direction: column;
    min-height: 300px;
  }

  &__no-candidate-contacts {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__send-button {
    align-items: center;
    border: none;
    border-radius: 100%;
    display: flex;
    height: 32px;
    justify-content: center;
    width: 32px;

    &::after {
      content: '';
      display: block;
      flex-shrink: 0;
      height: 20px;
      width: 20px;
    }

    &--continue {
      &::after {
        height: 24px;
        width: 24px;
        @include color-svg(
          '../images/icons/v3/arrow/arrow-right.svg',
          $color-white
        );
      }
    }

    &--forward {
      &::after {
        @include color-svg(
          '../images/icons/v3/send/send-fill.svg',
          $color-white
        );
      }
    }
  }

  &__footer {
    @include font-body-2;
    align-items: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    padding: $padding;
    position: relative;

    @include light-theme {
      background-color: $color-gray-02;
      color: $color-gray-60;
    }

    @include dark-theme() {
      background: $color-gray-65;
      color: $color-gray-25;
    }
  }

  // Disable cursor since images are non-clickable
  .module-image__image {
    cursor: inherit;
  }
}
