// Copyright 2021 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

.module-GroupInput {
  @include normal-input;

  &__description {
    resize: none;

    &--container {
      margin-bottom: 12px;
      margin-top: 0;
    }

    &--remaining {
      @include font-subtitle;
      bottom: 0;
      color: $color-gray-45;
      margin: 12px;
      position: absolute;
      right: 0;
    }

    &--large {
      height: 280px;
    }
  }

  &--container {
    position: relative;
    margin: 16px;
  }
}
