// Copyright 2021 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@use '../mixins';
@use '../variables';

.GroupDescription {
  &__text {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
    user-select: text;
  }

  &__read-more {
    @include mixins.button-reset();
    & {
      display: inline-block;
      font-weight: bold;
    }
  }
}

.GroupDescriptionText {
  a {
    text-decoration: underline;

    @include mixins.light-theme {
      color: variables.$color-gray-90;
    }
    @include mixins.dark-theme {
      color: variables.$color-gray-02;
    }
  }
}
