// Copyright 2023 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@use '../mixins';
@use '../variables';

.InstallScreenUpdateDialog {
  &__download-size {
    font-weight: 400;
  }

  &__progress {
    &--container {
      @include mixins.light-theme() {
        background-color: variables.$color-gray-15;
      }
      @include mixins.dark-theme() {
        background-color: variables.$color-gray-65;
      }
      & {
        border-radius: 2px;
        height: 4px;
        overflow: hidden;
        width: 100%;
        margin-block: 16px;
        margin-inline: 0;
      }
    }

    &--bar {
      background-color: variables.$color-ultramarine;
      border-radius: 2px;
      display: block;
      height: 100%;
      width: 100%;
      &:dir(ltr) {
        /* stylelint-disable-next-line declaration-property-value-disallowed-list */
        transform: translateX(-100%);
      }
      &:dir(rtl) {
        /* stylelint-disable-next-line declaration-property-value-disallowed-list */
        transform: translateX(100%);
      }
      transition: transform 500ms ease-out;
    }
  }

  a {
    // Prevent breaking the text
    display: inline-block;
  }
}
