// Copyright 2021 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@use '../mixins';
@use '../variables';

.InstallScreenSignalLogo {
  @include mixins.font-title-1;
  align-items: center;
  display: flex;
  font-weight: bold;
  position: absolute;
  top: calc(35px + var(--title-bar-drag-area-height));
  inset-inline-start: 32px;

  &::before {
    @include mixins.color-svg(
      '../images/signal-logo.svg',
      variables.$color-ultramarine-logo
    );
    & {
      content: '';
      display: block;
      height: 32px;
      margin-inline-end: 6px;
      width: 32px;
    }
  }
}
