// Copyright 2021 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

.LeftPaneSearchInput {
  &__input--with-children.module-SearchInput__input--with-children {
    padding-inline-start: 50px;
  }

  &__in-conversation-pill {
    @include button-reset;
    @include rounded-corners;
    align-items: center;
    bottom: 4px;
    display: flex;
    flex-direction: row;
    inset-inline-start: 3px;
    padding-block: 0;
    padding-inline: 0 3px;
    position: absolute;
    top: 4px;

    @include light-theme {
      background-color: $color-gray-25;
    }
    @include dark-theme {
      background-color: $color-gray-80;
    }

    &__x-button {
      height: 16px;
      margin-inline-start: 2px;
      width: 16px;

      @include light-theme {
        @include color-svg('../images/icons/v3/x/x.svg', $color-gray-60);
      }
      @include dark-theme {
        @include color-svg('../images/icons/v3/x/x.svg', $color-gray-25);
      }

      @include light-theme {
        &:hover,
        &:focus,
        &:active {
          background: $color-ultramarine;
        }
      }
      @include dark-theme {
        &:hover,
        &:focus,
        &:active {
          background: $color-ultramarine-light;
        }
      }
    }
  }

  .module-left-pane--width-narrow & {
    &__container {
      display: none;
    }
  }
}
