// Copyright 2023 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@use '../mixins';
@use '../variables';

.LeftPaneBanner {
  margin-block: 4px 8px;
  margin-inline: 10px;
  padding-block: 12px 16px;
  padding-inline-start: 12px;
  padding-inline-end: 7px;

  border-radius: 8px;
  @include mixins.light-theme {
    background-color: variables.$color-gray-15;
    color: variables.$color-gray-75;
  }
  @include mixins.dark-theme {
    background-color: variables.$color-gray-75;
    color: variables.$color-gray-15;
  }

  & {
    @include mixins.font-body-2;
  }

  &__content {
    margin-bottom: 8px;
  }

  &__footer {
    display: flex;
    justify-content: end;
    margin-inline-end: 9px;

    &__action-button {
      @include mixins.button-reset;
      @include mixins.button-focus-outline;
      & {
        @include mixins.font-body-1-bold;
      }

      @include mixins.light-theme {
        color: variables.$color-gray-90;
      }
      @include mixins.dark-theme {
        color: variables.$color-gray-05;
      }
    }
  }
}
