// Copyright 2021 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

.MessageBody {
  &__highlight {
    font-weight: bold;
  }

  &__download-body,
  &__read-more {
    @include button-reset;
    font-weight: bold;

    &:focus {
      @include keyboard-mode {
        border: 1px solid $color-black;
        outline: none;
      }
    }
  }

  &__message-too-long {
    font-weight: bold;
  }

  &__at-mention {
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    padding-inline: 4px;
    border: 1px solid transparent;

    @include light-theme {
      background-color: $color-gray-20;
    }

    @include dark-theme {
      background-color: $color-black-alpha-40;
    }

    &:focus {
      border: 1px solid $color-black;
      outline: none;
    }

    &--incoming {
      @include light-theme {
        background-color: $color-gray-20;
      }

      @include dark-theme {
        background-color: $color-gray-60;
      }
    }

    &--outgoing {
      background-color: $color-black-alpha-40;
    }

    &--invisible {
      visibility: hidden;
    }
  }

  &__author {
    @include font-body-2-medium;
  }
}
