// Copyright 2025 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@use 'sass:map';

@use '../mixins';
@use '../variables';

// These are needed to override Input styling
.NotificationProfiles__NamePage__input {
  margin-top: 6px;
  margin-inline-start: 2px;
}

.NotificationProfiles__NamePage__container {
  max-width: 328px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  width: 100%;
  margin-bottom: 12px;
  border-width: 1px;
}
