// Copyright 2022 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@use '../mixins';
@use '../variables';

.OutgoingGiftBadgeModal {
  text-align: center;

  &__container {
    width: 420px;
    max-width: 420px;
  }

  &__title {
    @include mixins.font-title-2;
    margin-top: 5px;
  }
  &__description {
    @include mixins.font-body-1;
    margin-top: 8px;
    margin-inline: auto;
    width: 328px;
  }
  &__badge {
    margin-top: 34px;
    height: 160px;
    width: 160px;

    &--missing {
      border-radius: 50%;
      margin-inline: auto;

      @include mixins.light-theme {
        background-color: variables.$color-gray-05;
      }
      @include mixins.dark-theme {
        background-color: variables.$color-gray-60;
      }
    }
  }
  &__badge-summary {
    margin-top: 16px;
    margin-bottom: 16px;
    @include mixins.font-body-1-bold;
  }
}
