// Copyright 2021 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

.PermissionsPopup {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;

  @include light-theme() {
    background: $color-white;
    color: $color-gray-90;
  }

  @include dark-theme() {
    background: $color-gray-95;
    color: $color-gray-05;
  }

  &__body {
    @include font-body-1;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;
    width: 100%;

    button {
      margin-left: 16px;
    }
  }
}
