// Copyright 2022 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@use '../mixins';
@use '../variables';

.PlaybackRateButton {
  @include mixins.button-reset;

  & {
    @include mixins.font-body-2-bold;

    width: 38px;
    height: 18px;
    text-align: center;
    font-weight: 700;
    border-radius: 4px;
    font-size: 11px;
    padding-block: 1px;
    padding-inline: 2px;
    margin-block: -2px;
    margin-inline: 0;
    line-height: 16px;
    letter-spacing: 0.05px;
    user-select: none;
  }

  &--message-incoming {
    @include mixins.light-theme {
      color: variables.$color-gray-60;
      background: variables.$color-black-alpha-08;
    }
    @include mixins.dark-theme {
      color: variables.$color-gray-25;
      background: variables.$color-white-alpha-08;
    }
  }
  &--message-outgoing {
    color: variables.$color-white-alpha-80;
    background: variables.$color-white-alpha-20;
  }
  &--mini-player {
    @include mixins.light-theme {
      color: variables.$color-gray-60;
      background: variables.$color-black-alpha-08;
    }
    @include mixins.dark-theme {
      color: variables.$color-gray-25;
      background: variables.$color-white-alpha-08;
    }
  }

  &::after {
    content: '×';
  }
}
