// Copyright 2024 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@use '../mixins';
@use '../variables';

.ProgressCircle {
  fill: none;
  transform: rotate(-90deg);

  .ProgressCircle__fill,
  .ProgressCircle__background {
    fill: none;
  }

  .ProgressCircle__background {
    stroke: variables.$color-gray-20;
    @include mixins.dark-theme() {
      stroke: variables.$color-gray-60;
    }
  }

  .ProgressCircle__fill {
    stroke: variables.$color-ultramarine;
    stroke-linecap: round;
    transition: stroke-dashoffset 500ms ease-out;
  }
}
