// Copyright 2023 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

.RecordingComposer {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 18px;

  &__content {
    display: flex;
    align-items: center;
    gap: 8px;
    flex: 1;
    border-radius: 16px;
    height: 32px;
    padding: 6px 12px;
    overflow: hidden;

    @include light-theme {
      background: $color-gray-05;
    }
    @include dark-theme {
      background: $color-gray-75;
    }
  }

  &__button {
    font-size: 13px;
    min-width: 76px;
    line-height: 18px;
    padding: 5px 16px;
  }
}
