// Copyright 2023 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

.module-SafetyNumberOnboarding {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h2 {
    margin-block: 0 12px;
  }

  p {
    margin-block: 0 25px;
    text-align: start;

    @include font-body-2;
    @include light-theme {
      color: $color-gray-60;
    }

    @include dark-theme {
      color: $color-gray-25;
    }
  }

  svg {
    margin-block: 0 21px;
    border-radius: 12px;
    @include light-theme {
      border: 1.5px solid $color-black-alpha-12;
    }
    @include dark-theme {
      border: 1.5px solid $color-gray-60;
    }
    background: $color-white;
  }

  &__help {
    a {
      @include font-body-1-bold;
      text-decoration: none;
    }
    margin-block: 0 24px;
  }

  &__close {
    width: 296px;
    margin-bottom: 16px;
  }
}
