// Copyright 2021 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

.module-SafetyNumberViewer {
  text-align: center;

  &__icon {
    height: 1.25em;
    width: 1.25em;
    vertical-align: text-bottom;
    display: inline-block;
  }

  &__icon--verified {
    display: inline-block;
    height: 20px;
    margin-inline-end: 4px;
    vertical-align: text-bottom;
    width: 20px;

    @include light-theme {
      @include color-svg('../images/icons/v3/check/check.svg', $color-gray-95);
    }

    @include dark-theme {
      @include color-svg('../images/icons/v3/check/check.svg', $color-gray-02);
    }
  }

  &__icon--shield {
    display: inline-block;
    height: 20px;
    margin-inline-end: 4px;
    vertical-align: text-bottom;
    width: 20px;

    @include light-theme {
      @include color-svg(
        '../images/icons/v3/safety_number/safety_number.svg',
        $color-gray-95
      );
    }

    @include dark-theme {
      @include color-svg(
        '../images/icons/v3/safety_number/safety_number.svg',
        $color-gray-02
      );
    }
  }

  &__number {
    border-radius: 8px;
    font-family: $monospace;
    height: 100px;
    margin-block: 24px;
    margin-inline: auto;
    padding: 24px;
    width: 240px;

    @include light-theme {
      background-color: $color-gray-02;
    }
    @include dark-theme {
      background-color: $color-gray-90;
    }
  }

  &__verification-status {
    margin-block: 30px 10px;
    margin-inline: 0;
    text-align: center;
  }

  &__buttons {
    text-align: end;
  }

  &__button {
    margin-top: 30px;
  }

  &__modal.module-Modal {
    max-width: 500px;
  }
}
