// Copyright 2018 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@use '../mixins';
@use '../variables';

.ScrollDownButton {
  position: relative;

  height: 36px;
  width: 36px;

  display: flex;
  border-radius: 18px;
  border: none;
  outline: none;
  align-items: center;
  justify-content: center;

  box-shadow:
    0px 0px 2px variables.$color-black-alpha-20,
    0px 2px 6px variables.$color-black-alpha-12;

  @include mixins.light-theme {
    background-color: variables.$color-white;
  }
  @include mixins.dark-theme {
    background-color: variables.$color-gray-75;
  }

  &__icon--unread-mentions {
    height: 17px;
    width: 17px;
    @include mixins.light-theme {
      @include mixins.color-svg(
        '../images/icons/v3/at/at.svg',
        variables.$color-gray-75
      );
    }

    @include mixins.dark-theme {
      @include mixins.color-svg(
        '../images/icons/v3/at/at.svg',
        variables.$color-gray-15
      );
    }
  }

  &__icon--unread-messages {
    height: 20px;
    width: 20px;
    @include mixins.light-theme {
      @include mixins.color-svg(
        '../images/icons/v3/chevron/chevron-down.svg',
        variables.$color-gray-75
      );
    }

    @include mixins.dark-theme {
      @include mixins.color-svg(
        '../images/icons/v3/chevron/chevron-down.svg',
        variables.$color-gray-15
      );
    }
  }

  &__badge {
    position: absolute;
    top: -8px;
    height: 16px;
    min-width: 16px;
    border-radius: 8px;
    padding-block: 1px;
    padding-inline: 4px;
    background-color: variables.$color-ultramarine;
    color: variables.$color-white;

    font-size: 10px;
    line-height: 14px;

    box-shadow: 0px 1px 4px variables.$color-black-alpha-24;
  }
}
