// Copyright 2021 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@use '../mixins';

// These styles should match the "real" contact/conversation row.
.module-SearchResultsLoadingFakeRow {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 10px;
  padding-inline: 14px;
  margin-block: 2px;
  margin-inline: 0;

  &__avatar {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    @include mixins.search-results-loading-pulsating-background;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    margin-inline-start: 12px;

    &__line {
      &:nth-child(1) {
        @include mixins.search-results-loading-box(30%);
        & {
          margin-bottom: 8px;
        }
      }

      &:nth-child(2) {
        @include mixins.search-results-loading-box(90%);
        & {
          margin-bottom: 8px;
        }
      }

      &:nth-child(3) {
        @include mixins.search-results-loading-box(60%);
      }
    }
  }
}
