// Copyright 2021 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

.module-SearchInput {
  &__container {
    border-radius: 8px;
    border: none;
    margin: 10px 16px;
    padding: 5px 12px;
    position: relative;

    @include font-body-2;

    @include light-theme {
      background-color: $color-black-alpha-08;
      border: solid 1px $color-gray-02;
      color: $color-gray-90;
    }

    @include dark-theme {
      background: $color-gray-90;
      border: solid 1px $color-gray-90;
      color: $color-gray-05;
    }

    &:focus-within {
      border: solid 1px $color-ultramarine;
      outline: none;
    }
  }

  &__icon {
    @include color-svg('../images/icons/v2/search-16.svg', $color-gray-45);
    cursor: text;
    height: 16px;
    left: 8px;
    position: absolute;
    top: 6px;
    width: 16px;
  }

  &__input {
    background: transparent;
    border: none;
    padding-left: 16px;
    width: 100%;

    &:placeholder {
      color: $color-gray-45;
    }

    @include light-theme {
      color: $color-black;
    }

    @include dark-theme {
      color: $color-gray-05;
    }

    &:focus {
      outline: none;
    }
  }
}
