// Copyright 2023 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@use '../mixins';
@use '../variables';

.SelectModeActions {
  display: flex;
  align-items: center;
  width: 100%;
  padding-inline: 4px;
}

.SelectModeActions__selectedMessages {
  flex: 1;
  padding-block: 17px;
  padding-inline: 10px;
  @include mixins.font-body-1;
  @include mixins.light-theme() {
    color: variables.$color-gray-60;
  }
  @include mixins.dark-theme() {
    color: variables.$color-gray-25;
  }
}

.SelectModeActions__button {
  appearance: none;
  padding: 12px;
  border: none;
  background: transparent;
}

.SelectModeActions__icon {
  display: block;
  width: 20px;
  height: 20px;
  @include mixins.light-theme {
    color: variables.$color-gray-75;
  }
  @include mixins.dark-theme {
    color: variables.$color-gray-15;
  }

  .SelectModeActions__button--disabled & {
    @include mixins.light-theme {
      color: variables.$color-gray-25;
    }
    @include mixins.dark-theme {
      color: variables.$color-gray-60;
    }
  }
}

.SelectModeActions__icon--exitSelectMode {
  @include mixins.color-svg('../images/icons/v3/x/x.svg', currentColor);
}

.SelectModeActions__icon--forwardSelectedMessages {
  @include mixins.color-svg(
    '../images/icons/v3/forward/forward.svg',
    currentColor
  );
}

.SelectModeActions__icon--deleteSelectedMessages {
  @include mixins.color-svg('../images/icons/v3/trash/trash.svg', currentColor);
}
