// Copyright 2022 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

.SignalConnectionsModal {
  color: $color-gray-05;

  &__icon {
    @include color-svg(
      '../images/icons/v2/signal-connections.svg',
      $color-ultramarine-light
    );
    display: block;
    height: 69px;
    margin: 0 auto;
    margin-bottom: 24px;
    width: 75px;
  }

  &__list {
    margin: 16px 0;

    li {
      margin: 8px 0;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    margin-top: 24px;

    button {
      min-width: 150px;
    }
  }
}
