// Copyright 2022 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

.SignalConnectionsModal {
  &__icon {
    @include color-svg(
      '../images/icons/v2/signal-connections.svg',
      $color-ultramarine-light
    );
    display: block;
    height: 69px;
    margin-block: 0;
    margin-inline: auto;
    margin-bottom: 24px;
    width: 75px;
  }

  &__list {
    margin-block: 16px;
    margin-inline: 0;

    li {
      margin-block: 8px;
      margin-inline: 0;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    margin-top: 24px;

    button {
      min-width: 150px;
    }
  }
}
