// Copyright 2022 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

.StoryViewer {
  &__overlay {
    background-size: contain;
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: $z-index-popup-overlay;
  }

  &__content {
    align-items: center;
    backdrop-filter: blur(90px);
    background: $color-black-alpha-20;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: $z-index-popup-overlay;
  }

  &__close-button {
    @include button-reset;
    @include modal-close-button;
    right: 28px;
    top: var(--title-bar-drag-area-height);
    z-index: $z-index-above-base;
  }

  &__more {
    @include button-reset;
    height: 24px;
    position: absolute;
    right: 80px;
    top: var(--title-bar-drag-area-height);
    width: 24px;
    z-index: $z-index-above-base;

    @include color-svg('../images/icons/v2/more-horiz-24.svg', $color-white);

    @include keyboard-mode {
      &:focus {
        background-color: $color-ultramarine;
      }
    }
  }

  &__container {
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    z-index: $z-index-base;
  }

  &__story {
    max-height: 100%;
    outline: none;
    width: auto;
  }

  &__meta {
    bottom: 0;
    left: 50%;
    padding: 0 16px;
    position: absolute;
    transform: translateX(-50%);
    width: 284px;
    z-index: $z-index-above-base;

    &--group-avatar {
      margin-left: -8px;
    }

    &--title {
      @include font-body-1-bold;
      color: $color-white;
      display: inline;
      margin: 0 8px;
    }

    &--timestamp {
      @include font-body-2;
      color: $color-white-alpha-60;
    }
  }

  &__caption {
    @include font-body-1-bold;
    color: $color-gray-05;
    padding: 4px 0;
    margin-bottom: 24px;

    &__overlay {
      @include button-reset;
      background: $color-black-alpha-60;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: $z-index-base;
    }
  }

  &__actions {
    display: flex;
    justify-content: center;
    min-height: 60px;
  }

  &__reply {
    @include button-reset;
    color: $color-gray-05;
    @include keyboard-mode {
      &:focus {
        color: $color-ultramarine;
      }
    }
  }

  &__progress {
    display: flex;

    &--container {
      background: $color-white-alpha-40;
      border-radius: 2px;
      height: 2px;
      margin: 12px 1px 0 1px;
      overflow: hidden;
      width: 100%;
    }

    &--bar {
      background: $color-white;
      background-size: 200% 100%;
      border-radius: 2px;
      display: block;
      height: 100%;
    }
  }
}
