// Copyright 2022 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

.Stories {
  background: $color-gray-95;
  display: flex;
  height: var(--window-height);
  inset-inline-start: 0;
  position: absolute;
  top: 0;
  user-select: none;
  width: 100%;
  z-index: $z-index-stories;

  &__pane {
    background: $color-gray-80;
    border-inline-end: 1px solid $color-gray-65;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 380px;
    padding-top: calc(14px + var(--title-bar-drag-area-height));

    &__add-story__button {
      @include color-svg('../images/icons/v3/plus/plus.svg', $color-white);
      height: 20px;
      position: absolute;
      inset-inline-end: 64px;
      top: 0px;
      width: 20px;

      &:focus {
        @include keyboard-mode {
          background-color: $color-ultramarine;
        }
      }
    }

    &__settings__button {
      @include dark-theme {
        @include color-svg('../images/icons/v3/more/more.svg', $color-white);
      }
      height: 20px;
      margin-inline-start: 20px;
      opacity: 1;
      position: absolute;
      inset-inline-end: 24px;
      top: 0px;
      width: 20px;

      &:focus {
        @include keyboard-mode {
          background-color: $color-ultramarine;
        }
      }
    }

    &__header {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding-block: 0;
      padding-inline: 16px;
      position: relative;

      &--centered {
        justify-content: flex-start;
      }

      &--title {
        @include font-body-1-bold;
        color: $color-gray-05;
        display: flex;
        flex: 1;
        justify-content: center;
      }

      &--centered .Stories__pane__header--title {
        text-align: center;
        width: 100%;
      }

      &--back {
        @include button-reset;

        -webkit-app-region: no-drag;
        height: 20px;
        position: absolute;
        width: 20px;

        @include color-svg(
          '../images/icons/v3/chevron/chevron-left.svg',
          $color-white
        );

        @include keyboard-mode {
          &:hover {
            @include color-svg(
              '../images/icons/v3/chevron/chevron-left.svg',
              $color-ultramarine-light
            );
          }
        }
      }
    }

    &__list {
      @include scrollbar;
      display: flex;
      flex-direction: column;
      flex: 1;
      overflow-y: overlay;
      padding-block: 0;
      padding-inline: 14px;

      &--empty {
        @include font-body-1;
        align-items: center;
        color: $color-gray-45;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
      }
    }
  }

  &__search__container {
    margin-block: 14px 10px;
    margin-inline: 16px;
  }

  &__placeholder {
    align-items: center;
    color: $color-gray-45;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;

    &__stories {
      height: 56px;
      margin-bottom: 22px;
      width: 56px;

      @include color-svg(
        '../images/icons/v3/stories/stories-display.svg',
        $color-gray-45
      );
    }
  }

  &__hidden-stories {
    @include button-reset;
    @include font-body-1-bold;
    align-items: center;
    color: $color-gray-05;
    display: flex;
    justify-content: space-between;
    padding-block: 12px;
    padding-inline: 24px;
    position: relative;
    width: 100%;

    &::after {
      @include color-svg(
        '../images/icons/v3/chevron/chevron-right.svg',
        $color-gray-05
      );
      content: '';
      height: 16px;
      width: 16px;
    }

    &--expanded {
      // Override color-svg
      :dir(ltr) &::after,
      :dir(rtl) &::after {
        @include color-svg(
          '../images/icons/v3/chevron/chevron-down.svg',
          $color-gray-05
        );
      }
    }
  }
}
