// Copyright 2022 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only
.Stories {
  display: flex;
  height: 100vh;
  inset-inline-start: 0;
  position: absolute;
  top: 0;
  user-select: none;
  width: 100%;
  z-index: $z-index-stories;
  @include light-theme {
    background: $color-white;
  }
  @include dark-theme {
    background: $color-gray-95;
  }

  &__pane {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 380px;
    padding-top: calc(2px + var(--title-bar-drag-area-height));
    @include light-theme {
      background: $color-gray-04;
      border-inline-end: 1px solid $color-black-alpha-16;
    }
    @include dark-theme {
      background: $color-gray-80;
      border-inline-end: 1px solid $color-white-alpha-16;
    }

    &__add-story__container {
      padding: 4px;
      border-radius: 4px;
      &:hover,
      &:focus {
        @include light-theme {
          background-color: $color-black-alpha-06;
        }
        @include dark-theme {
          background-color: $color-white-alpha-06;
        }
      }
    }

    &__add-story__button {
      height: 20px;
      width: 20px;
      @include light-theme {
        @include color-svg('../images/icons/v3/plus/plus.svg', $color-black);
      }
      @include dark-theme {
        @include color-svg('../images/icons/v3/plus/plus.svg', $color-gray-15);
      }

      &:focus {
        @include keyboard-mode {
          background-color: $color-ultramarine;
        }
      }
    }

    &__header {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding-block: 0;
      padding-inline: 16px;
      position: relative;

      &--centered {
        justify-content: flex-start;
      }

      &--title {
        @include font-title-medium;
        flex: 1;
        @include light-theme {
          color: $color-black;
        }
        @include dark-theme {
          color: $color-gray-05;
        }
      }

      &--centered .Stories__pane__header--title {
        text-align: center;
        width: 100%;
      }
    }

    &__list {
      @include NavTabs__Scroller;
      display: flex;
      flex-direction: column;
      flex: 1;
      overflow-y: overlay;
      padding-inline: 16px;

      &--empty {
        @include font-body-1;
        align-items: center;
        @include light-theme() {
          color: $color-gray-60;
        }
        @include dark-theme() {
          color: $color-gray-45;
        }
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
      }
    }
  }

  &__placeholder {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    opacity: 0.7;
    padding-block: 78px 28px;

    @include light-theme {
      color: $color-gray-60;
    }
    @include dark-theme {
      color: $color-gray-25;
    }

    &__icon {
      margin-bottom: 12px;
      width: 40px;
      height: 40px;
      @include light-theme {
        @include color-svg(
          '../images/icons/v3/stories/stories-display-bold.svg',
          $color-gray-60
        );
      }
      @include dark-theme {
        @include color-svg(
          '../images/icons/v3/stories/stories-display-bold.svg',
          $color-gray-25
        );
      }
    }

    &__text {
      text-align: center;
    }

    &__text__action {
      vertical-align: text-top;
      display: inline-block;

      width: 16px;
      height: 16px;
      @include light-theme {
        @include color-svg('../images/icons/v3/plus/plus.svg', $color-gray-60);
      }
      @include dark-theme {
        @include color-svg('../images/icons/v3/plus/plus.svg', $color-gray-25);
      }
    }
  }

  &__hidden-stories {
    @include button-reset;
    @include font-body-1-bold;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-block: 12px;
    padding-inline: 24px;
    position: relative;
    width: 100%;
    @include light-theme {
      color: $color-black;
    }
    @include dark-theme {
      color: $color-gray-05;
    }

    &::after {
      content: '';
      height: 16px;
      width: 16px;
    }

    &--collapsed {
      &::after {
        @include light-theme {
          @include color-svg(
            '../images/icons/v3/chevron/chevron-right.svg',
            $color-black
          );
        }
        @include dark-theme {
          @include color-svg(
            '../images/icons/v3/chevron/chevron-right.svg',
            $color-gray-05
          );
        }
      }
    }

    &--expanded {
      &::after {
        @include light-theme {
          @include color-svg(
            '../images/icons/v3/chevron/chevron-down.svg',
            $color-black
          );
        }
        @include dark-theme {
          @include color-svg(
            '../images/icons/v3/chevron/chevron-down.svg',
            $color-gray-05
          );
        }
      }
    }
  }
}

.StoriesTab__MoreActionsIcon {
  display: block;
  width: 20px;
  height: 20px;
  @include light-theme {
    @include color-svg('../images/icons/v3/more/more.svg', $color-black);
  }
  @include dark-theme {
    @include color-svg('../images/icons/v3/more/more.svg', $color-gray-15);
  }
}
