// Copyright 2022 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

.StoriesSettingsModal {
  &__conversation-list {
    .module-conversation-list,
    .module-conversation-list__item--contact-or-conversation {
      padding-left: 0;
      padding-right: 0;
    }

    .module-conversation-list__item--contact-or-conversation__checkbox--container {
      height: 20px;
      margin-right: 8px;
      position: relative;
      width: 20px;
    }

    input[type='checkbox'] {
      background: transparent;
      border: none;
      cursor: pointer;
      display: block;
      height: 0;
      margin: 0;
      min-width: 0;
      position: absolute;
      width: 0;

      @include keyboard-mode {
        &:focus {
          &::before {
            border-color: $color-ultramarine;
          }
          outline: none;
        }
      }

      &::before {
        @include rounded-corners;
        background: inherit;
        border: 1.5px solid $color-gray-60;
        content: '';
        display: block;
        height: 20px;
        position: absolute;
        width: 20px;
      }

      &:checked {
        &::before {
          -webkit-mask: none;
          background: $color-ultramarine;
          border: 1.5px solid $color-ultramarine;
        }

        &::after {
          border: solid $color-white;
          border-width: 0 2px 2px 0;
          content: '';
          display: block;
          height: 11px;
          left: 7px;
          position: absolute;
          top: 3px;
          transform: rotate(45deg);
          width: 6px;
        }
      }
    }
  }

  &__list {
    @include button-reset;
    @include font-body-1;
    align-items: center;
    display: flex;
    height: 52px;
    justify-content: space-between;
    width: 100%;

    &--no-pointer {
      cursor: inherit;
    }

    &__viewers {
      color: $color-gray-25;
    }

    &__left {
      display: flex;
      align-items: center;
    }

    &__avatar {
      @mixin avatar($svg) {
        @include rounded-corners;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        background: $color-gray-75;

        &::after {
          @include color-svg($svg, $color-white);
          content: '';
          height: 20px;
          width: 20px;
        }
      }

      &--new {
        @include avatar('../images/icons/v2/plus-20.svg');
      }

      &--private {
        @include avatar('../images/icons/v2/lock-outline-24.svg');

        &::after {
          height: 16px;
          width: 12px;
        }

        &--large {
          height: 64px;
          width: 64px;

          &::after {
            height: 24px;
            width: 18px;
          }
        }
      }
    }

    &__title {
      margin-left: 12px;
    }

    &__delete {
      @include button-reset;
      @include color-svg(
        '../images/icons/v2/trash-outline-24.svg',
        $color-gray-25
      );
      height: 20px;
      width: 20px;
      visibility: hidden;
    }

    &:hover &__delete {
      visibility: visible;
    }
  }

  &__divider {
    border-color: $color-gray-65;
    border-style: solid;
  }

  &__title {
    @include font-body-1-bold;
    margin-top: 24px;
  }

  &__delete-list {
    @include button-reset;
    align-items: center;
    color: $color-accent-red;
    display: flex;
    height: 52px;
    width: 100%;

    &::before {
      @include color-svg(
        '../images/icons/v2/trash-outline-24.svg',
        $color-accent-red
      );
      content: '';
      height: 20px;
      margin-right: 20px;
      width: 20px;
    }
  }

  &__checkbox {
    margin: 18px 0;
  }

  &__conversation-list {
    flex-grow: 1;
    min-height: 300px;
    overflow: hidden;
  }

  &__search {
    &__container {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__tags {
    margin: 0 -4px;
  }

  &__tag {
    align-items: center;
    background: $color-gray-75;
    border-radius: 26px;
    color: $color-gray-05;
    display: inline-flex;
    padding: 4px 0;
    margin: 0 4px;

    &__name {
      margin-left: 4px;
    }

    &__remove {
      @include button-reset;
      @include color-svg('../images/icons/v2/x-24.svg', $color-gray-15);
      height: 12px;
      margin: 0 8px;
      width: 12px;
    }
  }

  &__name-story-avatar-container {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__disclaimer {
    @include font-subtitle;
    color: $color-gray-25;

    &__learn-more {
      @include button-reset;
      color: $color-gray-05;
    }
  }
}
