// Copyright 2025 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@use '../mixins';
@use '../variables';

.TapToViewNotAvailableModal__width-container {
  max-width: 440px;
}

.TapToViewNotAvailableModal__body {
  padding-block: 16px 0;
  padding-inline: 16px;
}

.TapToViewNotAvailableModal .module-Button {
  padding-inline: 24px;
}
