// Copyright 2022 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@use '../mixins';
@use '../variables';

.TimelineDateHeader {
  @include mixins.font-body-2;
  display: block;
  text-align: center;
  user-select: none;

  @include mixins.light-theme {
    color: variables.$color-gray-60;
  }
  @include mixins.dark-theme {
    color: variables.$color-gray-05;
  }

  &--inline {
    padding: 20px;
  }

  &--floating {
    @include mixins.timeline-floating-header-node;
    & {
      padding-block: 5px;
      padding-inline: 10px;
    }
  }
}
