// Copyright 2021-2022 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

.module-TimelineWarnings {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: $z-index-above-above-base;

  display: flex;
  flex-direction: column;
}
