// Copyright 2022 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

.TitleBarContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__title {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw * var(--zoom-factor));
    z-index: $z-index-window-controls;
    transform: scale(calc(1 / var(--zoom-factor)));
    transform-origin: 0 0;

    // This matches the inline styles of frameless-titlebar
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial,
      sans-serif;

    & button {
      font-family: inherit;
    }

    // Shift titlebar down 1px on Windows 11 because otherwise window border
    // will cover it.
    &--extra-padding {
      padding-top: 1px;
    }
  }

  &__content {
    margin-top: var(--titlebar-height);
    height: var(--window-height);
    position: relative;
  }
}
