// Copyright 2021 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

.Toast {
  $border-radius-px: 8px;

  @include font-body-2;

  position: absolute;
  align-items: stretch;
  border-radius: $border-radius-px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05), 0px 4px 12px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  user-select: none;
  overflow: hidden;
  z-index: $z-index-toast;
  bottom: 62px;
  max-width: 280px;
  background-color: $color-gray-75;
  color: $color-gray-05;
  outline: none;

  &:focus:focus-visible {
    box-shadow: inset 0px 0px 0px 2px $color-ultramarine;
  }

  &--align-center {
    @include position-absolute-center-x;
    text-align: center;
  }

  &--align-left {
    inset-inline-start: 20px;
    bottom: 18px;
    text-align: start;
  }

  &__content {
    padding-block: 13px;
    padding-inline: 16px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    @include font-body-2-bold;
    cursor: pointer;
    padding-block: 13px;
    padding-inline: 16px;
    white-space: nowrap;
    color: $color-ultramarine-light;
    outline: none;

    &:focus:focus-visible {
      box-shadow: inset 0px 0px 0px 2px $color-ultramarine;
    }
  }
}
