// Copyright 2021 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

.Toast {
  @include font-body-2;

  border-radius: 4px;
  bottom: 62px;
  left: 50%;
  padding: 8px 16px;
  position: absolute;
  text-align: center;
  transform: translate(-50%, 0);
  user-select: none;
  z-index: 100;

  @include light-theme {
    background-color: $color-gray-75;
    color: $color-white;
    box-shadow: 0 4px 16px 0 $color-black-alpha-20,
      0 0 0 0.5px $color-black-alpha-05;
  }
  @include dark-theme {
    background-color: $color-gray-45;
    color: $color-white;
    box-shadow: 0 4px 16px 0 $color-white-alpha-20;
  }

  &--clickable {
    cursor: pointer;
  }
}
