.notifications {
  position:relative;
  font-size: 12px;
  .notification {
    padding:12px;
    p {
      margin:0;
    }
    &.info {
      background-color:whitesmoke;
      border-bottom:1px solid lightgray;
    }
    &.alert {}
    &.warning {}
    &.success {}
    a.button {
      position: absolute;
      cursor:pointer;
      right:10px;
      top:11px;
      background-color:whitesmoke;
      text-decoration: none;
      color:gray;
      border:1px solid lightgray;
      font-weight: bold;
      font-size: 10px;
      text-align: center;
      padding:2px;
      box-sizing: border-box;
      display:block;
      height:18px;
      width:18px;
      border-radius:18px;
      &:hover {
        background-color:lightgray;
      }
    }
  }
}
