@import '../../stylesheets/variables';

.base {
  background-color: $color-signal-blue;
  padding: 6px 12px;
  border-radius: 16px;
  color: $color-white-alpha-90;
  font: {
    size: 12px;
    family: $inter;
    weight: normal;
  }
}
