// Copyright 2019-2020 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@import '../../stylesheets/variables';

.base {
  padding: 6px 12px;
}

.image {
  width: 116px;
  height: 116px;
}
