// Copyright 2019-2020 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@import '../../stylesheets/variables';
@import '../mixins';

.base {
  height: 47px;
  width: 100%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding: 0 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;

  @include light-theme() {
    border-bottom-color: $color-gray-15;
  }

  @include dark-theme() {
    border-bottom-color: $color-gray-75;
  }
}
