// Copyright 2019-2021 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@import '../../stylesheets/variables';
@import '../mixins';

.base {
  height: 4px;
  width: 100%;
  max-width: 448px;

  @include light-theme() {
    background: $color-gray-15;
  }

  @include dark-theme() {
    background: $color-gray-75;
  }
}

.bar {
  height: 4px;
  width: 0px;
  background: $color-ultramarine;

  transition: width 100ms ease-out;
}
