// Copyright 2019-2020 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@import '../../stylesheets/variables';

.base {
  padding: 8px 12px;
  border-radius: 4px;
  border: none;
  background-color: $color-gray-75;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08), 0 8px 20px 0px rgba(0, 0, 0, 0.33);
  font-family: $inter;
  font-weight: normal;
  font-size: 14px;
  color: $color-gray-05;
  line-height: 18px;
  cursor: pointer;
}
