// Copyright 2019-2021 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@import '../../stylesheets/variables';
@import '../mixins';

.base {
  font-family: $inter;
  margin: 0;
}

.heading {
  composes: base;
  font-weight: 500;
}

.h1 {
  composes: heading;
  font-size: 16px;
  line-height: 20px;

  @include light-theme() {
    color: $color-gray-90;
  }

  @include dark-theme() {
    color: $color-gray-05;
  }
}

.h2 {
  composes: heading;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 8px;

  @include light-theme() {
    color: $color-gray-90;
  }

  @include dark-theme() {
    color: $color-white;
  }
}

.text {
  composes: base;
  font-size: 13px;
  line-height: 18px;

  @include light-theme() {
    color: $color-gray-90;
  }

  @include dark-theme() {
    color: $color-white;
  }

  a {
    color: $color-ultramarine;
    text-decoration: none;
  }
}

.text-center {
  composes: text;
  text-align: center;
}

.secondary {
  @include light-theme() {
    color: $color-gray-60;
  }

  @include dark-theme() {
    color: $color-gray-25;
  }
}
