/*
 * This is a series-d manifest file. 
 * 
 *  Here, we import responsive variables specified elsewhere
 *
 */


/* SERIES D SHAME + WIP */

  $D7: 'screen and (min-width: 320px)'; /* includes iPhone, */
  $D6: 'screen and (min-width: 480px)';
  $D5: 'screen and (min-width: 822px)';
  $D4: 'screen and (min-width: 1081px)';
  $D3: 'screen and (min-width:1441px)';