// Copyright 2025 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@use '../../variables';
@use '../../mixins';

.FunButton {
  @include mixins.button-reset();
  & {
    border-radius: 4px;
    background: none;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:focus {
    outline: none;
    @include mixins.keyboard-mode {
      outline: 2px solid variables.$color-ultramarine;
    }
  }

  &[aria-expanded='true'] {
    background: light-dark(variables.$color-gray-05, variables.$color-gray-75);
  }
}

.FunButton__Icon {
  display: block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.FunButton__Icon--FunPicker,
.FunButton__Icon--EmojiPicker {
  @include mixins.color-svg(
    '../images/icons/v3/emoji/emoji.svg',
    light-dark(variables.$color-gray-75, variables.$color-gray-15)
  );
}

.FunButton__Icon--StickerPicker {
  @include mixins.color-svg(
    '../images/icons/v3/sticker/sticker.svg',
    light-dark(variables.$color-gray-75, variables.$color-gray-15)
  );
}
