// Copyright 2025 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@use '../../mixins';
@use '../../variables';
@use './FunConstants.scss';

.FunItem__Button {
  position: relative;
  z-index: 0;
  @include mixins.button-reset();
  & {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    vertical-align: top;
    padding: 2px;
    border-radius: 10px;
  }

  &:hover,
  &:focus {
    background: var(--axo-color-fill-primary);
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    @include mixins.axo-focus-ring-inset;
  }
}
