// Copyright 2025 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@use '../../mixins';
@use '../../variables';
@use './FunConstants.scss';

.FunSkinTones__ListBox {
  display: flex;
  flex-direction: row;
}

.FunSkinTones__ListBoxItem {
  padding: 1px;

  &:focus {
    // Handled in .FunSkinTones__ListBoxItem
    outline: none;
  }
}

.FunSkinTones__ListBoxItemButton {
  padding: 4px;
  border-radius: 10px;

  .FunSkinTones__ListBoxItem:hover &,
  .FunSkinTones__ListBoxItem:focus & {
    background: var(--axo-color-fill-primary);
  }

  .FunSkinTones__ListBoxItem:focus-visible & {
    @include mixins.axo-focus-ring-inset;
  }

  .FunSkinTones__ListBoxItem[data-selected='true'] & {
    background: var(--axo-color-fill-primary-pressed);
  }
}
