// Copyright 2021 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

.module-GroupTitleInput {
  margin: 16px;
  @include font-body-1;
  padding: 8px 12px;
  border-radius: 6px;
  border: 2px solid $color-gray-15;
  background: $color-white;
  color: $color-black;

  &:focus {
    outline: none;

    @include light-theme {
      border-color: $ultramarine-ui-light;
    }
    @include dark-theme {
      border-color: $ultramarine-ui-dark;
    }
  }
}
