@media #{$D7} {
  .search {
    padding:10px;
    border-bottom:1px solid whitesmoke;
    input[type=search] {
      box-sizing: border-box;
      font-size:12px;
      outline:0;
      width:100%;
      margin:0;
      letter-spacing: 0.25px;
      padding:4px 8px;
      border:1px solid lightgray;
    }
  }
  .gutter .search {
    display:none;
  }
}

@media #{$D6} {
  .search {
    display:none;
  }
  .gutter .search {
    display:block;
  }
}