@import './mixins';

@keyframes panel--in {
  from {
    transform: translateX(500px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.conversation {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  @include light-theme {
    background-color: $color-white;
  }

  @include dark-theme {
    background-color: $color-gray-95;
  }

  .panel {
    height: calc(100% - #{$header-height});
    overflow-y: scroll;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 48px;
    width: 100%;
    height: calc(100% - 48px);

    @include light-theme() {
      background-color: $color-white;
    }

    @include dark-theme() {
      background-color: $color-gray-95;
    }
  }

  .panel {
    &:not(.main) {
      animation: panel--in 250ms ease-out;
    }

    &--static {
      animation: none;
    }

    &--remove {
      transform: translateX(500px);
      opacity: 0;
      transition: all 250ms ease-out;
    }

    .container {
      padding-top: 20px;
      max-width: 750px;
      margin: 0 auto;
      padding: 20px;
    }
  }

  .main.panel {
    display: flex;
    flex-direction: column;
    overflow: initial;
  }

  .main.panel {
    .timeline-placeholder {
      flex-grow: 1;
      position: relative;
      max-width: 100%;
      margin: 0;

      .timeline-wrapper {
        -webkit-padding-start: 0px;
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-y: auto;
        overflow-x: hidden;
      }
    }
  }
}

// Make sure the main panel is hidden when other panels are in the dom
.panel + .main.panel {
  display: none;
}

.message-detail-wrapper {
  height: calc(100% - 48px);
  width: 100%;
  overflow-y: auto;
}

.discussion-container {
  @include light-theme {
    background-color: $color-white;
  }

  @include dark-theme {
    background-color: $color-gray-95;
  }
}

.key-verification {
  .container {
    outline: none;
  }

  label {
    display: block;
    margin: 10px 0;
  }

  .icon {
    height: 1.25em;
    width: 1.25em;
    vertical-align: text-bottom;
    display: inline-block;

    &.verified {
      @include light-theme {
        @include color-svg('../images/icons/v2/check-24.svg', $color-gray-95);
      }
      @include dark-theme {
        @include color-svg('../images/icons/v2/check-24.svg', $color-gray-02);
      }
    }
    &.shield {
      @include light-theme {
        @include color-svg(
          '../images/icons/v2/safety-number-outline-24.svg',
          $color-gray-95
        );
      }
      @include dark-theme {
        @include color-svg(
          '../images/icons/v2/safety-number-solid-24.svg',
          $color-gray-02
        );
      }
    }
  }

  .key,
  .placeholder {
    padding: 0 1em;
    -webkit-user-select: text;
  }
  .key {
    font-family: monospace;
    padding: 10px;
    margin: 20px auto 20px auto;
    width: 16em;
    border-radius: 5px;

    @include light-theme {
      background: $color-gray-02;
      border: solid 1px $color-gray-15;
    }

    @include dark-theme {
      color: $color-gray-02;
      background: $color-gray-90;
      border: solid 1px $color-gray-45;
    }
  }
  .placeholder {
    font-weight: bold;
  }
  .qr {
    border-radius: 200px;
    border: solid 1px $color-gray-15;
    width: 150px;
    height: 150px;
    text-align: center;
    padding: 25px;
    margin: 10px auto;
    canvas {
      display: none;
    }
    img {
      display: inline-block;
      max-width: 100%;
    }
  }

  .summary {
    margin: 30px 0 10px;
    text-align: center;
  }

  div.verify {
    text-align: center;
  }
  button.verify {
    border-radius: 5px;
    font-weight: bold;
    padding: 10px;
    margin: 0;
  }
}

.typing-bubble-wrapper {
  margin-bottom: 20px;
}

.contact-detail-pane {
  overflow-y: scroll;
  padding-top: 40px;
  padding-bottom: 40px;
}

.bottom-bar {
  .module-quote {
    margin: 0;

    border-left-style: none;
    @include ios-theme {
      background-color: $color-signal-blue-alpha-25;
      border-left-color: $color-signal-blue;
    }
  }

  @include ios-dark-theme {
    .module-quote__primary__author {
      color: $color-gray-05;
    }

    .module-quote__primary__type-label {
      color: $color-gray-05;
    }

    .module-quote__generic-file__text {
      color: $color-gray-05;
    }

    .module-quote__primary__text {
      color: $color-gray-05;
      a {
        color: $color-gray-05;
      }
    }
  }
}

// We need to use the wrapper because the conversation view calculates the height of all
//   things in the composition area. A margin on an inner div won't be included in that
//   height calculation.
.bottom-bar .quote-wrapper {
  margin-left: 18px;
  margin-right: 18px;
  margin-top: 3px;
}

.bottom-bar .preview-wrapper {
  margin-top: 3px;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 2px;
}

.bottom-bar {
  box-sizing: content-box;
  $button-width: 36px;

  form.active {
    textarea {
      border: solid 1px $color-signal-blue;
    }
  }

  form.send {
    margin-bottom: 0px;
    @include light-theme {
      background: $color-white;
    }
    @include dark-theme {
      background-color: $color-gray-95;
    }
  }

  .flex {
    display: flex;
    flex-direction: row;

    .send-message {
      flex-grow: 1;
    }
  }

  .choose-file {
    float: left;
    height: 36px;
  }
  .send-message {
    display: block;
    max-height: 100px;
    padding: 10px;
    margin-top: 3px;
    margin-bottom: 6px;
    border-radius: 20px;

    resize: none;
    font-size: 1em;
    font-family: inherit;

    @include light-theme {
      background-color: $color-gray-02;
      color: $color-gray-95;
      border: 1px solid $color-black-alpha-20;
      outline: 0;
    }

    @include dark-theme {
      background-color: $color-gray-90;
      color: $color-gray-02;
      border: 1px solid $color-gray-60;
      outline: 0;
    }

    &[disabled='disabled'] {
      background: transparent;
    }
  }
  .capture-audio {
    float: right;
    height: 36px;
  }
  .android-length-warning {
    padding: 10px;
    max-width: 150px;
  }
}

.toast {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 62px;

  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 4px;
  z-index: 100;

  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0;

  @include light-theme {
    background-color: $color-gray-75;
    color: $color-white;
    box-shadow: 0 4px 16px 0 $color-black-alpha-20,
      0 0 0 0.5px $color-black-alpha-05;
  }
  @include dark-theme {
    background-color: $color-gray-45;
    color: $color-white;
    box-shadow: 0 4px 16px 0 $color-white-alpha-20;
  }
}

.confirmation-dialog {
  .content {
    max-width: 350px;
    margin: 100px auto;
    padding: 1em;

    border-radius: 5px;
    overflow: auto;

    @include light-theme {
      background: $color-white;
      box-shadow: 0px 0px 15px 0px $color-black-alpha-20;
    }
    @include dark-theme {
      background: $color-black;
      color: $color-gray-02;
      box-shadow: 0px 0px 15px 0px $color-white-alpha-20;
    }

    .buttons {
      margin-top: 10px;

      button {
        float: right;
        margin-left: 10px;
        padding: 5px 8px;
        border-radius: 5px;

        outline: none;
        @include keyboard-mode {
          &:focus {
            outline: -webkit-focus-ring-color auto 5px;
          }
        }

        @include light-theme {
          background-color: $color-gray-02;
          border: 1px solid $color-gray-15;
        }
        @include dark-theme {
          background-color: $color-gray-90;
          border: 1px solid $color-gray-45;
          color: $color-gray-02;
        }

        &:hover {
          @include light-theme {
            background-color: $color-gray-15;
            border-color: $color-gray-25;
          }
          @include dark-theme {
            background-color: $color-gray-75;
            border-color: $color-gray-45;
          }
        }
      }
    }
  }
}

.permissions-popup,
.debug-log-window {
  .modal {
    background-color: transparent;
    padding: 0;
  }

  .confirmation-dialog .content {
    box-shadow: 0px 0px 0px 0px;
    max-width: 1000px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }
}
