// Copyright 2016-2020 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

span.emoji {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: baseline;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 1em;
  height: 1em;
  background-size: 1em;
  background-repeat: no-repeat;
  text-indent: -9999px;
  background-position: 50%, 50%;
  background-size: contain;
}

span.emoji-sizer {
  line-height: 0.81em;
  font-size: 1em;
  margin: -2px 0;
}

span.emoji-outer {
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  height: 1em;
  width: 1em;
}

span.emoji-inner {
  display: -moz-inline-box;
  display: inline-block;
  text-indent: -9999px;
  width: 100%;
  height: 100%;
  vertical-align: baseline;
  *vertical-align: auto;
  *zoom: 1;
}

img.emoji {
  height: 1.4em;
  margin-bottom: -5px;
  margin-left: 2px;
  margin-right: 2px;
  vertical-align: baseline;
  width: 1.4em;
}

img.emoji.small {
  width: 32px;
  height: 32px;
}
img.emoji.medium {
  width: 36px;
  height: 36px;
}
img.emoji.large {
  width: 40px;
  height: 40px;
}
img.emoji.extra-large {
  width: 48px;
  height: 48px;
}
img.emoji.max {
  width: 56px;
  height: 56px;
}

// we need these, or we'll make conversation items too big in the left-nav
.conversations img.emoji.small {
  width: 1em;
  height: 1em;
}
.conversations img.emoji.medium {
  width: 1em;
  height: 1em;
}
.conversations img.emoji.large {
  width: 1em;
  height: 1em;
}
.conversations img.emoji.jumbo {
  width: 1em;
  height: 1em;
}
