span.emoji {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: baseline;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 1em;
  height: 1em;
  background-size: 1em;
  background-repeat: no-repeat;
  text-indent: -9999px;
  background-position: 50%, 50%;
  background-size: contain;
}

span.emoji-sizer {
  line-height: 0.81em;
  font-size: 1em;
  margin: -2px 0;
}

span.emoji-outer {
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  height: 1em;
  width: 1em;
}

span.emoji-inner {
  display: -moz-inline-box;
  display: inline-block;
  text-indent: -9999px;
  width: 100%;
  height: 100%;
  vertical-align: baseline;
  *vertical-align: auto;
  *zoom: 1;
}

img.emoji {
  width: 1em;
  height: 1em;
  margin-bottom: -1px;
}

img.emoji.small {
  width: 1.25em;
  height: 1.25em;
}
img.emoji.medium {
  width: 1.75em;
  height: 1.75em;
}
img.emoji.large {
  width: 2.5em;
  height: 2.5em;
}
img.emoji.jumbo {
  width: 3em;
  height: 3em;
}

// we need these, or we'll make conversation items too big in the left-nav
.conversations img.emoji.small {
  width: 1em;
  height: 1em;
}
.conversations img.emoji.medium {
  width: 1em;
  height: 1em;
}
.conversations img.emoji.large {
  width: 1em;
  height: 1em;
}
.conversations img.emoji.jumbo {
  width: 1em;
  height: 1em;
}

button.emoji {
  padding: 0;
  opacity: 0.5;
  border: none;
  background: transparent;
  margin: 0px 10px 0px 15px;

  &:before {
    content: '';
    display: inline-block;
    width: $button-height;
    height: $button-height;
    @include color-svg('../images/smile.svg', $grey);
  }

  &:focus,
  &:hover {
    opacity: 1;
  }
}

// Import emoji panel css and override paths
@import '../node_modules/emoji-panel/lib/emoji-panel-apple-32.css';
@font-face {
  font-family: 'apple-category';
  src: url(../node_modules/emoji-panel/lib/asset/apple.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

.emoji-panel-container {
  height: 0px;

  .ep-emojies {
    background-color: $color-white;
  }

  .ep-categories {
    background-color: $color-light-10;
    margin-bottom: 6px;
  }

  .ep-e {
    background-image: url('../node_modules/emoji-datasource-apple/img/apple/sheets/64.png');
    background-size: 1734px;
  }
  .ep-slide {
    background-color: $blue;
  }
  .ep ::-webkit-scrollbar {
    // matches what is set in _global.scss; needs !important to override emoji panel CSS
    width: 9px !important;
  }
  .ep ::-webkit-scrollbar-thumb {
    background: $color-light-35;

    &:hover {
      background: $color-light-45;
    }
  }
}
