// Copyright 2019 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@font-face {
  font-family: 'Inter';
  src: url('../fonts/InterVariable.woff2');
}

@font-face {
  font-family: 'Parisienne';
  src: url('../fonts/stories/Parisienne-Regular.ttf');
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('../fonts/stories/BarlowCondensed-Medium.ttf');
}

@font-face {
  font-family: 'EB Garamond';
  src: url('../fonts/stories/EBGaramond-Regular.ttf');
}

@font-face {
  font-family: 'Hatsuishi';
  src: url('../fonts/stories/Hatsuishi-Regular.woff2');
}
