// Copyright 2019 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter-v3.19/Inter-BoldItalic.woff2');
  font-weight: bolder;
  font-style: italic;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter-v3.19/Inter-Bold.woff2');
  font-weight: bolder;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter-v3.19/Inter-SemiBoldItalic.woff2');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter-v3.19/Inter-Italic.woff2');
  font-style: italic;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter-v3.19/Inter-SemiBold.woff2');
  font-weight: bold;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter-v3.19/Inter-Medium.woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter-v3.19/Inter-Regular.woff2');
}

@font-face {
  font-family: 'Parisienne';
  src: url('../fonts/stories/Parisienne-Regular.ttf');
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('../fonts/stories/BarlowCondensed-Medium.ttf');
}

@font-face {
  font-family: 'EB Garamond';
  src: url('../fonts/stories/EBGaramond-Regular.ttf');
}
