// Copyright 2019-2020 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter-v3.10/Inter-BoldItalic.woff2');
  font-weight: bolder;
  font-style: italic;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter-v3.10/Inter-Bold.woff2');
  font-weight: bolder;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter-v3.10/Inter-SemiBoldItalic.woff2');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter-v3.10/Inter-Italic.woff2');
  font-style: italic;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter-v3.10/Inter-SemiBold.woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter-v3.10/Inter-Regular.woff2');
}
