* {
  box-sizing: border-box;
}

html {
  height: 100%;
  // Default theme is Classic Dark
  background-color: #1b1b1b;
  font-size: 14px;
}

body {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: var(--font-default);
  letter-spacing: 0.3px;
}

// scrollbars
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: var(--scroll-bar-track-color);
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-bar-thumb-color);
  border-radius: 20px;

  &:hover {
    background: var(--scroll-bar-thumb-hover-color);
  }
}

audio {
  max-width: 100%;
}

.hide {
  display: none;
}

button {
  cursor: pointer;
  font-size: inherit;
  border: none;

  &[disabled='disabled'] {
    &,
    &:hover {
      opacity: 0.5;
      box-shadow: none;
      cursor: default;
    }
  }
}

a {
  cursor: pointer;
  user-select: text;
}

@keyframes loading {
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.app-loading-screen {
  z-index: 99;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  user-select: none;
  // Default theme is Classic Dark so we force this for the password prompt
  background-color: #1b1b1b;

  .content {
    margin-inline-start: auto;
    margin-inline-end: auto;
    text-align: center;
  }
  .container {
    margin-inline-start: auto;
    margin-inline-end: auto;
    width: 78px;
    height: 22px;
  }
  .message {
    -webkit-user-select: text;
    user-select: text;
    max-width: 35rem;
  }

  .dot {
    width: 14px;
    height: 14px;
    border: 3px solid white;
    border-radius: 50%;
    float: left;
    margin: 0 6px;
    transform: scale(0);

    animation: loading 1500ms ease infinite 0ms;
    &:nth-child(2) {
      animation: loading 1500ms ease infinite 333ms;
    }
    &:nth-child(3) {
      animation: loading 1500ms ease infinite 666ms;
    }
  }
  .session-text-logo {
    filter: var(--session-logo-text-current-filter);
  }
}

//yellow border fix
.inbox:focus {
  outline: none;
}

.inbox {
  position: relative;
}
