.inbox {
  height: 100%;
  overflow: hidden;
  transition: none;
}

.inbox.index {
  display: flex;
  flex-direction: column;
  background-color: var(--background-primary-color);
}

.edit-profile-dialog,
.update-group-dialog {
  .content {
    max-width: 100% !important;
  }

  .buttons {
    margin: 8px;
  }

  .profile-name {
    font-size: larger;
    text-align: center;
  }

  .title-text {
    font-size: large;
    text-align: center;
  }

  .module-avatar {
    display: block;
    margin-bottom: 1rem;
  }

  .avatar-center {
    display: flex;
    justify-content: center;
  }

  .avatar-center-inner {
    display: flex;
  }
}

.scrollable {
  height: 100%;
  overflow: auto;
}

.section-conversations-container {
  display: flex;
  flex-direction: row;
  margin-inline-end: 3rem;
  align-items: center;

  h4 {
    flex: 1;
  }
}

.left-pane-placeholder {
  flex-grow: 1;
  display: flex;
}
.left-pane-wrapper {
  flex: 1;
}
