.conversation-stack,
.new-conversation, .inbox, .gutter {
  height: 100%;
}

.expired {
  .conversation-stack, .gutter {
    height: calc(100% - 56px);
  }
}

.scrollable {
  height: 100%;
  overflow: auto;
}

.gutter {
  color: $grey_d;
  float: left;
  width: 300px;
  .content {
    background-color: $grey_l;
    height: calc(100% - #{$header-height} - #{$search-height});
  }

  .conversations {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
  }
}

.socket-status {
  float: right;
  line-height: $button-height;

  * {
    display: inline;
    padding-left: 20px;
    vertical-align: middle;
  }
  .connecting .icon {
    background-color: $blue;
  }
  .closing {
    background-color: $blue_l;
  }
  .closed {
    background: url('/images/error_red.png') no-repeat left center;
  }
}

.conversation-stack {
  padding-left: 300px;

  .conversation {
    display: none;
  }
  .conversation:first-child {
    display: block;
  }
}

.conversation-header {
  height: $header-height;
  text-align: center;
  color: white;
  background-color: #999999;
  transition: background-color 0.5s;
  border-bottom: 1px solid rgba(0,0,0,0.2);

  .avatar {
    margin-bottom: -30px;
    border: solid 2px white;
    z-index: 10;
    width: 48px;
    height: 48px;
    line-height: 44px;
    position: relative;
  }
}
.inactive .conversation-header {
  background-color: $grey_l !important;
  color: $grey_d;
  border-color: rgba(0,0,0,0.05);
}

.tool-bar {
  position: relative;
  .search-icon {
    content: '';
    display: inline-block;
    float: left;
    width: 24px;
    height: 100%;
    -webkit-mask: url('/images/search.svg') no-repeat left center;
    -webkit-mask-size: 100%;
    background-color: #ccc;
    position: absolute;
    left: 20px;
    top: 0;
  }
}

input.search {
  border: none;
  padding: 0 10px 0 65px;
  margin: 0;
  outline: 0;
  height: $search-height;
  line-height: $search-height;
  width: 100%;
  border: solid 1px $grey_l;
  outline-offset: -2px;
  font-size: inherit;
  position: relative;

  &.active {
    outline: solid 1px $blue;
  }

  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
    display: block;
    width: 16px;
    height: 16px;
    background: url('/images/x.svg') no-repeat center;
    background-size: cover;
  }

  &::-webkit-search-cancel-button:hover {
    cursor: pointer;
  }
}

.last-timestamp {
  font-size: smaller;
  float: right;
  margin: 0 10px;
  color: $grey;
}

.new-contact {
  display: none;
  cursor: pointer;
  opacity: 0.7;
  .contact-details .number {
    display: block;
    font-style: italic;
    padding-right: 8px;
  }

  &.valid {
    opacity: 1.0
  }
}

.index {
  color: $grey_d;

  .gutter .new-group-update-form {
    display: none;
    padding: 0.5em;
  }

  .last-message {
    margin: 6px 0 0;
    font-size: $font-size-small;
    font-weight: 300;
  }

  .gutter .timestamp {
    position: absolute;
    top: 14px;
    right: 12px;
    color: $grey;
  }

}

.conversations .unread .contact-details {
    .name,
    .last-message,
    .last-timestamp {
      font-weight: bold;
    }
}

.hint {
  margin: 10px;
  padding: 1em;
  border-radius: $border-radius;
  color: white;
  border: 2px dashed white;

  h3 {
    margin-top: 5px;
  }

  &.firstRun {
    position: absolute;
    top: 0;
    left: 302px;
    width: 225px;

    &:before, &:after {
      content: ' ';
      display: block;
      position: absolute;
      top: 8px;
      left: -35px;
      width: 0;
      height: 0;
      border: solid 10px white;
      border-color: transparent white transparent transparent;
      transform: scaleX(2.5) scaleY(0.75);
    }
    &:after {
      border-color: transparent #2eace0 transparent transparent;
      left: -30px;
    }
  }
}

.conversation.placeholder {
  text-align: center;
  .content {
    padding: 100px 36px;
  }

  h3 {
    font-size: large;
  }
}
.contact.placeholder {
  position: absolute;
  top: 50px;
  left: 0;
  background: transparent;
  color: white;
  border: 2px dashed white;
  overflow: visible;
  p { color: white; }
  &:before, &:after {
    content: ' ';
    display: block;
    position: absolute;
    top: -35px;
    left: 15px;
    width: 0;
    height: 0;
    border: solid 10px white;
    border-color: transparent transparent white transparent;
    transform: scaleY(2.5) scaleX(0.75);
  }
  &:after {
    border-color: transparent transparent #2eace0 transparent;
    top: -30px;
  }
}
