.conversation-stack,
.new-conversation,
.inbox,
.gutter {
  height: 100%;
}

.expired {
  .conversation-stack,
  .gutter {
    height: calc(100% - 56px);
  }
}

.scrollable {
  height: 100%;
  overflow: auto;
}

.gutter {
  color: $grey_d;
  float: left;
  width: 300px;
  display: flex;
  flex-direction: column;

  .content {
    background-color: $grey_l;
    flex-grow: 1;
    overflow-y: auto;
  }
}
.network-status-container {
  .network-status {
    background: url('../images/error_red.svg') no-repeat left 10px center;
    background-size: 25px 25px;
    background-color: #fcd156;
    padding: 10px;
    padding-left: 2 * $button-height;
    display: none;

    .network-status-message {
      h3 {
        padding: 0px;
        margin: 0px;
        margin-bottom: 2px;
        font-size: 14px;
      }
      span {
        display: inline-block;
        font-size: 12px;
        padding: 0.5em 0;
      }
    }
    .action {
      button {
        border-radius: $border-radius;
        border: solid 1px #ccc;
        cursor: pointer;
        font-family: inherit;
        color: white;
        background: $blue;
      }
    }
  }
}

.conversation-stack {
  padding-left: 300px;

  .conversation {
    display: none;
  }
  .conversation:first-child {
    display: block;
  }
}

.conversation-header {
  height: $header-height;
  text-align: center;
  color: white;
  background-color: #999999;
  transition: background-color 0.5s;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  .avatar {
    margin-bottom: -30px;
    border: solid 2px white;
    z-index: 10;
    width: 48px;
    height: 48px;
    line-height: 44px;
    position: relative;
  }
}
.inactive .conversation-header {
  background-color: $grey_l !important;
  color: $grey_d;
  border-color: rgba(0, 0, 0, 0.05);
  .verified-icon {
    @include color-svg('../images/verified-check.svg', $grey_d);
  }
}

.tool-bar {
  position: relative;
  .search-icon {
    content: '';
    display: inline-block;
    float: left;
    width: 24px;
    height: 100%;
    -webkit-mask: url('../images/search.svg') no-repeat left center;
    -webkit-mask-size: 100%;
    background-color: #ccc;
    position: absolute;
    left: 20px;
    top: 0;
  }
}

input.search {
  border: none;
  padding: 0 $search-padding-right 0 $search-padding-left;
  margin: 0;
  outline: 0;
  height: $search-height;
  line-height: $search-height;
  width: 100%;
  border: solid 1px $grey_l;
  outline-offset: -2px;
  font-size: inherit;
  position: relative;

  &.active {
    outline: solid 1px $blue;
    background-image: url('../images/x.svg');
    background-repeat: no-repeat;
    background-size: $search-x-size;

    &.ltr {
      background-position: right $search-padding-right center;
    }

    &.rtl {
      background-position: left $search-padding-left center;
    }
  }

  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
    display: block;
    width: $search-x-size;
    height: $search-x-size;
  }

  &::-webkit-search-cancel-button:hover {
    cursor: pointer;
  }
}

.last-timestamp {
  font-size: smaller;
  float: right;
  margin: 0 10px;
  color: $grey;
}

.new-contact {
  display: none;
  cursor: pointer;
  opacity: 0.7;
  .contact-details .number {
    display: block;
    font-style: italic;
    padding-right: 8px;
  }

  &.valid {
    opacity: 1;
  }
}

.index {
  .gutter .new-group-update-form {
    display: none;
    padding: 0.5em;
  }

  .last-message {
    margin: 6px 0 0;
    font-size: $font-size-small;
  }

  .gutter .timestamp {
    position: absolute;
    top: 14px;
    right: 12px;
    color: $grey;
  }
}

.conversations .unread .contact-details {
  .name,
  .last-message,
  .last-timestamp {
    font-weight: bold;
  }
}

.hint {
  margin: 10px;
  padding: 1em;
  border-radius: $border-radius;
  color: white;
  border: 2px dashed white;

  h3 {
    margin-top: 5px;
  }

  &.firstRun {
    position: absolute;
    top: 0;
    left: 302px;
    width: 225px;

    &:before,
    &:after {
      content: ' ';
      display: block;
      position: absolute;
      top: 8px;
      left: -35px;
      width: 0;
      height: 0;
      border: solid 10px white;
      border-color: transparent white transparent transparent;
      transform: scaleX(2.5) scaleY(0.75);
    }
    &:after {
      border-color: transparent #2eace0 transparent transparent;
      left: -30px;
    }
  }
}

.conversation.placeholder {
  text-align: center;
  .container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content {
    display: inline-block;
  }

  h3 {
    font-size: large;
  }
}
.contact.placeholder {
  position: absolute;
  top: 50px;
  left: 0;
  background: transparent;
  color: white;
  border: 2px dashed white;
  overflow: visible;
  p {
    color: white;
  }
  &:before,
  &:after {
    content: ' ';
    display: block;
    position: absolute;
    top: -35px;
    left: 15px;
    width: 0;
    height: 0;
    border: solid 10px white;
    border-color: transparent transparent white transparent;
    transform: scaleY(2.5) scaleX(0.75);
  }
  &:after {
    border-color: transparent transparent #2eace0 transparent;
    top: -30px;
  }
}
