.inbox {
  height: 100%;
  overflow: hidden;
  transition: none;
}

.inbox.index {
  display: flex;
  background-color: var(--background-primary-color);
}

.edit-profile-dialog,
.create-group-dialog,
.user-details-dialog,
.update-group-dialog,
.onion-status-dialog {
  .content {
    max-width: 100% !important;
  }

  .buttons {
    margin: 8px;
  }

  .profile-name {
    font-size: larger;
    text-align: center;
  }

  .title-text {
    font-size: large;
    text-align: center;
  }

  .message {
    font-style: italic;
    color: var(--color-gray-color);
    font-size: 12px;
    margin-bottom: 16px;
  }

  .module-avatar {
    display: block;
    margin-bottom: 1em;
  }

  .avatar-center {
    display: flex;
    justify-content: center;
  }

  .avatar-center-inner {
    display: flex;
  }
}

.scrollable {
  height: 100%;
  overflow: auto;
}

.section-conversations-container {
  display: flex;
  flex-direction: row;
  margin-inline-end: 3em;
  align-items: center;

  h4 {
    flex: 1;
  }
}

.left-pane-placeholder {
  flex-grow: 1;
  display: flex;
}
.conversation.placeholder {
  height: 100vh;
}
.left-pane-wrapper {
  flex: 1;
}
