.lightbox {
  &.modal {
    padding: 30px;
    text-align: center;
    background-color: rgba(0,0,0,0.8);

    .content {
      margin: 0;
      padding: 0 60px;
      max-width: 100%;
      height: 100%;
      box-shadow: none;
      background: transparent;

      img {
        display: block;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
      }
    }

    .controls {
      position: absolute;
      top: 0;
      right: 0;
      width: 50px;
    }

    a {
      background: transparent;
      width: 50px;
      height: 50px;
      margin-bottom: 10px;

      display: inline-block;
      cursor: pointer;
      border-radius: 50%;
      padding: 3px;

      &:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
      }

      &:hover {
        background: $grey;
      }
    }

    .save {
      &:before {
        @include color-svg('../images/save.svg', white);
      }
    }
  }
}
