// used for the list after adding a `@` in the compose text input
.contact-selection-list {
  max-height: 240px;
  overflow-y: auto;
  margin: 4px;

  .check-mark {
    float: right;
    text-align: center;
    color: darkslategrey;
    margin: 4px;
    min-width: 20px;
  }
}

.member-list-container {
  margin: 0;
  padding: 0;

  max-height: 240px;
  overflow-y: scroll;

  .check-mark {
    display: none;
  }
}

.module-conversation-list-item--mentioned-us {
  border-left: 4px solid var(--color-session-green-color) !important;
}
