// used for the list after adding a `@` in the compose text input
.contact-selection-list {
  max-height: 240px;
  overflow-y: auto;
  margin: 4px;
}

.module-conversation-list-item--mentioned-us {
  border-left: 4px solid var(--conversation-tab-color-strip-color) !important;
}
