// used for the list after adding a `@` in the compose text input
.contact-selection-list {
  max-height: 240px;
  overflow-y: auto;
  margin: 4px;

  .check-mark {
    float: right;
    text-align: center;
    color: darkslategrey;
    margin: 4px;
    min-width: 20px;
  }

  .existing-member {
    color: green;
  }

  .existing-member-kicked {
    color: red;
  }
}

.member-list-container {
  margin: 0;
  padding: 0;

  max-height: 240px;
  overflow-y: scroll;

  .check-mark {
    display: none;
  }
}

.invisible {
  visibility: hidden;
}

.member-item {
  @include themify($themes) {
    background-color: themed('cellBackground');
    color: themed('textColor');
  }
  padding: 4px;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  .name-part {
    font-weight: 300;
    margin-inline-start: 12px;
  }

  .pubkey-part {
    margin-inline-start: 10px;
    opacity: 0.6;
  }
}

.mention-profile-name {
  color: rgb(194, 244, 255);
  background-color: rgb(66, 121, 150);
  text-decoration: underline;
  border-radius: 4px;
  margin: 2px;
  padding: 2px;
  user-select: none;
}

.mention-profile-name-us {
  background-color: rgba(255, 197, 50, 1);
  color: black;
}

.module-conversation-list-item--mentioned-us {
  border-left: 4px solid $session-color-green !important;
}

.at-symbol {
  @include themify($themes) {
    background-color: themed('accent');
  }
  color: $color-black;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 1px;
  padding-inline-start: 3px;
  padding-inline-end: 3px;

  position: static;
  margin-inline-start: 5px;

  font-weight: 300;
  font-size: 11px;
  letter-spacing: 0.25px;

  height: 16px;
  min-width: 16px;
  border-radius: 8px;

  box-shadow: 0px 0px 0px 1px $color-dark-85;
}
