// Copyright 2016-2021 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

// Fonts

@mixin font-title-1 {
  font-family: $inter;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.56px;
}

@mixin font-title-2 {
  font-family: $inter;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.34px;
}

@mixin font-body-1 {
  font-family: $inter;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.08px;
}
@mixin font-body-1-bold {
  @include font-body-1;
  font-weight: 600;
}
@mixin font-body-1-italic {
  @include font-body-1;
  font-style: italic;
}
@mixin font-body-1-bold-italic {
  @include font-body-1;
  font-weight: 600;
  font-style: italic;
}

@mixin font-body-2 {
  font-family: $inter;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.03px;
}
@mixin font-body-2-bold {
  @include font-body-2;
  font-weight: 600;
}
@mixin font-body-2-italic {
  @include font-body-2;
  font-style: italic;
}
@mixin font-body-2-bold-italic {
  @include font-body-2;
  font-weight: 600;
  font-style: italic;
}

@mixin font-subtitle {
  font-family: $inter;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0;
}

@mixin font-caption {
  font-family: $inter;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 0.06px;
}
@mixin font-caption-bold {
  @include font-caption;
  font-weight: 600;
}
@mixin font-caption-bold-italic {
  @include font-caption;
  font-weight: 600;
  font-style: italic;
}

// Themes

@mixin light-theme() {
  @content;
}

@mixin dark-theme() {
  .dark-theme & {
    @content;
  }
}

@mixin ios-theme() {
  .ios-theme & {
    @content;
  }
}

@mixin ios-dark-theme() {
  .dark-theme.ios-theme & {
    @content;
  }
}

// Smooth scrolling

@mixin smooth-scroll() {
  scroll-behavior: smooth;

  @media (prefers-reduced-motion) {
    scroll-behavior: auto;
  }
}

// Search results loading

@mixin search-results-loading-pulsating-background {
  animation: search-results-loading-pulsating-background-animation 2s infinite;

  @media (prefers-reduced-motion) {
    animation: none;
  }

  @include light-theme {
    background: $color-gray-05;
  }
  @include dark-theme {
    background: $color-gray-65;
  }
}

@keyframes search-results-loading-pulsating-background-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.55;
  }
  100% {
    opacity: 1;
  }
}

@mixin search-results-loading-box($width) {
  width: $width;
  height: 12px;
  border-radius: 4px;
  @include search-results-loading-pulsating-background;
}

// Icons

@mixin color-svg($svg, $color, $stretch: true) {
  -webkit-mask: url($svg) no-repeat center;
  @if $stretch {
    -webkit-mask-size: 100%;
  }
  background-color: $color;
}

@mixin header-icon-white($svg) {
  @include color-svg($svg, $color-white-alpha-80);
  &:focus,
  &:hover {
    @include color-svg($svg, $color-white);
  }
}
@mixin header-icon-black($svg) {
  @include color-svg($svg, $color-black-alpha-40);
  &:focus,
  &:hover {
    @include color-svg($svg, black);
  }
}

// Keyboard

@mixin keyboard-mode() {
  .keyboard-mode & {
    @content;
  }
}

@mixin mouse-mode() {
  .mouse-mode & {
    @content;
  }
}

@mixin dark-keyboard-mode() {
  .dark-theme.keyboard-mode & {
    @content;
  }
}
@mixin ios-keyboard-mode() {
  .ios-theme.keyboard-mode & {
    @content;
  }
}

@mixin dark-mouse-mode() {
  .dark-theme.mouse-mode & {
    @content;
  }
}
@mixin ios-mouse-mode() {
  .ios-theme.mouse-mode & {
    @content;
  }
}

@mixin dark-ios-keyboard-mode() {
  .dark-theme.ios-theme.keyboard-mode & {
    @content;
  }
}

// Other

@mixin popper-shadow() {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3), 0px 0px 8px rgba(0, 0, 0, 0.05);
}

@mixin button-reset {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-align: inherit;
}

// --- Buttons

// Individual traits

@mixin button-focus-outline {
  &:focus {
    @include keyboard-mode {
      box-shadow: 0px 0px 0px 3px $ultramarine-ui-light;
    }
    @include dark-keyboard-mode {
      box-shadow: 0px 0px 0px 3px $ultramarine-ui-dark;
    }
  }
}

@mixin button-blue-text {
  @include light-theme {
    color: $ultramarine-ui-light;
  }
  @include dark-theme {
    color: $ultramarine-ui-dark;
  }
}

// Complete button styles

@mixin button-primary {
  background-color: $ultramarine-ui-light;

  // Note: the background colors here need to match the parent component
  @include light-theme {
    color: $color-white;
    border: 1px solid white;
  }
  @include dark-theme {
    color: $color-white-alpha-90;
    border: 1px solid $color-gray-95;
  }

  &:hover {
    @include mouse-mode {
      background-color: mix($color-black, $ultramarine-ui-light, 15%);
    }

    @include dark-mouse-mode {
      background-color: mix($color-white, $ultramarine-ui-light, 15%);
    }
  }

  &:active {
    // We need to include all four here for specificity precedence

    @include mouse-mode {
      background-color: mix($color-black, $ultramarine-ui-light, 25%);
    }
    @include dark-mouse-mode {
      background-color: mix($color-white, $ultramarine-ui-light, 25%);
    }

    @include keyboard-mode {
      background-color: mix($color-black, $ultramarine-ui-light, 25%);
    }
    @include dark-keyboard-mode {
      background-color: mix($color-black, $ultramarine-ui-light, 25%);
    }
  }

  @include button-focus-outline;
}

@mixin button-secondary {
  @include light-theme {
    color: $color-gray-90;
    background-color: $color-gray-05;
  }
  @include dark-theme {
    color: $color-gray-05;
    background-color: $color-gray-65;
  }

  &:hover {
    @include mouse-mode {
      background-color: mix($color-black, $color-gray-05, 15%);
    }

    @include dark-mouse-mode {
      background-color: mix($color-white, $color-gray-65, 15%);
    }
  }

  &:active {
    // We need to include all four here for specificity precedence

    @include mouse-mode {
      background-color: mix($color-black, $color-gray-05, 25%);
    }
    @include dark-mouse-mode {
      background-color: mix($color-white, $color-gray-65, 25%);
    }

    @include keyboard-mode {
      background-color: mix($color-black, $color-gray-05, 25%);
    }
    @include dark-keyboard-mode {
      background-color: mix($color-white, $color-gray-65, 25%);
    }
  }

  @include button-focus-outline;
}

@mixin button-secondary-blue-text {
  @include button-secondary;
  @include button-blue-text;
}

@mixin button-light {
  @include light-theme {
    color: $color-gray-90;
    background-color: $color-gray-02;
  }
  @include dark-theme {
    color: $color-gray-05;
    background-color: $color-gray-75;
  }

  &:hover {
    @include mouse-mode {
      background-color: mix($color-black, $color-gray-02, 10%);
    }

    @include dark-mouse-mode {
      background-color: mix($color-white, $color-gray-75, 10%);
    }
  }

  &:active {
    // We need to include all four here for specificity precedence

    @include mouse-mode {
      background-color: mix($color-black, $color-gray-02, 20%);
    }
    @include dark-mouse-mode {
      background-color: mix($color-white, $color-gray-75, 20%);
    }

    @include keyboard-mode {
      background-color: mix($color-black, $color-gray-02, 20%);
    }
    @include dark-keyboard-mode {
      background-color: mix($color-white, $color-gray-75, 20%);
    }
  }

  @include button-focus-outline;
}

@mixin button-light-blue-text {
  @include button-light;
  @include button-blue-text;
}

@mixin button-destructive {
  @include light-theme {
    color: $color-white;
    background-color: $color-accent-red;
  }
  @include dark-theme {
    color: $color-white-alpha-90;
    background-color: $color-accent-red;
  }

  &:hover {
    @include mouse-mode {
      background-color: mix($color-black, $color-accent-red, 15%);
    }

    @include dark-mouse-mode {
      background-color: mix($color-white, $color-accent-red, 15%);
    }
  }

  &:active {
    // We need to include all four here for specificity precedence

    @include mouse-mode {
      background-color: mix($color-black, $color-accent-red, 25%);
    }
    @include dark-mouse-mode {
      background-color: mix($color-white, $color-accent-red, 25%);
    }

    @include keyboard-mode {
      background-color: mix($color-black, $color-accent-red, 25%);
    }
    @include dark-keyboard-mode {
      background-color: mix($color-white, $color-accent-red, 25%);
    }
  }

  @include button-focus-outline;
}

@mixin button-green {
  $background-color: $color-accent-green;

  background-color: $background-color;
  color: $color-white;

  &:active {
    // We need to include all four here for specificity precedence

    @include mouse-mode {
      background-color: mix($color-black, $background-color, 25%);
    }
    @include dark-mouse-mode {
      background-color: mix($color-white, $background-color, 25%);
    }

    @include keyboard-mode {
      background-color: mix($color-black, $background-color, 25%);
    }
    @include dark-keyboard-mode {
      background-color: mix($color-white, $background-color, 25%);
    }
  }

  &[disabled] {
    opacity: 0.6;
  }

  @include button-focus-outline;
}

@mixin button-small {
  border-radius: 9999px; // This ensures the borders are completely rounded. (A value like 100% would make it an ellipse.)
  padding: 7px 14px;
}

// Modals

@mixin modal-reset {
  @include popper-shadow();
  border-radius: 8px;
  margin: 0 auto;
  max-height: 100%;
  max-width: 360px;
  padding: 16px;
  position: relative;
  width: 95%;
  display: flex;
  flex-direction: column;

  @include light-theme() {
    background: $color-white;
    color: $color-gray-90;
  }

  @include dark-theme() {
    background: $color-gray-95;
    color: $color-gray-05;
  }
}

@mixin modal-close-button {
  @include button-reset;

  position: absolute;
  right: 12px;
  top: 12px;

  height: 24px;
  width: 24px;

  @include light-theme {
    @include color-svg('../images/icons/v2/x-24.svg', $color-gray-75);
  }

  @include dark-theme {
    @include color-svg('../images/icons/v2/x-24.svg', $color-gray-15);
  }

  &:focus {
    @include keyboard-mode {
      background-color: $ultramarine-ui-light;
    }
    @include dark-keyboard-mode {
      background-color: $ultramarine-ui-dark;
    }
  }
}
