.modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $color-black-alpha-20;
  padding: 0 20px;
  z-index: 100;
  overflow-y: auto;

  .content {
    position: relative;
    max-width: 350px;
    margin: 100px auto;
    padding: 1em;
    border-radius: 5px;
    overflow: auto;

    @include light-theme {
      background-color: $color-white;
      box-shadow: 0px 3px 5px 0px $color-black-alpha-20;
    }
    @include dark-theme {
      background-color: $color-gray-95;
      box-shadow: 0px 3px 5px 0px $color-white-alpha-20;
    }
  }
}
