// Copyright 2018-2022 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@use '../node_modules/intl-tel-input/build/css/intlTelInput.css';
@import 'fontfaces';
@import 'variables';
@import 'progress';

.iti__flag {
  // override intlTelInput's flags image location
  background-image: url('../node_modules/intl-tel-input/build/img/flags.png');
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-image: url('../node_modules/intl-tel-input/build/img/flags@2x.png');
  }
}

.intl-tel-input .country-list {
  text-align: left;
}

.intl-tel-input .country-list .country .country-name {
  color: $color-black;
}
