// Copyright 2018 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@use '../node_modules/intl-tel-input/build/css/intlTelInput.css';
@use 'fontfaces';
@use 'variables';

:root {
  --iti-path-flags-1x: url('../node_modules/intl-tel-input/build/img/flags.webp');
  --iti-path-flags-2x: url('../node_modules/intl-tel-input/build/img/flags@2x.webp');
  --iti-path-globe-1x: url('../node_modules/intl-tel-input/build/img/globe.webp');
  --iti-path-globe-2x: url('../node_modules/intl-tel-input/build/img/globe@2x.webp');
}
