.password {
  .content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-dark-05;
    width: 100%;
    height: 100%;
  }

  .content {
    margin: 3em;
  }

  .inputs {
    display: flex;
    flex-direction: column;
  }

  input {
    width: 30em;
  }

  .error {
    font-weight: bold;
    font-size: 16px;
    margin-top: 1em;
  }
}