// Copyright 2017-2020 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.progress-bar-striped {
  background-image: linear-gradient(
    45deg,
    $color-white-alpha-60 25%,
    transparent 25%,
    transparent 50%,
    $color-white-alpha-60 50%,
    $color-white-alpha-60 75%,
    transparent 75%,
    transparent
  );
  background-size: 40px 40px;
}
.progress-bar-striped {
  background-image: linear-gradient(
    45deg,
    $color-white-alpha-60 25%,
    transparent 25%,
    transparent 50%,
    $color-white-alpha-60 50%,
    $color-white-alpha-60 75%,
    transparent 75%,
    transparent
  );
}
.progress-bar.active {
  animation: progress-bar-stripes 2s linear infinite;
}

.bar-container {
  background: $color-ios-blue-tint;

  .progress-bar {
    height: 100%;
  }
}
