// This is related to all quote logics
.module-quote {
  position: relative;

  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  border-left-width: 4px;
  border-left-style: solid;

  &__primary__type-label {
    border-color: var(--color-text);
  }
}

// This is related to the quote logic inside messages
.module-quote {
  &--outgoing {
    .module-quote__primary__author {
      color: var(--color-sent-message-text);
      font-weight: bold;

      .module-contact-name {
        font-weight: bold;
      }
    }
    .module-quote__primary__text {
      color: var(--color-sent-message-text);

      a {
        color: var(--color-sent-message-text);
      }
    }
  }

  &--incoming {
    .module-quote__primary__author {
      color: var(--color-received-message-text);
      font-weight: bold;
      .module-contact-name {
        font-weight: bold;
      }
    }
    .module-quote__primary__text {
      color: var(--color-received-message-text);

      a {
        color: var(--color-received-message-text);
      }
    }
  }
}

.module-quote__icon-container__icon--file {
  @include color-svg('../images/file.svg', $color-loki-green);
}
.module-quote__icon-container__icon--image {
  @include color-svg('../images/image.svg', $color-loki-green);
}
.module-quote__icon-container__icon--microphone {
  @include color-svg('../images/microphone.svg', $color-loki-green);
}
.module-quote__icon-container__icon--play {
  @include color-svg('../images/play.svg', $color-loki-green);
}
.module-quote__icon-container__icon--movie {
  @include color-svg('../images/movie.svg', $color-loki-green);
}

.module-quote__generic-file__text {
  color: $color-dark-05;
}

.module-quote__reference-warning {
  background-color: $color-black-06;
}

.module-quote__reference-warning__icon {
  @include color-svg('../images/broken-link.svg', $color-dark-30);
}

.module-quote__reference-warning__text {
  color: $color-dark-05;
}

.module-quote-container {
  margin-bottom: 5px;
  margin-top: 10px;
  padding-left: 10px;
}

.module-quote--no-click {
  cursor: auto;
}

.module-quote__primary {
  flex-grow: 1;
  padding-inline-start: 8px;
  padding-inline-end: 8px;

  max-width: 100%;
}

.module-quote__primary__author {
  font-size: 13px;
  line-height: 18px;
  font-weight: 300;
  color: $color-gray-90;
  margin-bottom: 5px;

  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.module-quote__primary__profile-name {
  font-style: italic;
}

.module-quote__primary__text {
  font-size: 14px;
  line-height: 18px;
  text-align: start;

  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.module-quote__primary__type-label {
  font-style: italic;
  color: $color-gray-90;
  font-size: 13px;
  line-height: 18px;
}

.module-quote__primary__filename-label {
  font-size: 12px;
}

.module-quote__close-container {
  position: absolute;
  top: 4px;
  right: 4px;
  height: 16px;
  width: 16px;

  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 50%;
}

.module-quote__close-button {
  width: 100%;
  height: 100%;
  cursor: pointer;
  @include color-svg('../images/x.svg', $grey);
}

.module-quote__icon-container {
  flex: initial;
  min-width: 54px;
  width: 54px;
  max-height: 54px;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.module-quote__icon-container__circle-background {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: $color-white;
}

.module-quote__icon-container__icon {
  width: 24px;
  height: 24px;

  &--file {
    @include color-svg('../images/file.svg', $color-loki-green);
  }
  &--image {
    @include color-svg('../images/image.svg', $color-loki-green);
  }
  &--microphone {
    @include color-svg('../images/microphone.svg', $color-loki-green);
  }
  &--play {
    @include color-svg('../images/play.svg', $color-loki-green);
  }
  &--movie {
    @include color-svg('../images/movie.svg', $color-loki-green);
  }
}

.module-quote__generic {
  &-file {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &-file__icon {
    background: url('../images/file-gradient.svg');
    background-size: 75%;
    background-repeat: no-repeat;
    height: 28px;
    width: 36px;
    margin-inline-start: -4px;
    margin-inline-end: -6px;
    margin-bottom: 5px;
  }
  &-file__text {
    font-size: 14px;
    line-height: 18px;
    color: $color-gray-90;

    max-width: calc(100% - 26px);
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.module-quote__reference {
  &-warning {
    height: 26px;
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: $color-white-085;
    padding-inline-start: 8px;
    padding-inline-end: 8px;
    margin-inline-end: 8px;
  }

  &-warning__icon {
    height: 16px;
    width: 16px;
    @include color-svg('../images/broken-link.svg', $color-gray-60);
  }

  &-warning__text {
    margin-inline-start: 6px;
    color: $color-gray-90;
    font-size: 13px;
    line-height: 18px;
  }
}

$session-highlight-message-shadow: 0px 0px 10px 1px $session-color-green;

@keyframes remove-box-shadow {
  0% {
    box-shadow: none;
  }
  10% {
    box-shadow: $session-highlight-message-shadow;
  }
  75% {
    box-shadow: $session-highlight-message-shadow;
  }
  100% {
    box-shadow: none;
  }
}

.flash-green-once {
  animation-name: remove-box-shadow;
  animation-timing-function: linear;
  animation-duration: 2s;
  box-shadow: $session-highlight-message-shadow;
}
