// Messages
@import 'themes.scss';

// body.dark-theme {
//   @include themify($themes) {
//     background-color: themed('cellBackground');
//   }
//   color: red;

//   background-color: blue
// }

.conversation {
  background: none !important;
}
.module-conversation-header {
  @include themify($themes) {
    background: themed('cellBackground');
  }
}

.module-message {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  align-items: center;

  &__text-error {
    font-style: italic;
  }

  &_text {
    font-size: 14px;
    line-height: 18px;
    text-align: start;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;

    a {
      text-decoration: underline;
    }
  }

  &__container--incoming {
    &--opaque {
      @include themify($themes) {
        background: themed('receivedMessageBackground');
      }
    }

    &--transparent {
      background: none;
    }

    border-top-right-radius: $message-container-border-radius;
    border-bottom-right-radius: $message-container-border-radius;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    &--first-of-series {
      border-top-left-radius: $message-container-border-radius;
    }

    &--last-of-series {
      border-bottom-left-radius: $message-container-border-radius;
    }

    .module-message__text {
      @include themify($themes) {
        color: themed('receivedMessageText');
      }
      a {
        text-decoration: underline;
        @include themify($themes) {
          color: themed('receivedMessageText');
        }
      }
    }
  }

  &__container--outgoing {
    border-top-left-radius: $message-container-border-radius;
    border-bottom-left-radius: $message-container-border-radius;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    &--opaque {
      @include themify($themes) {
        background: themed('sentMessageBackground');
      }
    }

    &--transparent {
      background: none;
    }

    &--first-of-series {
      border-top-right-radius: $message-container-border-radius;
    }

    &--last-of-series {
      border-bottom-right-radius: $message-container-border-radius;
    }

    .module-message__text {
      @include themify($themes) {
        color: themed('sentMessageText');
      }
      a {
        text-decoration: underline;
        @include themify($themes) {
          color: themed('sentMessageText');
        }
      }
    }
  }
}

.session-message-wrapper {
  letter-spacing: 0.03em;
  margin-top: 3px;
  display: flex;
  align-items: center;
  &.message-highlighted {
    animation: highlightedMessageAnimation 1s ease-in-out;
  }

  &.message-selected {
    .module-message {
      &__container {
        @include themify($themes) {
          box-shadow: themed('sessionShadow');
        }
      }
    }
  }

  &-incoming {
    margin-inline-end: auto;
  }

  &-outgoing {
    margin-inline-start: auto;
  }
}

.inbox {
  @include themify($themes) {
    background: themed('inboxBackground');
    color: themed('textColor');
  }
}

.conversation {
  background: none;
}

@mixin session-h-title {
  @include fontAccentBold();
}

h1 {
  @include session-h-title;
  color: $session-shade-16;
  font-size: 25px;
  margin: 0;

  &.active {
    @include themify($themes) {
      color: themed('textColor');
    }
  }
}

h2 {
  @include session-h-title;
  @include themify($themes) {
    color: themed('textColor');
  }
  font-size: 22px;
  text-align: center;
}

h3 {
  @include session-h-title;
  @include themify($themes) {
    color: themed('textColor');
  }
  font-size: 18px;
  padding-top: 22px;
}

h4 {
  @include session-h-title;
  @include themify($themes) {
    color: themed('textColor');
  }
  font-size: 17px;
  text-align: center;
}
