.right-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: -webkit-fill-available;

  align-items: center;

  &-header {
    margin-top: var(--margins-lg);
    margin-inline-start: var(--margins-sm);
    margin-inline-end: var(--margins-sm);
    width: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;

    .module-avatar {
      margin: auto;
    }
  }

  h2 {
    word-break: break-word;
  }

  .description {
    margin: var(--margins-md) 0;
    min-height: 4rem;
    width: inherit;
    color: var(--text-secondary-color);
    text-align: center;
    display: none;
  }

  // no double border (top and bottom) between two elements
  &-item + &-item {
    border-top: none;
  }

  .module-empty-state {
    text-align: center;
  }

  .module-attachment-section__items {
    &-media {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 100%;
    }

    &-documents {
      width: 100%;
    }
  }

  .module-media {
    &-gallery {
      &__tab-container {
        padding-top: 1rem;
      }

      &__tab {
        color: var(--text-primary-color);
        font-weight: bold;
        font-size: 0.9rem;
        padding: 0.6rem;
        opacity: 0.8;

        &--active {
          border-bottom: none;
          opacity: 1;

          &:after {
            content: ''; /* This is necessary for the pseudo element to work. */
            display: block;
            margin: 0 auto;
            width: 70%;
            padding-top: 0.5rem;
            border-bottom: 4px solid var(--primary-color);
          }
        }
      }

      &__content {
        padding: var(--margins-xs);
        margin-bottom: 1vh;

        .module-media-grid-item__image,
        .module-media-grid-item {
          height: calc(
            22vw / 4
          ); //.right-panel is 22vw and we want three rows with some space so divide it by 4
          width: calc(
            22vw / 4
          ); //.right-panel is 22vw and we want three rows with some space so divide it by 4
          margin: auto;
        }
      }
    }
  }
}

.conversation-content {
  display: flex;
  height: inherit;

  &-left {
    flex-grow: 1;
  }
}
