$composition-container-height: 60px;




@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes toShadow {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.25;
  }
}
@keyframes fromShadow {
  from {
    opacity: 0.25;
  }
  to {
    opacity: 1;
  }
}

@keyframes pulseLight {
  0% {
    box-shadow: 0px 0px 0px 0px $session-color-danger-alt;
  }
  50% {
    box-shadow: 0px 0px 12px 0px rgba($session-color-danger-alt, 1);
  }
  100% {
    box-shadow: 0px 0px 0px 0px rgba($session-color-danger-alt, 1);
  }
}


.conversation-item {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: 100%;
  outline: none;
  
  .selection-mode {
    .messages-container > *:not(.message-selected) {
      animation: toShadow $session-transition-duration;
      opacity: 0.25;
    }

    .conversation-header{
      .conversation-header{
        &--items-wrapper{
          .session-icon {
            opacity: 0;
          }

          user-select: none;
          pointer-events: none;
          opacity: 0.25;
        }
      }
    }
  }
}


.conversation-header {
  &--items-wrapper{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
  }

  .message-selection-overlay {
    position: absolute;
    display: flex;
    left: 0px;
    right: 0px;
    margin: 0px $session-margin-md;
    align-items: center;
    justify-content: space-between;
    height: $main-view-header-height;
  
    .close-button {
      float: left;
    }
  
    .session-button.default.danger {
      display: flex;
      width: 80px;
    }
  }
  .message-selection-overlay div[role='button'] {
    display: inline-block;
  }
  
  .message-selection-overlay .button-group {
    float: right;
  }
}




.session-conversation-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $session-shade-2;
}

.messages-wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  position: relative;

  &--blocking-overlay{
    background-color: rgba(0,0,0,0.80);
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }
}
.messages-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  position: relative;
  overflow-y: auto;
  scrollbar-width: 4px;
  padding: $session-margin-lg;

  &__loading {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    z-index: 100;
    background-color: $session-shade-2;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
  }
}

.composition-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $session-shade-4;
  padding: 0px $session-margin-md;
  min-height: min-content;

  & > .session-icon-button {
    margin-right: $session-margin-sm;
  }
  .session-icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;

    .send {
      background-color: $session-shade-14;
      padding: $session-margin-xs;
      border-radius: 50%;
      height: 30px;
      width: 30px;
    }
  }

  .send-message-input {
    display: flex;
    flex-grow: 1;
    min-height: $composition-container-height;
    padding: $composition-container-height / 3 0px;

    textarea {
      font-family: 'SF Pro Text';
      min-height: $composition-container-height / 3;
      max-height: 2 * $composition-container-height;
      margin-right: $session-margin-md;
      color: $session-color-white;
      resize: none;
      display: flex;
      flex-grow: 1;
      background: transparent;
      outline: none;
      border: none;
      font-size: $session-font-md;
      line-height: $session-font-h2;
      letter-spacing: 0.5px;
    }
  }
}

.session-emoji-panel {
  position: absolute;
  bottom: 68px;
  right: 0px;
  min-height: 400px;
  min-width: 400px;
  background-color: $session-shade-4;
  border: 1px solid $session-shade-6;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  padding: $session-margin-lg;
}

.session-progress {
  position: relative;
  background-color: rgba(30, 30, 30, 0.5);

  &__progress {
    transition: opacity 0.15s;
    position: absolute;
    left: 0px;
    font-size: 0px;
    height: 3px;

    background-color: $session-color-green;
  }
}


.session-recording {
  height: $composition-container-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;

  $actions-element-size: 45px;

  &--actions {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $session-shade-5;
    width: $actions-element-size;
    height: $actions-element-size;
    border-radius: 50%;

    .session-icon-button {
      animation: fadein $session-transition-duration;
      opacity: 1;
      border-radius: 50%;
      width: $actions-element-size;
      height: $actions-element-size;

      .play {
        margin-left: 4px;
      }
    }
  }

  &--visualisation {
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    canvas {
      width: 100%;
      padding: 0px $session-margin-lg;
    }
    
  }

  &--status {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: $composition-container-height + $session-margin-md;

    .session-button{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 173px;
      font-weight: 300;
      font-family: "SF Pro Text";
      
      &.primary {
        cursor: default;
        user-select: none;
        &:hover{
          filter: brightness(100%);
          border: 2px solid #161819;
        }
        background-color: $session-shade-1-alt;
        border: 2px solid #161819;
      }
    }
  }

  &--timer {
    display: inline-flex;
    align-items: center;
    font-family: "SF Pro Text";
    font-weight: bold;
    font-size: 14px;

    &-light{
      height: $session-margin-sm;
      width: $session-margin-sm;
      border-radius: 50%;
      background-color: $session-color-danger-alt;
      margin-left: $session-margin-sm;

      animation: pulseLight 4s infinite;
    }
  }
}