@keyframes toShadow {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.25;
  }
}

@keyframes fromShadow {
  from {
    opacity: 0.25;
  }

  to {
    opacity: 1;
  }
}

@keyframes pulseLight {
  0% {
    box-shadow: 0px 0px 0px 0px var(--color-destructive-alt);
  }

  50% {
    box-shadow: 0px 0px 12px 0px rgba(var(--color-destructive-alt-rgb), 1);
  }

  100% {
    box-shadow: 0px 0px 0px 0px rgba(var(--color-destructive-alt-rgb), 1);
  }
}

.conversation-item__options-pane {
  position: absolute;
  height: 100%;
  right: 0vw;

  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
  will-change: transform;
  width: 25vw;
  z-index: 5;

  background-color: var(--background-primary-color);
  border-left: 1px solid var(--border-color);

  &.show {
    transform: none;
    transition: transform 0.3s ease-in-out;
    z-index: 2;
  }
}

.conversation-header {
  &--items-wrapper {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .message-selection-overlay {
    position: absolute;
    display: flex;
    left: 0px;
    right: 0px;
    padding: 0px var(--margins-md);
    align-items: center;
    justify-content: space-between;
    height: var(--main-view-header-height);
    background: var(--background-primary-color);

    .close-button {
      float: left;
    }

    .session-button.danger {
      display: flex;
    }
  }

  .message-selection-overlay div[role='button'] {
    display: inline-block;
  }

  .message-selection-overlay .button-group {
    display: flex;
  }
}

.session-conversation {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-width: calc(100vw - 380px);

  .selection-mode {
    .messages-container > *:not(.message-selected) {
      animation: toShadow var(--default-duration);
      opacity: 0.4;
    }
  }
}

.conversation-content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  position: relative;
  outline: none;

  .conversation-messages {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    height: 0;
    background-color: inherit;
    outline: none;
    position: relative;
    background-color: var(--background-secondary-color);
    border-top: 1px solid var(--border-color);
  }

  .conversation-info-panel {
    position: absolute;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 5; // to be sure to hide the borders of images in messages
    background-color: inherit;
    display: none;
    padding: 20px;

    &.show {
      display: flex;
      background: var(--background-primary-color);
    }
  }
}

.composition-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px var(--margins-md);
  min-height: min-content;
  border-top: 1px solid var(--border-color);
  z-index: 1;

  .session-icon-button {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: var(--margins-sm);

    .send {
      padding: var(--margins-xs);
      border-radius: 50%;
      height: 30px;
      width: 30px;
    }
  }
}

.session-emoji-panel {
  position: absolute;
  bottom: 68px;
  right: 0px;
  padding: var(--margins-lg);

  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: var(--default-duration);

  button:focus {
    outline: none;
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }

  & > section.emoji-mart {
    font-family: $session-font-default;
    font-size: $session-font-sm;
    background-color: var(--color-cell-background);
    border: 1px solid var(--color-session-border);
    border-radius: 8px;
    padding-bottom: var(--margins-sm);

    .emoji-mart-category-label {
      top: -2px;

      span {
        font-family: $session-font-default;
        padding-top: var(--margins-sm);
        background-color: var(--color-cell-background);
      }
    }

    .emoji-mart-scroll {
      height: 340px;
    }

    .emoji-mart-category .emoji-mart-emoji span {
      cursor: pointer;
    }

    .emoji-mart-bar:last-child {
      border: none;

      .emoji-mart-preview {
        display: none;
      }
    }

    &:after {
      content: '';
      position: absolute;
      top: calc(100% - 40px);
      left: calc(100% - 79px);
      width: 22px;
      height: 22px;
      background-color: var(--color-cell-background);
      transform: rotate(45deg);
      border-radius: 3px;
      transform: scaleY(1.4) rotate(45deg);
      border: 0.7px solid var(--color-session-border);
      clip-path: polygon(100% 100%, 7.2px 100%, 100% 7.2px);
    }
  }
}

.send-message-button {
  animation: fadein var(--default-duration);

  &---scale {
    animation: scaling 2s ease-in-out;

    @keyframes scaling {
      0% {
        transform: scale(1);
      }

      80% {
        transform: scale(1.3);
      }

      100% {
        transform: scale(1);
      }
    }
  }
}

.session-recording {
  height: var(--composition-container-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  outline: none;

  $actions-element-size: 30px;

  &--actions {
    display: flex;
    align-items: center;
    width: $actions-element-size;
    height: $actions-element-size;
    border-radius: 50%;

    .session-button {
      animation: fadein var(--default-duration);
    }

    .session-icon-button {
      animation: fadein var(--default-duration);
      border-radius: 50%;
      width: $actions-element-size;
      height: $actions-element-size;

      .play {
        margin-left: 4px;
      }
    }
  }

  &--visualisation {
    z-index: 2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    canvas {
      position: absolute;
      width: 100%;
      padding: 0px var(--margins-lg);
    }
  }

  &--timer {
    display: inline-flex;
    align-items: center;
    font-family: $session-font-default;
    font-weight: bold;
    font-size: 14px;
    flex-shrink: 0;

    &.playback-timer {
      animation: fadein var(--default-duration);

      @media (-webkit-min-device-pixel-ratio: 1.6) {
        margin-left: auto;
      }
    }

    &-light {
      height: var(--margins-sm);
      width: var(--margins-sm);
      border-radius: 50%;
      background-color: var(--color-destructive-alt);
      margin: 0 var(--margins-sm);

      @include pulse-color(var(--color-destructive-alt), 1s, infinite);
    }
  }
}

/* ************ */
/* AUDIO PLAYER */
/* ************ */
$rhap_theme-color: #212121 !default;
$rhap_background-color: var(--color-transparent-color) !default;
$rhap_font-family: inherit !default;

.rhap_container,
.rhap_container button,
.rhap_progress-container {
  outline: none;
}

.rhap_progress-container {
  margin: 0 0 0 calc(10px + 1%);
}

.rhap_container {
  min-width: 220px;
  padding: 0px;
  background-color: transparent;
  box-shadow: none;

  svg {
    transition: fill var(--default-duration);

    &:hover path {
      fill: var(--color-white-color);
    }
  }
}

.rhap_total-time {
  display: none;
}

.rhap_current-time {
  margin: 0 5px 0 4px;
  flex-shrink: 0;
}

.rhap_play-pause-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rhap_volume-bar {
  display: none;
}

.rhap_volume-button {
  color: subtle(var(--color-text));
}

.rhap_volume-container div[role='progressbar'] {
  display: none;
}

.rhap_time {
  color: subtle(var(--color-text));

  font-size: 12px;
}

.rhap_progress-bar {
  box-sizing: border-box;
  position: relative;
  z-index: 0;
  width: 100%;
  height: 5px;
  background-color: var(--color-text);

  border-radius: 2px;
}

.rhap_progress-filled {
  background-color: rgba(var(--color-accent-rgb), 0.6);

  padding-left: 5px;
}

.rhap_download-progress {
  height: 100%;
  position: absolute;
  z-index: 1;
  background-color: subtle(var(--color-text));

  border-radius: 2px;
}

.rhap_progress-indicator {
  z-index: 3;
  width: 15px;
  height: 15px;
  top: -5px;
  margin-left: -10px;
  background: var(--primary-color);
  box-shadow: none;
  box-shadow: rgba($rhap_theme-color, 0.5) 0 0 5px;
}

.rhap_controls-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rhap_additional-controls {
  display: none;
}

.rhap_play-pause-button {
  width: unset;
  height: unset;
}

.rhap_controls-section {
  flex: unset;
  justify-content: flex-start;
}

.rhap_volume-button {
  font-size: 20px;
  width: 20px;
  height: 20px;
  margin-right: 0px;
}

/* **************** */
/* END AUDIO PLAYER */
/* **************** */
