// Messages
.dark-theme {
  .conversation {
    background: none !important;
  }
  .module-conversation-header {
    border-bottom: none;
    background-color: $session-shade-4;
  }

  .module-message {
    &__author,
    &__metadata__badge,
    &__metadata__date--incoming,
    &__metadata__date--outgoing {
      @include session-color-subtle($session-color-white);
    }

    &__container--incoming {
      background-color: $session-shade-11;
    }

    &__container--outgoing {
      background-color: $session-shade-5;
    }

    &__container {
      transition: background-color 0.25s;
      box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.69);
    }
  }

  .message {
    &-highlighted {
      background-color: $session-shade-5;
      border-radius: 0;
    }

    &-selected {
      .module-message {
        &__container {
          background-image: $session-gradient-green;
          box-shadow: $session-dark-shadow;
        }

        &__author {
          color: $session-color-white;
        }
      }
    }

    &-read-receipt-container {
      margin-left: 5px;
    }
  }

  .inbox {
    background-image: $session-gradient-black;
  }
}
.conversation {
  background: none !important;
}

.discussion-container {
  background: none !important;
}

@mixin session-h-title {
  color: $session-color-white;
  font-weight: bold;
}

h1 {
  @include session-h-title;
  font-size: 25px;
  margin: 0;
}

h2 {
  @include session-h-title;
  font-size: 22px;
  text-align: center;
}

h3 {
  @include session-h-title;
  font-size: 18px;
  padding-top: 22px;
}

h4 {
  @include session-h-title;
  font-size: 17px;
  text-align: center;
}
