.slider {
  &-wrapper {
    display: flex;
    align-items: center;
    margin: 20px 10px;
  }

  &-info {
    display: block;
    margin-inline-start: 20px;
    text-align: center;

    p {
      white-space: nowrap;
    }
  }
}

.rc-slider {
  position: relative;
  height: 14px;
  padding: 5px 0;
  width: 100%;
  border-radius: 6px;
  -ms-touch-action: none;
  touch-action: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: var(--transparent-color);
}
.rc-slider * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: var(--transparent-color);
}
.rc-slider-rail {
  position: absolute;
  width: 100%;
  background: var(--zoom-bar-track-color);

  height: 8px;
  border-radius: 6px;
  margin: 0px;
}
.rc-slider-handle {
  transition: var(--default-duration);
  position: absolute;
  width: 6px;
  height: 25px;
  cursor: pointer;
  cursor: -webkit-grab;
  margin-top: -9.5px;
  cursor: grab;
  border-radius: 4px;
  background-color: var(--zoom-bar-thumb-color);
  -ms-touch-action: pan-x;
  touch-action: pan-x;
}
.rc-slider-handle:focus {
  border-color: var(--zoom-bar-thumb-color);
  box-shadow: none;
  outline: none;
}
.rc-slider-handle-click-focused:focus {
  border-color: var(--zoom-bar-thumb-color);
  box-shadow: unset;
}
.rc-slider-handle:hover {
  border-color: var(--zoom-bar-thumb-color);
}
.rc-slider-handle:active {
  border-color: var(--zoom-bar-thumb-color);
  box-shadow: none;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.rc-slider-mark {
  position: absolute;
  top: 18px;
  left: 0;
  width: 100%;
  font-size: 12px;
}
.rc-slider-mark-text {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  color: var(--text-secondary-color);
}
.rc-slider-mark-text-active {
  color: var(--text-primary-color);
}
.rc-slider-step {
  position: absolute;
  width: 100%;
  height: 4px;
  top: -4px;
  background: transparent;
  margin-left: -3px;
}
.rc-slider-dot {
  position: absolute;
  bottom: -2px;
  width: 3px;
  height: 6px;
  background: var(--zoom-bar-interval-color);
  margin-left: 3px;
  cursor: pointer;
  border-radius: 2px;
  vertical-align: middle;
}

.rc-slider-dot-active {
  border-color: var(--primary-color);
}

.rc-slider-disabled {
  background-color: var(--zoom-bar-track-color);
}
.rc-slider-disabled .rc-slider-handle,
.rc-slider-disabled .rc-slider-dot {
  border-color: var(--zoom-bar-interval-color);
  box-shadow: none;
  background-color: var(--zoom-bar-interval-color);
  cursor: not-allowed;
}
.rc-slider-disabled .rc-slider-mark-text,
.rc-slider-disabled .rc-slider-dot {
  cursor: not-allowed !important;
}
.rc-slider-vertical {
  width: 14px;
  height: 100%;
  padding: 0 5px;
}
.rc-slider-vertical .rc-slider-rail {
  height: 100%;
  width: 4px;
}
.rc-slider-vertical .rc-slider-handle {
  margin-left: -5px;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.rc-slider-vertical .rc-slider-mark {
  top: 0;
  left: 18px;
  height: 100%;
}
.rc-slider-vertical .rc-slider-step {
  height: 100%;
  width: 4px;
}
.rc-slider-vertical .rc-slider-dot {
  left: 2px;
  margin-bottom: -4px;
}
.rc-slider-vertical .rc-slider-dot:first-child {
  margin-bottom: -4px;
}
.rc-slider-vertical .rc-slider-dot:last-child {
  margin-bottom: -4px;
}
.rc-slider-tooltip-zoom-down-enter,
.rc-slider-tooltip-zoom-down-appear {
  animation-duration: var(--default-duration);
  animation-fill-mode: both;
  display: block !important;
  animation-play-state: paused;
}
.rc-slider-tooltip-zoom-down-leave {
  animation-duration: var(--default-duration);
  animation-fill-mode: both;
  display: block !important;
  animation-play-state: paused;
}
.rc-slider-tooltip-zoom-down-enter.rc-slider-tooltip-zoom-down-enter-active,
.rc-slider-tooltip-zoom-down-appear.rc-slider-tooltip-zoom-down-appear-active {
  animation-name: rcSliderTooltipZoomDownIn;
  animation-play-state: running;
}
.rc-slider-tooltip-zoom-down-leave.rc-slider-tooltip-zoom-down-leave-active {
  animation-name: rcSliderTooltipZoomDownOut;
  animation-play-state: running;
}
.rc-slider-tooltip-zoom-down-enter,
.rc-slider-tooltip-zoom-down-appear {
  transform: scale(0, 0);
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}
.rc-slider-tooltip-zoom-down-leave {
  animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}
@keyframes rcSliderTooltipZoomDownIn {
  0% {
    opacity: 0;
    transform-origin: 50% 100%;
    transform: scale(0, 0);
  }
  100% {
    transform-origin: 50% 100%;
    transform: scale(1, 1);
  }
}
@keyframes rcSliderTooltipZoomDownOut {
  0% {
    transform-origin: 50% 100%;
    transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    transform-origin: 50% 100%;
    transform: scale(0, 0);
  }
}
.rc-slider-tooltip {
  position: absolute;
  left: -9999px;
  top: -9999px;
  visibility: visible;
  box-sizing: border-box;
  -webkit-tap-highlight-color: var(--transparent-color);
}
.rc-slider-tooltip * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: var(--transparent-color);
}
.rc-slider-tooltip-hidden {
  display: none;
}
.rc-slider-tooltip-placement-top {
  padding: 4px 0 8px 0;
}
.rc-slider-tooltip-inner {
  padding: 6px 2px;
  min-width: 24px;
  height: 24px;
  font-size: 12px;
  line-height: 1;
  color: var(--text-primary-color);
  text-align: center;
  text-decoration: none;
  background-color: var(--background-primary-color);
  border-radius: 6px;
  box-shadow: none;
}
.rc-slider-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.rc-slider-tooltip-placement-top .rc-slider-tooltip-arrow {
  bottom: 4px;
  left: 50%;
  margin-left: -4px;
  border-width: 4px 4px 0;
  border-top-color: var(--background-primary-color);
}
