.session {
  &-registration {
    &__content {
      width: 100%;
      padding-top: 20px;
    }

    @mixin registration-label-mixin {
      color: var(--text-primary-color);

      font-weight: bold;
      padding: 0 20px 20px;
    }

    &__welcome-session {
      @include registration-label-mixin;
      font-size: 14px;
      font-weight: 700;
      line-height: 14px;
      padding-top: 2rem;
      text-align: center;
    }

    &__unique-session-id {
      @include registration-label-mixin;
      text-align: center;
    }
  }

  &-description-long {
    padding-top: 0;
    padding-bottom: 20px;
    color: var(--text-secondary-color);
    text-align: center;
    font-size: 12px;
    line-height: 20px;

    ol {
      margin-inline-start: 20px;
      padding: 0px;
      text-align: justify;
    }
  }

  &-id-editable {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 13px;
    border: 1px solid var(--border-color);
    margin-bottom: 20px;

    textarea {
      width: 100%;
      outline: 0;
      border: none;
      background: transparent;
      color: var(--text-primary-color);
      font-size: var(--font-size-md);
      line-height: 18px;
      text-align: center;
      overflow-wrap: break-word;
      padding: 0px 5px 20px 5px;
      display: inline-block;
      font-family: var(--font-mono), var(--font-default);
      user-select: all;
      overflow: hidden;
      resize: none;
    }
  }
}

[contenteditable='true']:empty::before {
  content: attr(placeholder);

  color: var(--text-secondary-color);
  font-size: var(--font-size-sm);
}
