.group-settings {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: -webkit-fill-available;
  background: var(--color-cell-background);
  border-left: var(--border-session);

  align-items: center;

  &-header {
    margin-top: var(--margins-lg);
    margin-inline-start: var(--margins-sm);
    margin-inline-end: var(--margins-sm);
    width: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;

    .module-avatar {
      margin: auto;
    }
  }

  h2 {
    word-break: break-word;
  }

  .description {
    margin: var(--margins-md) 0;
    min-height: 4rem;
    width: inherit;
    color: var(--color-text);
    background: var(--color-cell-background);
    border: var(--border-session);

    text-align: center;
    display: none;
  }

  &-item {
    display: flex;
    align-items: center;
    min-height: 3rem;
    font-size: 0.8rem;
    color: var(--color-text);
    background: var(--color-cell-background);
    border-top: var(--border-session);
    border-bottom: var(--border-session);

    width: -webkit-fill-available;
    padding: 0 var(--margins-md);
    transition: var(--default-duration);
    cursor: pointer;

    &:hover {
      background: var(--color-clickable-hovered);
    }
  }

  // no double border (top and bottom) between two elements
  &-item + &-item {
    border-top: none;
  }

  .module-empty-state {
    text-align: center;
  }

  .module-attachment-section__items {
    &-media {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 100%;
    }

    &-documents {
      width: 100%;
    }
  }

  .module-media {
    &-gallery {
      &__tab-container {
        padding-top: 1rem;
      }

      &__tab {
        color: var(--color-text);

        font-weight: bold;
        font-size: 0.9rem;
        padding: 0.6rem;
        opacity: 0.8;

        &--active {
          border-bottom: none;
          opacity: 1;

          &:after {
            content: ''; /* This is necessary for the pseudo element to work. */
            display: block;
            margin: 0 auto;
            width: 70%;
            padding-top: 0.5rem;
            border-bottom: var(--border-unread);
          }
        }
      }

      &__content {
        padding: var(--margins-xs);
        margin-bottom: 1vh;

        .module-media-grid-item__image,
        .module-media-grid-item {
          height: calc(
            22vw / 4
          ); //.group-settings is 22vw and we want three rows with some space so divide it by 4
          width: calc(
            22vw / 4
          ); //.group-settings is 22vw and we want three rows with some space so divide it by 4
          margin: auto;
        }
      }
    }
  }
}

.conversation-content {
  display: flex;
  height: inherit;

  &-left {
    flex-grow: 1;
  }
}
