// Messages
.conversation {
  background: none !important;
}
.module-conversation-header {
  background: var(--color-cell-background);
}

.module-message__container {
  .module-message__text {
    font-size: 14px;
    line-height: 18px;
    text-align: start;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;

    a {
      text-decoration: underline;
    }
  }
}

.module-message {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  max-width: 65%;

  &__text-error {
    font-style: italic;
  }

  &_text {
    font-size: 14px;
    line-height: 18px;
    text-align: start;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;

    padding: $padding-message-content;
    border-radius: $border-radius-message-box;

    a {
      text-decoration: underline;
    }
  }

  &__container--incoming {
    color: var(--color-received-message-text);

    .module-message__text {
      display: flex;
      flex-direction: row;
      align-items: center;

      svg {
        margin-right: $session-margin-xs;
      }

      a {
        text-decoration: underline;
        color: inherit;
      }
    }
  }
  color: var(--color-sent-message-text);

  &__container--outgoing {
    .module-message__text {
      a {
        text-decoration: underline;
        color: inherit;
      }
    }
  }
}

.inbox {
  background: var(--color-inbox-background);
  color: var(--color-text);
}

.conversation {
  background: none;
}

@mixin session-h-title {
  @include fontAccentBold();
}

h1 {
  @include session-h-title;
  color: $session-shade-16;
  font-size: 25px;
  margin: 0;

  &.active {
    color: var(--color-text);
  }
}

h2 {
  @include session-h-title;
  color: var(--color-text);

  font-size: 22px;
  text-align: center;
}

h3 {
  @include session-h-title;
  color: var(--color-text);

  font-size: 18px;
  padding-top: 22px;
}

h4 {
  @include session-h-title;
  color: var(--color-text);

  font-size: 17px;
  text-align: center;
}
