.dark-theme {
  .module-conversation-list-item {
    background-color: $session-shade-4;
    &:hover {
      background-color: $session-shade-11;
    }
  }
  .gutter {
    width: 380px !important;
    background: none !important;
    padding-right: 5px !important;
  }

  .module-conversation {
    &-list-item {
      &--has-unread {
        border-left: 4px solid $session-color-green !important;
      }

      &__unread-count {
        color: $color-white !important;
        background-color: $session-shade-10 !important;
        position: static !important;
        font-weight: 700 !important;
        box-shadow: none !important;
        margin: 0 !important;
      }

      &__header__date,
      &__header__date--has-unread {
        flex-grow: 1 !important;
        text-align: end !important;
      }

      &__message__text {
        color: $session-shade-17;
        &--has-unread {
          color: $session-color-white !important;
        }
      }

      &__header__name {
        flex-grow: 0 !important;
        padding-right: 5px !important;
        color: $session-shade-17;
      }

      &__header__name--with-unread .module-conversation__user__profile-number,
      &__header__name--with-unread .module-conversation__user__profile-name {
        color: $session-color-white;
      }
    }

    &__user__profile {
      &-number,
      &-name {
        color: $session-shade-17;
        font-size: 15px;
      }
    }
  }
  .module-conversation-list-item--is-selected {
    background-color: $color-dark-70;
    .module-conversation__user__profile-number,
    .module-conversation__user__profile-name,
    .module-conversation-list-item__message__text {
      color: $session-color-white;
    }
  }
}
.inbox {
  @include session-dark-background-gradient;
}

.module-left-pane {
  border-right: none !important;
  width: 300px;
  height: -webkit-fill-available;
  background: none !important;

  &-session {
    display: flex;
  }

  &__sections-container {
    height: -webkit-fill-available;
    width: 80px;
    display: inline-flex;
    flex-direction: column;

    .module-avatar,
    .session-icon-button {
      margin: 30px auto 30px auto;
      &:last-child {
        margin: auto auto 30px auto;
      }
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    margin: 28px 7px 28px 0px;
  }

  &__title {
    font-family: $session-font-family;
    color: $session-color-white;
    font-size: 25px;
    flex-grow: 1;
  }

  &__list {
    height: -webkit-fill-available;
  }

  &-compose{
    @include session-dark-background-gradient;
    height: -webkit-fill-available;
    .session-icon .exit {
      padding: 13px;
    }

    h3,
    h2 {
      color: $session-color-white;
      font-size: 22px;
      font-weight: bold;
      text-align: center;
    }

    h3 {
      font-size: 18px;
      padding-top: 22px;
    }

    &-border-container {
      position: relative;
      margin-bottom: 50px;
    }

    .white {
      position: absolute;
      color: none;
      height: 1px;
      width: -webkit-fill-available;
      opacity: 0.3;
    }

    .green {
      position: absolute;
      color: $session-color-green;
      background-color: $session-color-green;
      height: 6px;
      width: 130px;
      left: 50%;
      margin-left: -65px;
      top: 50%;
      margin-top:6px;
    }
  }

}

.session-search-input {
  height: 34px;
  width: 100%;
  margin-right: 1px;
  margin-bottom: 10px;
  background: $session-shade-4;
  color: $session-color-white;
  display: inline-flex;

  .session-icon-button {
    margin: auto 10px;
  }

  input {
    width: inherit;
    height: inherit;
    background: $session-shade-4;
    color: $session-color-white;
    border: none;
    flex-grow: 1;

    &:focus {
      outline: none !important;
    }
  }
}

.session-logo-128 {
  @include session-filter-color-green();
  width: 128px;
  height: 128px;
}

.app-loading-screen {
  @include session-dark-background-gradient;
}
