.password {
  height: 100vh;

  .clear-data-wrapper {
    margin: auto;

    .warning-info-area {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .button-group {
      display: flex;
      justify-content: space-around;
    }
  }

  .password-prompt {
    &-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 100%;
      height: 100%;

      padding: calc(3 * var(--margins-lg));
    }

    &-error-section {
      width: 100%;
      color: var(--text-primary-color);
      margin: -var(--margins-sm) 0px calc(2 * var(--margins-lg)) 0px;

      .session-label {
        padding: var(--margins-xs) var(--margins-sm);
        text-align: center;
      }
    }

    &-container {
      font-family: $session-font-default;
      color: var(--text-primary-color);
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      width: 600px;
      min-width: 420px;
      padding: calc(3 * var(--margins-lg)) calc(2 * var(--margins-lg));
      box-sizing: border-box;
      background-color: var(--background-secondary-color);
      border: 1px solid var(--border-color);
      border-radius: 2px;

      .warning-info-area,
      .password-info-area {
        display: inline-flex;
        justify-content: center;
        align-items: center;

        h1 {
          color: var(--text-primary-color);
        }
        svg {
          margin-inline-end: var(--margins-lg);
        }
      }

      p,
      input {
        margin: var(--margins-lg) 0px;
      }

      .button-group {
        display: inline-flex;
      }

      #password-prompt-input {
        width: 100%;
        background-color: var(--text-box-background-color);
        color: var(--text-box-text-user-color);
        margin-top: calc(2 * var(--margins-lg));
        padding: var(--margins-xs) var(--margins-lg);
        outline: none;
        border: 1px solid var(--border-color);
        border-radius: 7px;
        text-align: center;
        font-size: 24px;
        letter-spacing: 5px;
        font-family: $session-font-default;
      }
    }
  }
}
