// Messages
@import 'themes.scss';

// body.dark-theme {
//   @include themify($themes) {
//     background-color: themed('cellBackground');
//   }
//   color: red;

//   background-color: blue
// }

.conversation {
  background: none !important;
}
.module-conversation-header {
  @include themify($themes) {
    background: themed('cellBackground');
  }
}

.module-message {
  &__text-error {
    font-style: italic;
  }

  &__container--incoming {
    @include themify($themes) {
      background: themed('receivedMessageBackground');
    }

    .module-message__text {
      @include themify($themes) {
        color: themed('receivedMessageText');
      }
      a {
        text-decoration: underline;
        @include themify($themes) {
          color: themed('receivedMessageText');
        }
      }
    }

    .module-message__author,
    .module-message__metadata,
    .module-message__metadata__date,
    .module-message__metadata__badge,
    .module-message__metadata__badge--separator {
      @include themify($themes) {
        @include session-color-subtle(themed('receivedMessageText'));
      }
    }

    // when no caption, we have a black shadow behind the metadata field. So fallback to white
    .module-message__metadata--with-image-no-caption {
      .module-message__metadata,
      .module-message__metadata__date,
      .module-message__metadata__badge,
      .module-message__metadata__badge--separator {
        color: white;
      }
    }
  }

  &__container--outgoing {
    @include themify($themes) {
      background: themed('sentMessageBackground');
    }

    .module-message__text {
      @include themify($themes) {
        color: themed('sentMessageText');
      }
      a {
        text-decoration: underline;
        @include themify($themes) {
          color: themed('sentMessageText');
        }
      }
    }

    .module-message__author,
    .module-message__metadata,
    .module-message__metadata__date,
    .module-message__metadata__badge,
    .module-message__metadata__badge--separator {
      @include themify($themes) {
        @include session-color-subtle(themed('sentMessageText'));
      }
    }
  }
}

.message {
  &-highlighted {
    animation: highlightedMessageAnimation 1s ease-in-out;
  }

  &-selected {
    .module-message {
      &__container {
        @include themify($themes) {
          box-shadow: themed('sessionShadow');
        }
      }

      &__author {
        color: $session-color-white;
      }
    }
  }

  &-read-receipt-container {
    margin-inline-start: 5px;
    .session-icon.check {
      @include themify($themes) {
        fill: subtle(themed('sentMessageText'));
      }
    }
  }
}

.inbox {
  @include themify($themes) {
    background: themed('inboxBackground');
    color: themed('textColor');
  }
}

.conversation {
  background: none;
}

@mixin session-h-title {
  @include fontAccentBold();
}

h1 {
  @include session-h-title;
  color: $session-shade-16;
  font-size: 25px;
  margin: 0;

  &.active {
    @include themify($themes) {
      color: themed('textColor');
    }
  }
}

h2 {
  @include session-h-title;
  @include themify($themes) {
    color: themed('textColor');
  }
  font-size: 22px;
  text-align: center;
}

h3 {
  @include session-h-title;
  @include themify($themes) {
    color: themed('textColor');
  }
  font-size: 18px;
  padding-top: 22px;
}

h4 {
  @include session-h-title;
  @include themify($themes) {
    color: themed('textColor');
  }
  font-size: 17px;
  text-align: center;
}

.network-status {
  @include themify($themes) {
    background: themed('accent');
  }

  h3,
  .network-status-message {
    color: $black;
  }
}
