$session-compose-margin: 20px;

.module-conversation {
  // default conversation list item text color
  &__user__profile {
    &-number,
    &-name {
      font-weight: bold;
      font-size: var(--font-size-md);

      color: var(--color-text-subtle);
    }
  }

  &-list-item {
    transition: var(--default-duration);

    &:hover {
      background: var(--color-clickable-hovered);
    }

    &--is-selected {
      background: var(--color-conversation-item-selected);

      .module-conversation__user__profile-number,
      .module-conversation__user__profile-name,
      .module-conversation-list-item__message__text {
        color: var(--color-text);
      }
    }

    &--has-unread {
      border-left: var(--border-unread);
      background: var(--color-conversation-item-has-unread);
    }

    &__unread-count {
      color: var(--color-text);
      background: var(--color-clickable-hovered);

      position: static !important;
      font-weight: 700 !important;
      box-shadow: none !important;
      margin: 0 !important;
      flex-shrink: 0;
    }

    &__header__date,
    &__header__date--has-unread {
      flex-grow: 1 !important;
      text-align: end !important;
    }

    &__message__text {
      color: $session-shade-17;
      &--has-unread {
        color: var(--color-text);
      }
    }

    &__header__name {
      flex-grow: 0;
      padding-inline-end: 5px;
    }

    &__header__name--with-unread .module-conversation__user__profile-number,
    &__header__name--with-unread .module-conversation__user__profile-name {
      color: var(--color-text);
    }
  }
}

.module-left-pane {
  width: $session-left-pane-width;
  position: relative;
  height: 100vh;
  flex-shrink: 0;

  &-session {
    display: flex;
    height: 100vh;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: $main-view-header-height;
    padding-inline-end: 7px;
    transition: var(--default-duration);
  }

  &__title {
    padding-inline-end: var(--margins-sm);
    padding-inline-start: var(--margins-sm);
    transition: var(--default-duration);
    flex-grow: 1;
  }

  &-overlay {
    background: var(--color-left-pane-overlay-background);

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;

    .session-icon .exit {
      padding: 13px;
    }

    .exit {
      margin-top: 10px;
      margin-inline-start: 13px;
      align-self: flex-start;
    }

    .session-search-input {
      margin: 10px $session-compose-margin 0 $session-compose-margin;
      width: -webkit-fill-available;
    }

    .session-id-editable {
      width: 90%;

      textarea::-webkit-inner-spin-button {
        margin: 0px 20px;
        width: -webkit-fill-available;
        flex-shrink: 0;
      }
    }

    .session-id-editable-disabled {
      border: none;
    }

    .session-button {
      width: fit-content;
      margin-top: 1rem;
      margin-bottom: 3rem;
      flex-shrink: 0;
    }
  }
}

.conversation.placeholder {
  margin: auto;
  .container {
    display: flex;
    height: 100%;
  }
}

.session-full-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;

  .session-brand-logo {
    height: 180px;
    filter: brightness(0) saturate(100%) invert(75%) sepia(84%) saturate(3272%) hue-rotate(103deg)
      brightness(106%) contrast(103%);
  }

  .session-text-logo {
    margin-top: 10px;
    width: 250px;
    filter: var(--filter-session-text);

    transition: 0s;
    .path {
      fill: red;
    }
  }
}
