.conversation-content-right {
  transition: $session-transition-duration;
  width: 22vw;
  margin-right: -22vw;
}

.group-settings {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 22vw;
  flex-shrink: 0;
  border: $session-separator-element-border;
  background-color: $session-shade-4;
  align-items: center;

  &-header {
    margin-top: $session-margin-lg;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;

    .module-avatar {
      margin: auto;
    }

    .session-icon-button,
    .invite-friends-container {
      margin: 0 $session-margin-md;
    }
  }

  h2 {
    word-break: break-word;
  }

  .description {
    margin: $session-margin-md 0;
    border: $session-separator-element-border;
    background-color: $session-shade-1;
    min-height: 4rem;
    width: inherit;
    color: $session-color-white;
    text-align: center;
    display: none;
  }

  &-item {
    display: flex;
    align-items: center;
    background-color: $session-shade-1;
    min-height: 3rem;
    font-size: 0.8rem;
    color: $session-color-white;
    width: -webkit-fill-available;
    padding: 0 $session-margin-md;
    border-bottom: $session-separator-element-border;
    border-top: $session-separator-element-border;
    transition: $session-transition-duration;
    cursor: pointer;

    &:hover {
      @include session-dark-background-hover;
    }
  }

  // no double border (top and bottom) between two elements
  &-item + &-item {
    border-top: none;
  }

  // bottom button
  .session-button.square-outline.danger {
    margin-top: auto;
    width: 100%;
    border: none;
    height: 3.5rem;
    background-color: black;
    flex-shrink: 0;
    align-items: center;
  }

  .module-empty-state {
    text-align: center;
  }

  .module-attachment-section__items {
    &-media {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 100%;
    }

    &-documents {
      width: 100%;
    }
  }

  .module-media {
    &-gallery {
      &__tab-container {
        padding-top: 1rem;
      }

      &__tab {
        color: white;
        font-weight: bold;
        font-size: 0.9rem;
        padding: 0.6rem;
        opacity: 0.8;

        &--active {
          border-bottom: none;
          opacity: 1;

          &:after {
            content: ''; /* This is necessary for the pseudo element to work. */
            display: block;
            margin: 0 auto;
            width: 70%;
            padding-top: 0.5rem;
            border-bottom: $session-element-border-green;
          }
        }
      }

      &__content {
        padding: $session-margin-xs;

        .module-media-grid-item__image,
        .module-media-grid-item {
          height: calc(
            22vw / 3.5
          ); //.group-settings is 22vw and we want three rows with some space so divide it by 3.5
          width: calc(
            22vw / 3.5
          ); //.group-settings is 22vw and we want three rows with some space so divide it by 3.5
          margin: auto;
        }
      }
    }
  }
}

.conversation-content {
  display: flex;
  height: inherit;

  &-left {
    flex-grow: 1;
  }
}
