.settings {
  &.modal {
    padding: 0;
    background-color: transparent;

    .content {
      margin: 0;
      margin-left: auto;
      margin-right: auto;

      width: 100%;
      max-width: 450px;
      border-radius: 0;
      box-shadow: 0px 0px 0px 0px;
    }
  }
  hr {
    margin: 10px 0;
  }
  .device-name-settings {
    text-align: center;
    margin-bottom: 1em;
  }
  .syncSettings {
    button {
      float: right;
      line-height: 36px;
      padding: 0 20px;
      margin: 0 0 20px 20px;
    }
    .synced_at {
      font-size: $font-size-small;
      color: $grey;
    }
    .sync_failed {
      display: none;
      font-size: $font-size-small;
      color: red;
    }
  }
  .restart-needed {
    margin-top: 1em;
  }

  .clear-data-settings {
    button {
      float: right;
      line-height: 36px;
      padding: 0 20px;
      margin: 0 0 20px 20px;
    }
    .destructive {
      background-color: red;
      color: white;
    }
  }
}
