@mixin invert-text-color {
  color: white;

  &::selection {
    background: white;
    color: $grey_d;
  }
}

$ios-header-border-color: rgba(0,0,0,0.05);
$ios-border-color: rgba(0,0,0,0.1);

.ios {
  #header {
    height: $header-height;
    border-bottom: 1px solid $ios-header-border-color;
    border-width: 0 1px 1px 0;
    background-color: $grey_l;
    color: $grey_d;
    h1 { display: none; }
  }
  .gutter {
    border-right: 1px solid $ios-border-color;
    .content {
      height: calc(100% - #{$header-height});
      background: $ios-border-color;
    }
    .contact {
      background: $grey_l;
      margin-right: 0;

      &.selected {
        background: $blue;
        color: white;
        .last-timestamp {
          color: white;
        }
      }
    }
    ::-webkit-scrollbar-track {
      background: $grey_l;
    }
  }
  .tool-bar {
    float: left;
    padding: 15px;
  }
  input[type=text]:active,
  input[type=text]:focus,
  input[type=search]:active,
  input[type=search]:focus,
  input[type=search].active,
  form.active {
    outline-offset: 0;
    outline: -webkit-focus-ring-color auto 5px;
  }
  input.search {
    border-radius: 5px;
    width: 220px;
    height: 34px;
    padding-left: 30px;
    line-height: 34px;
    background-color: #dddddd;
  }
  .conversation-header {
    background-color: $grey_l;
    color: $grey_d;
    border-color: $ios-header-border-color;
    text-align: left;

    .conversation-title {
      line-height: $header-height;
    }
    .avatar { display: none; }
  }
  button.back {
    @include header-icon-black('/images/back.svg');
  }
  .menu .hamburger {
    @include header-icon-black('/images/menu.svg');
  }
  .bottom-bar {
    padding: 15px;
    min-height: 30px;
    border-top: 1px solid $ios-border-color;
    form.send {
      border-radius: 5px;
      border: 1px solid $ios-border-color;
    }
  }

  .error-message.content,
  .control .content {
    padding: 10px;
  }
  .bubble {
    .content {
      margin-bottom: 5px;
      .body {
        display: inline-block;
        padding: 10px;
        position: relative;
        word-break: break-word;

        &:before, &:after {
          content: '';
          display: block;
          border-radius: 20px;
          position: absolute;
          width: 10px;
        }
        &:before {
          right: -1px;
          bottom: -3px;
          height: 10px;
          border-radius: 20px;
          background: $blue;
        }
        &:after {
          height: 11px;
          right: -6px;
          bottom: -3px;
          background: white;
        }
      }
    }
    .content, .attachments img {
      border-radius: 15px;
    }
    .attachments img {
      border: 1px solid $ios-border-color;
    }
    .meta {
      float: none;
      clear: both;
    }
  }
  .incoming .content {
    background-color: #e6e5ea;
    color: black;
    float: left;
    .body {
      &:before {
        left: -1px;
        background-color: #e6e5ea;
      }
      &:after {
        left: -6px;
      }
    }
  }
  .outgoing {
    .content {
      background-color: $blue;
      &, .body, a {
        @include invert-text-color;
      }
      float: right;
    }
    .timestamp {
      float: none;
    }
    .status {
      float: right;
    }
  }
  .attachment {
    a {
      border-radius: 15px;
    }
    margin-bottom: 1px;
  }
  .hourglass {
    @include hourglass(#999);
  }
}

.android {
  #header {
    background-color: $blue;
    color: white;
    transition: background-color 0.5s;

    &.inactive {
      background-color: $grey_l;
      color: $grey_d;
    }
  }
  .contact-details .name {
    font-weight: 400;
  }
  .conversation.placeholder .conversation-header {
    display: none;
  }
  .conversation-header, .bubble {
    @include avatar-colors;
  }
  .bottom-bar {
    min-height: 10px;
  }
  .bubble {
    padding: 9px 12px;
    border-radius: $border-radius;
    box-shadow: 0 3px 3px -4px black;
  }

  .outgoing .bubble {
    background-color: $grey_l;
  }
  .outgoing .hourglass {
    @include hourglass(#999);
  }
  .incoming .hourglass {
    @include hourglass(#fff);
  }

  .incoming .bubble {
    .sender, .content, .body, .meta, a {
      @include invert-text-color;
    }
    .attachments, .content {
      a {
        color: $grey_l;
      }
    }
  }
}

