// Loki colors
$color-loki-light-gray: #e9e9e9;
$color-loki-dark-gray: #323232;
$color-loki-extra-dark-gray: #101010;
$color-loki-green: #3bd110;
$color-loki-green-dark: #32b10e;
$color-loki-green-gradient: linear-gradient(
  to right,
  rgb(120, 190, 32) 0%,
  rgb(0, 133, 34) 100%
);

$color-white: #ffffff;
$color-gray-02: #f8f9f9;
$color-gray-05: #eeefef;
$color-gray-15: #d5d6d6;
$color-gray-25: #bbbdbe;
$color-gray-45: #898a8c;
$color-gray-60: #6b6d70;
$color-gray-75: #3d3e44;
$color-gray-85: #23252a;
$color-gray-90: #17191d;
$color-gray-95: #0f1012;
$color-black: #000000;


$color-white-015: rgba($color-white, 0.15);
$color-white-02: rgba($color-white, 0.2);
$color-white-04: rgba($color-white, 0.4);
$color-white-05: rgba($color-white, 0.5);
$color-white-06: rgba($color-white, 0.6);
$color-white-07: rgba($color-white, 0.7);
$color-white-075: rgba($color-white, 0.75);
$color-white-08: rgba($color-white, 0.8);
$color-white-085: rgba($color-white, 0.85);
$color-light-02: #f9fafa;
$color-light-10: #eeefef;
$color-light-20: #c1c5cd;
$color-light-35: #a4a6a9;
$color-light-45: #8b8e91;
$color-light-60: #62656a;
$color-light-90: #070c14;

$color-dark-05: #efefef;
$color-dark-30: #a8a9aa;
$color-dark-55: #88898c;
$color-dark-60: #797a7c;
$color-dark-70: #414347;
$color-dark-72: #31343c;
$color-dark-75: #292c33;
$color-dark-85: #1a1c20;
$color-dark-90: #121417;
$color-black-008: rgba($color-black, 0.08);
$color-black-005: rgba($color-black, 0.05);
$color-black-008-no-tranparency: #ededed;
$color-black-016-no-tranparency: #d9d9d9;
$color-black-012: rgba($color-black, 0.12);
$color-black-015: rgba($color-black, 0.15);
$color-black-02: rgba($color-black, 0.2);
$color-black-04: rgba($color-black, 0.4);
$color-black-06: rgba($color-black, 0.6);


// Old colors

$blue_l: #a2d2f4;
$blue: #2090ea;
$grey_l: #f3f3f3;
$grey_l1: #bdbdbd;
$grey_l1_5: #e6e6e6;
$grey_l2: #d9d9d9; // ~ Equivalent to darken($grey_l, 10%), unreliably compiles
$grey_l3: darken($grey_l, 20%);
$grey_l4: darken($grey_l, 40%);
$grey: #616161;
$grey_d: #454545;

// A few layout variables used cross-file

$header-height: 55px;
$button-height: 24px;

$border-radius: 5px;
$message-container-border-radius: 16px;

$font-size: 14px;
$font-size-small: (13/14) + em;
