.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

body {
  min-width: 320px;
  min-height: 500px;
}
.number.error {
  background-color: #ffdddd;
}

.gutter {
  padding-bottom: 0;
  overflow: hidden;
}

#contacts {
  overflow-y: scroll;
}
#contacts::-webkit-scrollbar {
  display: none;
}

.conversation {
  margin: 0;
  padding: 0;
}

ul.discussion {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}

.conversation .bootstrap-tagsinput {
  max-width: 40%;
}
