ul.discussion {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}

li.entry .sender {
  display: none;
  font-size: 0.75em;
  opacity: 0.54;
}

.group.conversation li.entry .sender {
  display: block;
}


li.entry .avatar {
  height:32px;
  width:32px;
  border-radius:32px;
  cursor:pointer;
  display:inline-block;
  float:left;
  clear:both;
  background-color:whitesmoke;
}

li.entry.outgoing .avatar {
  display: none;
}

li.entry img {
  max-width: 100%;
  margin-top: 5px;
}

div.imageAttachment {
  height: 30px;
  width: 30px;
  float: left;
  margin: 6px;
  position: relative;
}

img.preview {
  width: 30px;
  height: 30px;
  overflow: hidden;
  position: relative;
}

.close {
  font-family: sans-serif;
  color: white;
  position: absolute;
  top: -10px;
  left: 20px;
  text-align: center;
  cursor: default;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 0px;

  background: #666;
  color: #fff;
  text-align: center;
}

.bootstrap-tagsinput .tag {
  background-color: #00badd;
  padding: 5px;
  border-radius: 3px;
}

ul.country-list {
  min-width: 197px !important;
}
<<<<<<< HEAD

div.attachments {
  width: 95% !important;
}

input.file-input {
  float: left !important;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 10000 !important;
  display: none;
}

.modal-content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-y: scroll;
}

.modal-container {
  background-color: #FFFFFF;
  width: 450px;
  -webkit-box-shadow: 0 0 7px 0 #000000;
  moz-box-shadow: 0 0 7px 0 #000000;
  box-shadow: 0 0 7px 0 #000000;
  display: block;
  z-index: 10000 !important;
  margin: 45px auto;
  position: relative;
  border: 1px solid #666;
}

.modal-banner {
  background-color: #00badd;
  color: #ffffff;
  height: 45px;
  line-height: 45px;
  vertical-align: middle;
  text-align: center;
  font-wight: bold;
  font-size: 1.5em;
  position: relative;
}
.modal-banner span {
  padding: 0 20px;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 12px;
  bottom: 0;
}
.modal-close a.modal-close-button {
  color: #FFFFFF;
  text-decoration: none;
  font-size: .8em;
}

.modal-inner {
  overflow: hidden;
}

.modal-inner>p {
  color: black !important;
}

.modal-padding {
  padding: 16px 18px;
}

@media only screen and (max-width: 450px) {
  .modal-container {
    width: 100%;
    margin: 0 auto;
  }

  .modal-banner {
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
    text-align: center;
    font-wight: bold;
    font-size: 1em;
    position: relative;
  }
}
