.gutter {
  margin-top: 36px;
}

.contact .checkbox {
  display: none;
}

.new-contact,
.typeahead {
  .last-message, .last-timestamp {
    display: none;
  }

  .contact .checkbox {
    display: inline-block;
  }
}

.new-contact .contact::before {
  content: 'New contact'
}
