.gutter {
  margin-top: 36px;
}

.contact .checkbox {
  display: none;
}

.new-contact,
.typeahead {
  .last-message, .last-timestamp {
    display: none;
  }

  .contact .checkbox {
    display: inline-block;
  }
}

.index {
  color: $grey_d;
  background: #eee;

  .contact {
    position: relative;
    padding: 12px;
    background: white;
    cursor: pointer;
    transition: background 0.2s;

    &::after {
      content: '';
      position: absolute;
      right: 16px;
      bottom: 0;
      height: 1px;
      width: calc(100% - 12px - 54px - 2 * 8px - 16px);
      background: #eee;
    }

    &:hover {
      background: #f8f8f8;
    }

    &:last-child {
      box-shadow: 0 1px 3px rgba(#aaa, 0.8);

      &::after {
        display: none;
      }
    }
  }

  .contact-details {
    vertical-align: top;
    display: inline-block;
    width: calc(100% - 54px - 2 * 12px - 8px);
    margin: 4px 0 0 8px;
  }

  .contact-name {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
  }

  .last-message {
    margin: 6px 0;
    font-size: 14px;
    font-weight: 300;
  }

  .timestamp {
    position: absolute;
    top: 14px;
    right: 12px;
    color: #888;
  }

  img {
    height: 54px;
    width: 54px;
    background: $grey_l;
    border-radius: (54px / 2);
  }

}

.settings {
  height: 100%;
  width: 100%;
  background: red;
  display: none;

  .settings-open & {
    display: block;
  }
}
