// Modules
@import 'react-h5-audio-player/lib/styles.css';
@import 'react-contexify/dist/ReactContexify.css'; // the .css is actually referencing the .min.css in the 6.0.0
@import 'react-toastify/dist/ReactToastify.css';

@import 'sanitize.css/sanitize.css';
@import 'sanitize.css/forms.css';
@import 'sanitize.css/typography.css';

// Global Settings and Mixins
@import 'session_constants';
@import 'global';

// Components
@import 'modal';
@import 'lightbox';
@import 'mentions';
@import 'avatar';

// Build the main view
@import 'index';

// /////////////////// //
// ///// Session ///// //
// /////////////////// //
@import 'modules';
@import 'session';
@import 'rtl';

// Separate screens
@import 'session_signin';

@import 'session_theme';
@import 'session_left_pane';

@import 'session_slider';
@import 'session_conversation';
