// Copyright 2014 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

// Global Settings, Variables, and Mixins
@import 'fontfaces';
@import 'variables';
@import 'mixins';
@import 'global';
@import 'titlebar';

// Old style: components
@import 'progress';
@import 'emoji';

// Old style: modules
@import 'modules';

// Old style: installer
@import 'options';

// New style: components
@import './components/About.scss';
@import './components/AboutContactModal.scss';
@import './components/AddGroupMembersModal.scss';
@import './components/AddUserToAnotherGroupModal.scss';
@import './components/AnnouncementsOnlyGroupBanner.scss';
@import './components/App.scss';
@import './components/AudioCapture.scss';
@import './components/AutoSizeInput.scss';
@import './components/Avatar.scss';
@import './components/AvatarEditor.scss';
@import './components/AvatarModalButtons.scss';
@import './components/AvatarPreview.scss';
@import './components/AvatarTextEditor.scss';
@import './components/BadgeCarouselIndex.scss';
@import './components/BadgeDialog.scss';
@import './components/BadgeSustainerInstructionsDialog.scss';
@import './components/BetterAvatarBubble.scss';
@import './components/Button.scss';
@import './components/CallsTab.scss';
@import './components/CallingAdhocCallInfo.scss';
@import './components/CallingAudioIndicator.scss';
@import './components/CallingStatusIndicator.scss';
@import './components/CallingButton.scss';
@import './components/CallControls.scss';
@import './components/CallSettingsButton.scss';
@import './components/CallingLobby.scss';
@import './components/CallingPendingParticipants.scss';
@import './components/CallingPreCallInfo.scss';
@import './components/CallingScreenSharingController.scss';
@import './components/CallingSelectPresentingSourcesModal.scss';
@import './components/CallingToast.scss';
@import './components/CallLinkAddNameModal.scss';
@import './components/CallLinkDetails.scss';
@import './components/CallLinkEditModal.scss';
@import './components/CallingRaisedHandsList.scss';
@import './components/CallingRaisedHandsToasts.scss';
@import './components/CallingReactionsToasts.scss';
@import './components/CallReactionBurst.scss';
@import './components/ChatColorPicker.scss';
@import './components/Checkbox.scss';
@import './components/CircleCheckbox.scss';
@import './components/CollidingAvatars.scss';
@import './components/ComposeStepButton.scss';
@import './components/CompositionArea.scss';
@import './components/CompositionRecording.scss';
@import './components/CompositionRecordingDraft.scss';
@import './components/CompositionInput.scss';
@import './components/CompositionTextArea.scss';
@import './components/ContactListItem.scss';
@import './components/ContactModal.scss';
@import './components/ContactName.scss';
@import './components/ContactPill.scss';
@import './components/ContactPills.scss';
@import './components/ContactSpoofingReviewDialog.scss';
@import './components/ContactSpoofingReviewDialogPerson.scss';
@import './components/ContextMenu.scss';
@import './components/ConversationDetails.scss';
@import './components/ConversationDetailsHeader.scss';
@import './components/ConversationHeader.scss';
@import './components/ConversationHero.scss';
@import './components/ConversationMergeNotification.scss';
@import './components/ConversationPanel.scss';
@import './components/ConversationView.scss';
@import './components/CountryCodeSelect.scss';
@import './components/CustomColorEditor.scss';
@import './components/CustomizingPreferredReactionsModal.scss';
@import './components/DebugLogWindow.scss';
@import './components/DeleteMessagesModal.scss';
@import './components/DisappearingTimeDialog.scss';
@import './components/DisappearingTimerSelect.scss';
@import './components/EditConversationAttributesModal.scss';
@import './components/EditHistoryMessagesModal.scss';
@import './components/EditNicknameAndNoteModal.scss';
@import './components/EditUsernameModalBody.scss';
@import './components/ForwardMessageModal.scss';
@import './components/GradientDial.scss';
@import './components/GroupDescription.scss';
@import './components/GroupDialog.scss';
@import './components/GroupInput.scss';
@import './components/HueSlider.scss';
@import './components/Inbox.scss';
@import './components/IncomingCallBar.scss';
@import './components/Input.scss';
@import './components/InstallScreenChoosingDeviceNameStep.scss';
@import './components/InstallScreenErrorStep.scss';
@import './components/InstallScreenLinkInProgressStep.scss';
@import './components/InstallScreenQrCodeNotScannedStep.scss';
@import './components/InstallScreenSignalLogo.scss';
@import './components/InstallScreenUpdateDialog.scss';
@import './components/LeftPaneBanner.scss';
@import './components/LeftPaneDialog.scss';
@import './components/LeftPaneFindByPhoneNumberHelper.scss';
@import './components/LeftPaneFindByUsernameHelper.scss';
@import './components/LeftPaneSearchInput.scss';
@import './components/Lightbox.scss';
@import './components/ListTile.scss';
@import './components/LocalDeleteWarningModal.scss';
@import './components/MediaEditor.scss';
@import './components/MediaQualitySelector.scss';
@import './components/MessageAudio.scss';
@import './components/MessageBody.scss';
@import './components/MessageRequestActionsConfirmation.scss';
@import './components/MessageTextRenderer.scss';
@import './components/MessageDetail.scss';
@import './components/MiniPlayer.scss';
@import './components/Modal.scss';
@import './components/MyStories.scss';
@import './components/NavSidebar.scss';
@import './components/NavTabs.scss';
@import './components/OutgoingGiftBadgeModal.scss';
@import './components/PermissionsPopup.scss';
@import './components/PlaybackButton.scss';
@import './components/PlaybackRateButton.scss';
@import './components/Preferences.scss';
@import './components/ProfileEditor.scss';
@import './components/Quote.scss';
@import './components/ReactionPickerPicker.scss';
@import './components/RecordingComposer.scss';
@import './components/SafetyNumberChangeDialog.scss';
@import './components/SafetyNumberOnboarding.scss';
@import './components/SafetyNumberViewer.scss';
@import './components/SafetyTipsModal.scss';
@import './components/ScrollDownButton.scss';
@import './components/SearchInput.scss';
@import './components/SearchResultsLoadingFakeHeader.scss';
@import './components/SearchResultsLoadingFakeRow.scss';
@import './components/Select.scss';
@import './components/SelectModeActions.scss';
@import './components/SendStoryModal.scss';
@import './components/ShortcutGuide.scss';
@import './components/SignalConnectionsModal.scss';
@import './components/Slider.scss';
@import './components/SpinnerV2.scss';
@import './components/StagedLinkPreview.scss';
@import './components/StickerManager.scss';
@import './components/Stories.scss';
@import './components/StoriesSettingsModal.scss';
@import './components/StoryCreator.scss';
@import './components/StoryDetailsModal.scss';
@import './components/StoryImage.scss';
@import './components/StoryLinkPreview.scss';
@import './components/StoryListItem.scss';
@import './components/StoryReplyQuote.scss';
@import './components/StoryViewer.scss';
@import './components/StoryViewsNRepliesModal.scss';
@import './components/SystemMessage.scss';
@import './components/Tabs.scss';
@import './components/TextAttachment.scss';
@import './components/TimelineDateHeader.scss';
@import './components/TimelineFloatingHeader.scss';
@import './components/TimelineWarning.scss';
@import './components/TimelineWarnings.scss';
@import './components/Toast.scss';
@import './components/ToastManager.scss';
@import './components/Waveform.scss';
@import './components/WaveformScrubber.scss';
@import './components/UsernameLinkModalBody.scss';
@import './components/UsernameMegaphone.scss';
@import './components/UsernameOnboardingModal.scss';
@import './components/WhatsNew.scss';
