// Copyright 2014 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

// Global Settings, Variables, and Mixins
@use 'fontfaces';
@use 'variables';
@use 'mixins';
@use 'global';
@use 'titlebar';

// Old style: components
@use 'emoji';

// Old style: modules
@use 'modules';

// Old style: installer
@use 'options';

// New style: components
@use 'components/About.scss';
@use 'components/AboutContactModal.scss';
@use 'components/AddGroupMembersModal.scss';
@use 'components/AddUserToAnotherGroupModal.scss';
@use 'components/AnnouncementsOnlyGroupBanner.scss';
@use 'components/App.scss';
@use 'components/AttachmentDetailPill.scss';
@use 'components/AttachmentNotAvailableModal.scss';
@use 'components/AudioCapture.scss';
@use 'components/AutoSizeInput.scss';
@use 'components/Avatar.scss';
@use 'components/AvatarEditor.scss';
@use 'components/AvatarModalButtons.scss';
@use 'components/AvatarPreview.scss';
@use 'components/AvatarTextEditor.scss';
@use 'components/BackupMediaDownloadProgress.scss';
@use 'components/BadgeCarouselIndex.scss';
@use 'components/BadgeDialog.scss';
@use 'components/BadgeSustainerInstructionsDialog.scss';
@use 'components/BetterAvatarBubble.scss';
@use 'components/Button.scss';
@use 'components/CallsTab.scss';
@use 'components/CallingAdhocCallInfo.scss';
@use 'components/CallingAudioIndicator.scss';
@use 'components/CallingStatusIndicator.scss';
@use 'components/CallingButton.scss';
@use 'components/CallControls.scss';
@use 'components/CallSettingsButton.scss';
@use 'components/CallingLobby.scss';
@use 'components/CallingPendingParticipants.scss';
@use 'components/CallingPreCallInfo.scss';
@use 'components/CallingScreenSharingController.scss';
@use 'components/CallingSelectPresentingSourcesModal.scss';
@use 'components/CallingToast.scss';
@use 'components/CallLinkAddNameModal.scss';
@use 'components/CallLinkDetails.scss';
@use 'components/CallLinkEditModal.scss';
@use 'components/CallLinkPendingParticipantModal.scss';
@use 'components/CallLinkRestrictionsSelect.scss';
@use 'components/CallingRaisedHandsList.scss';
@use 'components/CallingRaisedHandsToasts.scss';
@use 'components/CallingReactionsToasts.scss';
@use 'components/CallReactionBurst.scss';
@use 'components/ChatColorPicker.scss';
@use 'components/Checkbox.scss';
@use 'components/CircleCheckbox.scss';
@use 'components/ClearFilterButton.scss';
@use 'components/ClearingData.scss';
@use 'components/CollidingAvatars.scss';
@use 'components/ComposeStepButton.scss';
@use 'components/CompositionArea.scss';
@use 'components/CompositionRecording.scss';
@use 'components/CompositionRecordingDraft.scss';
@use 'components/CompositionInput.scss';
@use 'components/CompositionTextArea.scss';
@use 'components/ContactListItem.scss';
@use 'components/ContactModal.scss';
@use 'components/ContactName.scss';
@use 'components/ContactPill.scss';
@use 'components/ContactPills.scss';
@use 'components/ContactSpoofingReviewDialog.scss';
@use 'components/ContactSpoofingReviewDialogPerson.scss';
@use 'components/ContextMenu.scss';
@use 'components/ConversationDetails.scss';
@use 'components/ConversationDetailsHeader.scss';
@use 'components/ConversationHeader.scss';
@use 'components/ConversationHero.scss';
@use 'components/ConversationMergeNotification.scss';
@use 'components/ConversationPanel.scss';
@use 'components/ConversationView.scss';
@use 'components/CountryCodeSelect.scss';
@use 'components/CustomColorEditor.scss';
@use 'components/CustomizingPreferredReactionsModal.scss';
@use 'components/DebugLogWindow.scss';
@use 'components/DeleteMessagesModal.scss';
@use 'components/DisappearingTimeDialog.scss';
@use 'components/DisappearingTimerSelect.scss';
@use 'components/EditConversationAttributesModal.scss';
@use 'components/EditHistoryMessagesModal.scss';
@use 'components/EditNicknameAndNoteModal.scss';
@use 'components/EditUsernameModalBody.scss';
@use 'components/ForwardMessageModal.scss';
@use 'components/fun/Fun.scss';
@use 'components/GradientDial.scss';
@use 'components/GroupDescription.scss';
@use 'components/GroupDialog.scss';
@use 'components/GroupInput.scss';
@use 'components/HueSlider.scss';
@use 'components/InAnotherCallTooltip.scss';
@use 'components/Inbox.scss';
@use 'components/IncomingCallBar.scss';
@use 'components/Input.scss';
@use 'components/InstallScreenBackupImportStep.scss';
@use 'components/InstallScreenErrorStep.scss';
@use 'components/InstallScreenLinkInProgressStep.scss';
@use 'components/InstallScreenQrCodeNotScannedStep.scss';
@use 'components/InstallScreenSignalLogo.scss';
@use 'components/InstallScreenUpdateDialog.scss';
@use 'components/LeftPaneBanner.scss';
@use 'components/LeftPaneDialog.scss';
@use 'components/LeftPaneFindByPhoneNumberHelper.scss';
@use 'components/LeftPaneFindByUsernameHelper.scss';
@use 'components/LeftPaneSearchInput.scss';
@use 'components/Lightbox.scss';
@use 'components/ListTile.scss';
@use 'components/LocalDeleteWarningModal.scss';
@use 'components/MediaEditor.scss';
@use 'components/MediaQualitySelector.scss';
@use 'components/MessageAudio.scss';
@use 'components/MessageBody.scss';
@use 'components/MessageRequestActionsConfirmation.scss';
@use 'components/MessageTextRenderer.scss';
@use 'components/MessageDetail.scss';
@use 'components/MiniPlayer.scss';
@use 'components/Modal.scss';
@use 'components/MyStories.scss';
@use 'components/NavSidebar.scss';
@use 'components/NavTabs.scss';
@use 'components/OutgoingGiftBadgeModal.scss';
@use 'components/PermissionsPopup.scss';
@use 'components/PlaybackButton.scss';
@use 'components/PlaybackRateButton.scss';
@use 'components/Preferences.scss';
@use 'components/ProfileEditor.scss';
@use 'components/ProgressBar.scss';
@use 'components/ProgressCircle.scss';
@use 'components/Quote.scss';
@use 'components/ReactionPickerPicker.scss';
@use 'components/RecordingComposer.scss';
@use 'components/SafetyNumberChangeDialog.scss';
@use 'components/SafetyNumberOnboarding.scss';
@use 'components/SafetyNumberViewer.scss';
@use 'components/SafetyTipsModal.scss';
@use 'components/ScrollDownButton.scss';
@use 'components/SearchInput.scss';
@use 'components/SearchResultsLoadingFakeHeader.scss';
@use 'components/SearchResultsLoadingFakeRow.scss';
@use 'components/Select.scss';
@use 'components/SelectModeActions.scss';
@use 'components/SendStoryModal.scss';
@use 'components/ShortcutGuide.scss';
@use 'components/SignalConnectionsModal.scss';
@use 'components/SignalConversationMuteToggle.scss';
@use 'components/Slider.scss';
@use 'components/SpinnerV2.scss';
@use 'components/StagedLinkPreview.scss';
@use 'components/StickerManager.scss';
@use 'components/Stories.scss';
@use 'components/StoriesSettingsModal.scss';
@use 'components/StoryCreator.scss';
@use 'components/StoryDetailsModal.scss';
@use 'components/StoryImage.scss';
@use 'components/StoryLinkPreview.scss';
@use 'components/StoryListItem.scss';
@use 'components/StoryProgressSegment.scss';
@use 'components/StoryReplyQuote.scss';
@use 'components/StoryViewer.scss';
@use 'components/StoryViewsNRepliesModal.scss';
@use 'components/SystemMessage.scss';
@use 'components/Tabs.scss';
@use 'components/TextAttachment.scss';
@use 'components/TimelineDateHeader.scss';
@use 'components/TimelineFloatingHeader.scss';
@use 'components/TimelineWarning.scss';
@use 'components/TimelineWarnings.scss';
@use 'components/Toast.scss';
@use 'components/ToastManager.scss';
@use 'components/Waveform.scss';
@use 'components/WaveformScrubber.scss';
@use 'components/UsernameLinkModalBody.scss';
@use 'components/UsernameMegaphone.scss';
@use 'components/UsernameOnboardingModal.scss';
@use 'components/WhatsNew.scss';
