@font-face {
  font-family: 'Roboto-Light';
  src: url("/fonts/Roboto-Light.ttf") format("truetype"); }
@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto-Italic.ttf") format("truetype");
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold; }
* {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px; }

.clearfix:before,
.clearfix:after {
  display: table;
  content: " "; }

.clearfix:after {
  clear: both; }

.hide {
  display: none; }

#header h1 {
  margin: 0;
  line-height: 64px;
  padding-left: 20px;
  font-size: 22px;
  font-weight: normal; }

.conversation-header button,
.title-bar button {
  width: 24px;
  height: 24px;
  line-height: 24px;
  padding: 0;
  border: 0;
  outline: 0; }

button {
  cursor: pointer;
  font-size: inherit; }

button.grey {
  border-radius: 5px;
  border: solid 1px #ccc;
  cursor: pointer;
  margin: 1em auto;
  padding: 1em;
  font-family: inherit;
  color: #616161;
  background: #f3f3f3;
  box-shadow: 0 0 10px -5px rgba(97, 97, 97, 0.5); }
  button.grey:hover {
    box-shadow: 0 0 10px -3px rgba(97, 97, 97, 0.7); }
  button.grey[disabled=disabled], button.grey[disabled=disabled]:hover {
    opacity: 0.5;
    box-shadow: none;
    cursor: default; }

a {
  color: #2090ea; }

.inactive button.back {
  -webkit-mask: url("/images/back.svg") no-repeat center;
  -webkit-mask-size: 100%;
  background-color: rgba(0, 0, 0, 0.5); }
  .inactive button.back:focus, .inactive button.back:hover {
    -webkit-mask: url("/images/back.svg") no-repeat center;
    -webkit-mask-size: 100%;
    background-color: black; }

button.back {
  -webkit-mask: url("/images/back.svg") no-repeat center;
  -webkit-mask-size: 100%;
  background-color: rgba(255, 255, 255, 0.8); }
  button.back:focus, button.back:hover {
    -webkit-mask: url("/images/back.svg") no-repeat center;
    -webkit-mask-size: 100%;
    background-color: white; }

::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 5px; }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.25); }

.header-buttons {
  height: 0; }
  .header-buttons.left {
    float: left;
    padding-left: 10px; }
  .header-buttons.right {
    float: right;
    padding-right: 10px; }
  .header-buttons .vertical-align {
    height: 64px;
    vertical-align: middle;
    display: table-cell; }

.inactive .menu .hamburger {
  -webkit-mask: url("/images/menu.svg") no-repeat center;
  -webkit-mask-size: 100%;
  background-color: rgba(0, 0, 0, 0.5); }
  .inactive .menu .hamburger:focus, .inactive .menu .hamburger:hover {
    -webkit-mask: url("/images/menu.svg") no-repeat center;
    -webkit-mask-size: 100%;
    background-color: black; }

.menu {
  position: relative;
  float: right; }
  .menu .hamburger {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    -webkit-mask: url("/images/menu.svg") no-repeat center;
    -webkit-mask-size: 100%;
    background-color: rgba(255, 255, 255, 0.8); }
    .menu .hamburger:focus, .menu .hamburger:hover {
      -webkit-mask: url("/images/menu.svg") no-repeat center;
      -webkit-mask-size: 100%;
      background-color: white; }
  .menu .menu-list {
    display: none;
    position: absolute;
    color: #454545;
    z-index: 50;
    text-align: initial;
    top: 100%;
    right: 0;
    margin: 0;
    padding: 0;
    background-color: white;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2); }
    .menu .menu-list li {
      display: block;
      white-space: nowrap;
      cursor: pointer;
      padding: 5px 15px 5px 10px; }
      .menu .menu-list li:hover {
        background-color: #f3f3f3; }

.file-input {
  position: relative; }
  .file-input .choose-file {
    cursor: pointer;
    padding-left: 10px; }
  .file-input .paperclip {
    width: 36px;
    height: 100%;
    padding: 5px 0 0;
    opacity: 0.5;
    border: none;
    background: transparent; }
    .file-input .paperclip:before {
      content: '';
      display: inline-block;
      width: 24px;
      height: 24px;
      -webkit-mask: url("/images/paperclip.svg") no-repeat center;
      -webkit-mask-size: 100%;
      background-color: #616161;
      transform: rotateZ(-45deg); }
    .file-input .paperclip:focus, .file-input .paperclip:hover {
      opacity: 1.0; }
  .file-input input[type=file] {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 1; }

.dropoff {
  outline: solid 1px #2090ea; }

.avatar {
  display: inline-block;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-size: cover;
  vertical-align: middle;
  text-align: center;
  line-height: 44px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  color: white;
  font-size: 18px; }
  .avatar.red {
    background-color: #EF5350; }
  .avatar.pink {
    background-color: #EC407A; }
  .avatar.purple {
    background-color: #AB47BC; }
  .avatar.deep_purple {
    background-color: #7E57C2; }
  .avatar.indigo {
    background-color: #5C6BC0; }
  .avatar.blue {
    background-color: #2196F3; }
  .avatar.light_blue {
    background-color: #03A9F4; }
  .avatar.cyan {
    background-color: #00BCD4; }
  .avatar.teal {
    background-color: #009688; }
  .avatar.green {
    background-color: #4CAF50; }
  .avatar.light_green {
    background-color: #7CB342; }
  .avatar.orange {
    background-color: #FF9800; }
  .avatar.deep_orange {
    background-color: #FF5722; }
  .avatar.amber {
    background-color: #FFB300; }
  .avatar.blue_grey {
    background-color: #607D8B; }
  .avatar.grey {
    background-color: #999999; }
  .avatar.default {
    background-color: #2090ea; }

.group-info-input {
  background: white; }
  .group-info-input .group-avatar {
    display: inline-block;
    padding: 2px 0px 0px 2px; }
  .group-info-input .file-input .thumbnail, .group-info-input .thumbnail .avatar,
  .group-info-input img {
    height: 54px;
    width: 54px;
    border-radius: 27px; }
  .group-info-input .thumbnail:after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    bottom: 0;
    right: 0;
    border-bottom: 10px solid #616161;
    border-left: 10px solid transparent; }
  .group-info-input input.name {
    padding: 0.5em;
    border: solid 1px #ccc;
    border-width: 0 0 1px 0;
    width: calc(100% - 84px); }

.group-member-list .members .contact,
.new-group-update .members .contact {
  box-shadow: none;
  border-bottom: 1px solid #eee; }
  .group-member-list .members .contact .last-message, .group-member-list .members .contact .last-timestamp,
  .new-group-update .members .contact .last-message,
  .new-group-update .members .contact .last-timestamp {
    display: none; }

.conversation-list-item {
  cursor: pointer; }
  .conversation-list-item:hover {
    background: #f8f8f8; }
  .conversation-list-item .number {
    display: none; }
  .conversation-list-item .unread-count {
    float: right;
    margin: 3px 10px 0 20px;
    display: inline-block;
    padding: 0 3px;
    min-width: 21px;
    height: 21px;
    line-height: 21px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    background-color: #2090ea;
    color: white;
    border: solid 1px rgba(255, 255, 255, 0.6); }

.inactive .contact.selected {
  padding-left: 8px;
  border-left: 4px solid #2090ea; }

.contact {
  position: relative;
  padding: 12px;
  white-space: nowrap;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.6);
  margin: 1px; }
  .contact.selected {
    background: #ecf3fc; }
  .contact:first-child {
    margin-top: 0; }
  .contact:last-child::after {
    display: none; }

.contact-details {
  vertical-align: middle;
  display: inline-block;
  margin: 0 0 0 8px;
  width: calc(100% - 44px - 8px - 0.28571em);
  text-align: left; }
  .contact-details p {
    overflow-x: hidden;
    text-overflow: ellipsis; }
  .contact-details .name {
    display: block;
    margin: 0;
    font-size: 1em;
    text-overflow: ellipsis;
    overflow-x: hidden;
    text-align: left; }
  .contact-details .number {
    color: #616161;
    font-size: 0.92857em; }

.recipients-input {
  position: relative; }
  .recipients-input .recipients-container {
    background-color: white;
    padding: 2px;
    border-bottom: 1px solid #f2f2f2;
    line-height: 24px; }
  .recipients-input .recipient {
    display: inline-block;
    margin: 0 2px 2px 0;
    padding: 0 5px;
    border-radius: 10px;
    background-color: #2090ea;
    color: white; }
    .recipients-input .recipient.error {
      background-color: #f00; }
    .recipients-input .recipient .remove {
      margin-left: 5px;
      padding: 0 2px; }
  .recipients-input .results {
    position: absolute;
    z-index: 10;
    margin: 0 0 0 20px;
    width: calc(100% - 30px);
    max-width: 300px;
    max-height: 165px;
    overflow-y: auto;
    box-shadow: 0px 0px 1px rgba(170, 170, 170, 0.8); }
    .recipients-input .results .contact {
      cursor: pointer; }

.attachment-preview {
  display: inline-block;
  position: relative; }
  .attachment-preview img {
    max-width: 100%; }

.new-conversation .recipients-input .recipients::before {
  content: 'To: '; }

.new-group-update .recipients-input .recipients::before {
  content: 'Add: '; }

.loading {
  position: relative; }
  .loading::before {
    display: block;
    margin: 0px auto;
    content: " ";
    height: 16px;
    width: 16px;
    border-radius: 32px;
    border: solid 3px;
    border-color: #a2d2f4 #a2d2f4 #f3f3f3 #f3f3f3 !important;
    animation: rotate 1s linear infinite; }
@keyframes rotate {
  to {
    transform: rotate(360deg); } }
.modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0 20px;
  z-index: 100;
  overflow-y: auto; }
  .modal .content {
    position: relative;
    max-width: 350px;
    margin: 100px auto;
    padding: 1em;
    background: white;
    border-radius: 5px;
    overflow: auto;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2); }

.x {
  display: inline-block;
  float: right;
  cursor: pointer;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  padding: 3px;
  background: #616161; }
  .x:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    -webkit-mask: url("/images/x.svg") no-repeat center;
    -webkit-mask-size: 100%;
    background-color: white; }

input[type=text]:active, input[type=text]:focus, input[type=search]:active, input[type=search]:focus, textarea:active, textarea:focus {
  outline: 1px solid #2090ea; }

.expiredAlert {
  background: #F3F3A7;
  padding: 10px;
  line-height: 36px; }
  .expiredAlert button {
    float: right;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 36px;
    padding: 0 20px;
    background: #2090ea;
    margin-left: 20px; }

@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0; }
  to {
    background-position: 0 0; } }
.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.75) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.75) 50%, rgba(255, 255, 255, 0.75) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.75) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.75) 50%, rgba(255, 255, 255, 0.75) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.75) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.75) 50%, rgba(255, 255, 255, 0.75) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px; }

.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.75) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.75) 50%, rgba(255, 255, 255, 0.75) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.75) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.75) 50%, rgba(255, 255, 255, 0.75) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.75) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.75) 50%, rgba(255, 255, 255, 0.75) 75%, transparent 75%, transparent); }

.progress-bar.active {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite; }

.bar-container {
  background: #a2d2f4; }
  .bar-container .progress-bar {
    height: 100%; }

.debug-log.modal {
  padding: 50px; }
  .debug-log.modal .content {
    margin: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; }
    .debug-log.modal .content textarea {
      flex-grow: 1;
      width: 100%;
      resize: none;
      min-height: 100px; }
.debug-log .result {
  text-align: center; }
  .debug-log .result .input-group {
    display: inline-block;
    width: 100%;
    max-width: 472px; }
  .debug-log .result .open {
    float: left;
    display: inline-block;
    width: 72px;
    height: 36px;
    padding: 5px 23px;
    cursor: pointer;
    border: solid 1px #ccc;
    border-radius: 0 5px 5px 0;
    background: #f3f3f3; }
    .debug-log .result .open:before {
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      -webkit-mask: url("/images/open_link.svg") no-repeat center;
      -webkit-mask-size: 100%;
      background-color: rgba(0, 0, 0, 0.5); }
      .debug-log .result .open:before:focus, .debug-log .result .open:before:hover {
        -webkit-mask: url("/images/open_link.svg") no-repeat center;
        -webkit-mask-size: 100%;
        background-color: black; }
  .debug-log .result .link {
    border-radius: 5px 0 0 5px;
    float: left;
    width: calc(100% - 72px);
    max-width: 400px;
    height: 36px;
    padding: 0 10px;
    outline-offset: -4px;
    border: solid 1px #ccc;
    border-right: none; }

.lightbox.modal {
  padding: 30px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8); }
  .lightbox.modal .content {
    margin: 0;
    padding: 0 50px;
    max-width: 100%;
    height: 100%;
    box-shadow: none;
    background: transparent; }
    .lightbox.modal .content img {
      display: block;
      margin: auto;
      max-width: 100%;
      max-height: 100%; }
  .lightbox.modal .controls {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px; }
  .lightbox.modal a {
    background: transparent;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    padding: 3px; }
    .lightbox.modal a:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%; }
    .lightbox.modal a:hover {
      background: #616161; }
  .lightbox.modal .save:before {
    -webkit-mask: url("/images/save.svg") no-repeat center;
    -webkit-mask-size: 100%;
    background-color: white; }

.capture-audio {
  text-align: center; }
  .capture-audio .microphone {
    height: 36px;
    width: 36px;
    text-align: center;
    opacity: 0.5;
    background: transparent;
    padding: 0;
    border: none; }
    .capture-audio .microphone:focus, .capture-audio .microphone:hover {
      opacity: 1.0; }
    .capture-audio .microphone:before {
      content: '';
      display: inline-block;
      height: 24px;
      width: 24px;
      -webkit-mask: url("/images/microphone.svg") no-repeat center;
      -webkit-mask-size: 100%;
      background-color: #616161; }

.recorder {
  background: #f3f3f3; }
  .recorder button {
    float: right;
    width: 36px;
    height: 36px;
    border-radius: 36px;
    margin-left: 5px;
    opacity: 0.5;
    text-align: center;
    padding: 0; }
    .recorder button:focus, .recorder button:hover {
      opacity: 1.0; }
    .recorder button .icon {
      display: inline-block;
      width: 24px;
      height: 24px; }
  .recorder .finish {
    background: #9ae99a;
    border: 1px solid #47D647; }
    .recorder .finish .icon {
      -webkit-mask: url("/images/check.svg") no-repeat center;
      -webkit-mask-size: 100%;
      background-color: #47D647; }
  .recorder .close {
    background: #fbe3e3;
    border: 1px solid #EF8989; }
    .recorder .close .icon {
      -webkit-mask: url("/images/x.svg") no-repeat center;
      -webkit-mask-size: 100%;
      background-color: #EF8989; }
  .recorder .time {
    color: #616161;
    float: right;
    line-height: 36px;
    padding: 0 10px; }
@keyframes pulse {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
    .recorder .time::before {
      content: '';
      display: inline-block;
      border-radius: 10px;
      width: 10px;
      height: 10px;
      background: #f00;
      margin-right: 10px;
      opacity: 0;
      animation: pulse 2s infinite; }

span.emoji {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: baseline;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 1em;
  height: 1em;
  background-size: 1em;
  background-repeat: no-repeat;
  text-indent: -9999px;
  background-position: 50%, 50%;
  background-size: contain; }

span.emoji-sizer {
  line-height: 0.81em;
  font-size: 1em;
  margin: -2px 0; }

span.emoji-outer {
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  height: 1em;
  width: 1em; }

span.emoji-inner {
  display: -moz-inline-box;
  display: inline-block;
  text-indent: -9999px;
  width: 100%;
  height: 100%;
  vertical-align: baseline;
  *vertical-align: auto;
  *zoom: 1; }

img.emoji {
  width: 1em;
  height: 1em; }

.conversation-stack,
.new-conversation, .inbox, .gutter {
  height: 100%; }

.expired .conversation-stack, .expired .gutter {
  height: calc(100% - 56px); }

.scrollable {
  height: 100%;
  overflow: auto; }

.gutter {
  color: #454545;
  float: left;
  width: 300px; }
  .gutter .content {
    background-color: #f3f3f3;
    height: calc(100% - 64px - 36px); }
  .gutter .conversations {
    overflow-y: scroll;
    height: 100%;
    width: 100%; }

.socket-status {
  float: right;
  line-height: 24px; }
  .socket-status * {
    display: inline;
    padding-left: 20px;
    vertical-align: middle; }
  .socket-status .connecting .icon {
    background-color: #2090ea; }
  .socket-status .closing {
    background-color: #a2d2f4; }
  .socket-status .closed {
    background: url("/images/error_red.png") no-repeat left center; }

.conversation-stack {
  padding-left: 300px; }
  .conversation-stack .conversation {
    display: none; }
  .conversation-stack .conversation:first-child {
    display: block; }

.conversation-header {
  height: 64px;
  text-align: center;
  color: white;
  background-color: #999999;
  transition: background-color 0.5s;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  .conversation-header .avatar {
    margin-bottom: -30px;
    border: solid 2px white;
    z-index: 10;
    width: 48px;
    height: 48px;
    line-height: 44px;
    position: relative; }

.inactive .conversation-header {
  background-color: #f3f3f3 !important;
  color: #454545;
  border-color: rgba(0, 0, 0, 0.05); }

.tool-bar {
  position: relative; }
  .tool-bar .search-icon {
    content: '';
    display: inline-block;
    float: left;
    width: 24px;
    height: 100%;
    -webkit-mask: url("/images/search.svg") no-repeat left center;
    -webkit-mask-size: 100%;
    background-color: #ccc;
    position: absolute;
    left: 20px;
    top: 0; }

input.search {
  border: none;
  padding: 0 10px 0 65px;
  margin: 0;
  outline: 0;
  height: 36px;
  line-height: 36px;
  width: 100%;
  border: solid 1px #f3f3f3;
  outline-offset: -2px;
  font-size: inherit;
  position: relative; }
  input.search.active {
    outline: solid 1px #2090ea; }
  input.search::-webkit-search-cancel-button {
    -webkit-appearance: none;
    display: block;
    width: 16px;
    height: 16px;
    background: url("/images/x.svg") no-repeat center;
    background-size: cover; }
  input.search::-webkit-search-cancel-button:hover {
    cursor: pointer; }

.last-timestamp {
  font-size: smaller;
  float: right;
  margin: 0 10px;
  color: #616161; }

.new-contact {
  display: none;
  cursor: pointer;
  opacity: 0.7; }
  .new-contact .contact-details .number {
    display: block;
    font-style: italic;
    padding-right: 8px; }
  .new-contact.valid {
    opacity: 1; }

.index {
  color: #454545; }
  .index .gutter .new-group-update-form {
    display: none;
    padding: 0.5em; }
  .index .last-message {
    margin: 6px 0 0;
    font-size: 0.92857em;
    font-weight: 300; }
  .index .gutter .timestamp {
    position: absolute;
    top: 14px;
    right: 12px;
    color: #616161; }

.conversations .unread .contact-details .name,
.conversations .unread .contact-details .last-message,
.conversations .unread .contact-details .last-timestamp {
  font-weight: bold; }

.hint {
  margin: 10px;
  padding: 1em;
  border-radius: 5px;
  color: white;
  border: 2px dashed white; }
  .hint h3 {
    margin-top: 5px; }
  .hint.firstRun {
    position: absolute;
    top: 0;
    left: 302px;
    width: 225px; }
    .hint.firstRun:before, .hint.firstRun:after {
      content: ' ';
      display: block;
      position: absolute;
      top: 8px;
      left: -35px;
      width: 0;
      height: 0;
      border: solid 10px white;
      border-color: transparent white transparent transparent;
      transform: scaleX(2.5) scaleY(0.75); }
    .hint.firstRun:after {
      border-color: transparent #2eace0 transparent transparent;
      left: -30px; }

.conversation.placeholder {
  text-align: center; }
  .conversation.placeholder .content {
    padding: 100px 36px; }
  .conversation.placeholder h3 {
    font-size: large; }

.contact.placeholder {
  position: absolute;
  top: 50px;
  left: 0;
  background: transparent;
  color: white;
  border: 2px dashed white;
  overflow: visible; }
  .contact.placeholder p {
    color: white; }
  .contact.placeholder:before, .contact.placeholder:after {
    content: ' ';
    display: block;
    position: absolute;
    top: -35px;
    left: 15px;
    width: 0;
    height: 0;
    border: solid 10px white;
    border-color: transparent transparent white transparent;
    transform: scaleY(2.5) scaleX(0.75); }
  .contact.placeholder:after {
    border-color: transparent transparent #2eace0 transparent;
    top: -30px; }

.syncSettings button {
  float: right;
  line-height: 36px;
  padding: 0 20px;
  margin: 0 0 20px 20px; }
.syncSettings .synced_at {
  font-size: 0.92857em;
  color: #616161; }
.syncSettings .sync_failed {
  display: none;
  font-size: 0.92857em;
  color: red; }

.conversation-title {
  display: block;
  line-height: 36px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 46px;
  -webkit-user-select: text; }

.conversation-name + .conversation-number:before {
  content: "\00b7";
  font-weight: bold;
  padding: 0 5px 0 4px; }

.conversation {
  background-color: #ffffff;
  height: 100%; }
  .conversation .panel {
    height: calc(100% - 64px);
    overflow-y: scroll; }
    .conversation .panel .container {
      padding-top: 20px;
      max-width: 950px;
      margin: 0 auto;
      padding: 20px; }
  .conversation .main.panel {
    display: flex;
    flex-direction: column;
    overflow: initial; }
    .conversation .main.panel .discussion-container {
      flex-grow: 1;
      position: relative;
      max-width: 100%;
      margin: 0; }
      .conversation .main.panel .discussion-container .bar-container {
        height: 5px; }
      .conversation .main.panel .discussion-container .message-list {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 2em 20px 0;
        overflow-y: auto; }

.key-verification label {
  display: block;
  margin-bottom: 10px;
  font-size: 0.92857em; }
.key-verification .key, .key-verification .placeholder {
  padding: 0 1em;
  -webkit-user-select: text; }
.key-verification .key {
  display: inline-block;
  font-family: monospace;
  padding: 10px;
  margin-bottom: 20px;
  background: #f3f3f3;
  border: solid 1px #d9d9d9;
  border-radius: 5px; }
.key-verification .placeholder {
  font-weight: bold; }

.message-detail .key-conflict-dialogue {
  border-radius: 5px;
  margin: 20px 0; }
  .message-detail .key-conflict-dialogue .header {
    border-radius: 5px 5px 0 0;
    background: #F3F3A7;
    margin: 0;
    padding: 10px 20px; }
  .message-detail .key-conflict-dialogue .content {
    padding: 20px;
    border: 2px solid #F3F3A7; }
  .message-detail .key-conflict-dialogue button.resolve {
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 36px;
    padding: 0 20px;
    float: right;
    background: #2090ea;
    margin-left: 20px; }
  .message-detail .key-conflict-dialogue .hideKeys, .message-detail .key-conflict-dialogue .showKeys {
    float: right;
    line-height: 36px; }
.message-detail .message-container {
  background: white;
  padding: 20px 0; }
  .message-detail .message-container .sender {
    display: none; }
.message-detail .info {
  padding: 1em; }
  .message-detail .info .label {
    font-weight: bold;
    padding-right: 1em;
    vertical-align: top; }
  .message-detail .info button {
    border: none;
    border-radius: 5px;
    color: white;
    padding: 0.5em;
    font-weight: bold; }
    .message-detail .info button span {
      vertical-align: middle; }
.message-detail .contacts .contact-detail {
  padding: 0 36px;
  margin-bottom: 5px; }
  .message-detail .contacts .contact-detail .error-icon-container {
    float: right; }
  .message-detail .contacts .contact-detail .error-message {
    margin: 6px 0 0;
    font-size: 0.92857em;
    font-weight: bold;
    color: red; }
.message-detail h3 {
  font-size: 1em;
  padding: 5px; }
.message-detail button.conflict {
  float: right;
  background: #d00; }
.message-detail button.cancel {
  float: right;
  color: #454545;
  border: solid 1px #ccc; }

.message-list .error-icon {
  cursor: pointer; }

li.entry .error-icon-container {
  position: absolute;
  top: 0;
  left: calc(100% + 5px);
  height: 100%; }
  li.entry .error-icon-container .error-icon {
    display: block;
    height: 100%; }
  li.entry .error-icon-container .error-message {
    display: none;
    position: absolute;
    background: black;
    color: white;
    border-radius: 5px;
    padding: 0.5em;
    font-weight: normal;
    bottom: calc(50% + 18px);
    left: -84px;
    width: 180px;
    z-index: 10; }
    li.entry .error-icon-container .error-message:before {
      display: block;
      content: '';
      position: absolute;
      bottom: -16px;
      left: 50%;
      border: 6px solid transparent;
      border-top: 10px solid #000000; }
  li.entry .error-icon-container:hover .error-message {
    display: inline-block; }

.error-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  position: relative;
  -webkit-mask: url("/images/warning.svg") no-repeat center;
  -webkit-mask-size: 100%;
  background-color: red; }

.group li.entry .unregistered-user-error {
  display: none; }

.group-update {
  font-size: smaller; }

.private .entry .avatar,
.private .sender,
.outgoing .sender {
  display: none; }

.sender {
  font-size: smaller;
  opacity: 0.8;
  margin-bottom: 5px;
  font-weight: bold; }

.timestamp {
  margin-right: 3px;
  white-space: nowrap; }

.message-container,
.message-list {
  list-style: none; }
  .message-container li,
  .message-list li {
    max-width: 800px;
    margin: 0 auto 10px; }
    .message-container li::after,
    .message-list li::after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0; }
  .message-container .bubble,
  .message-list .bubble {
    position: relative;
    left: -2px;
    display: inline-block;
    vertical-align: top;
    word-wrap: break-word;
    margin-left: 8px;
    max-width: 30em;
    text-align: -webkit-auto;
    -webkit-user-select: text; }
    @media (max-width: 899px) {
      .message-container .bubble,
      .message-list .bubble {
        max-width: calc(100% - 45px - 24px); } }
    .message-container .bubble .body,
    .message-list .bubble .body {
      white-space: pre-wrap; }
      .message-container .bubble .body a,
      .message-list .bubble .body a {
        word-break: break-all; }
    .message-container .bubble p,
    .message-list .bubble p {
      margin: 0; }
  .message-container .meta,
  .message-list .meta {
    font-size: smaller;
    margin-top: 3px;
    float: right;
    text-align: right;
    line-height: 18px; }
    .message-container .meta .hasRetry + .timestamp:before,
    .message-list .meta .hasRetry + .timestamp:before {
      content: "\00b7";
      font-weight: bold;
      padding: 0 5px 0 4px;
      text-decoration: none;
      opacity: 0.5; }
    .message-container .meta .retry,
    .message-list .meta .retry {
      text-decoration: underline;
      cursor: pointer; }
    .message-container .meta .hasRetry, .message-container .meta .timestamp, .message-container .meta .status,
    .message-list .meta .hasRetry,
    .message-list .meta .timestamp,
    .message-list .meta .status {
      float: left; }
    .message-container .meta .timestamp, .message-container .meta .status,
    .message-list .meta .timestamp,
    .message-list .meta .status {
      cursor: pointer;
      opacity: 0.5; }
      .message-container .meta .timestamp:hover, .message-container .meta .status:hover,
      .message-list .meta .timestamp:hover,
      .message-list .meta .status:hover {
        opacity: 1.0; }
  .message-container .status,
  .message-list .status {
    width: 18px;
    height: 18px; }
  .message-container .sent .status,
  .message-list .sent .status {
    display: inline-block;
    -webkit-mask: url("/images/check.svg") no-repeat center;
    -webkit-mask-size: 100%;
    background-color: black; }
  .message-container .delivered .status,
  .message-list .delivered .status {
    display: inline-block;
    -webkit-mask: url("/images/double-check.svg") no-repeat center;
    -webkit-mask-size: 100%;
    background-color: black; }
  .message-container .pending .status,
  .message-list .pending .status {
    display: inline-block;
    background: none; }
    .message-container .pending .status:before,
    .message-list .pending .status:before {
      content: '...'; }
  .message-container .incoming .avatar, .message-container .incoming .bubble,
  .message-list .incoming .avatar,
  .message-list .incoming .bubble {
    float: left; }
  .message-container .outgoing .error-icon-container,
  .message-list .outgoing .error-icon-container {
    left: auto;
    right: calc(100% + 5px); }
  .message-container .outgoing .avatar, .message-container .outgoing .bubble,
  .message-list .outgoing .avatar,
  .message-list .outgoing .bubble {
    float: right; }
  .message-container .outgoing .bubble,
  .message-list .outgoing .bubble {
    clear: left; }
@keyframes shake {
  0% {
    transform: translateX(0px); }
  25% {
    transform: translateX(-5px); }
  50% {
    transform: translateX(0px); }
  75% {
    transform: translateX(5px); }
  100% {
    transform: translateX(0px); } }
  .message-container .expired .bubble,
  .message-list .expired .bubble {
    animation: shake 0.2s linear 3; }
  .message-container .timer,
  .message-list .timer {
    display: none; }
  .message-container .control .bubble .content,
  .message-list .control .bubble .content {
    font-style: italic; }
  .message-container .control .bubble::before, .message-container .control .bubble::after,
  .message-list .control .bubble::before,
  .message-list .control .bubble::after {
    display: none; }
  .message-container .attachments a,
  .message-list .attachments a {
    font-style: italic;
    display: block;
    padding: 1em;
    background-color: #ccc; }
  .message-container .attachments img, .message-container .attachments audio, .message-container .attachments video,
  .message-list .attachments img,
  .message-list .attachments audio,
  .message-list .attachments video {
    max-width: 100%;
    max-height: 300px; }
  .message-container .attachments video,
  .message-list .attachments video {
    background: black;
    min-height: 300px;
    min-width: 240px; }
  .message-container .attachments img,
  .message-list .attachments img {
    cursor: pointer; }
  .message-container .outgoing .avatar,
  .message-list .outgoing .avatar {
    display: none; }
  .message-container .bubble .content.error-message,
  .message-list .bubble .content.error-message {
    cursor: pointer;
    font-style: italic; }
  .message-container .key-conflict,
  .message-list .key-conflict {
    padding: 15px 10px; }
    .message-container .key-conflict button,
    .message-list .key-conflict button {
      margin-top: 5px; }

.message-list .avatar,
.message-container .avatar,
.key-conflict-dialogue .avatar {
  height: 36px;
  width: 36px;
  line-height: 36px; }

.bottom-bar {
  box-sizing: content-box;
  padding: 5px 5px 5px 0;
  background: #f3f3f3; }
  .bottom-bar form.active {
    outline: solid 1px #2090ea; }
  .bottom-bar form.send {
    background: #ffffff; }
  .bottom-bar input, .bottom-bar textarea {
    color: #454545; }
  .bottom-bar .attachment-previews {
    padding: 0 36px; }
    .bottom-bar .attachment-previews .attachment-preview {
      padding: 13px 10px 0; }
    .bottom-bar .attachment-previews img {
      border: 2px solid #ddd;
      border-radius: 5px;
      max-height: 100px; }
    .bottom-bar .attachment-previews .close {
      position: absolute;
      top: 5px;
      right: 2px;
      background: #999; }
      .bottom-bar .attachment-previews .close:hover {
        background: #616161; }
  .bottom-bar .flex {
    display: flex;
    flex-direction: row; }
    .bottom-bar .flex .send-message {
      flex-grow: 1; }
  .bottom-bar .choose-file {
    float: left;
    height: 36px; }
  .bottom-bar .send-message {
    display: block;
    max-height: 100px;
    padding: 10px;
    border: 0;
    outline: 0;
    z-index: 5;
    resize: none;
    font-size: 1em;
    font-family: inherit; }
    .bottom-bar .send-message[disabled=disabled] {
      background: transparent; }
  .bottom-bar .capture-audio {
    float: right;
    height: 36px; }

.toast {
  position: absolute;
  bottom: 0;
  margin: 0 2em 3em;
  padding: 0.5em 1.5em;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  box-shadow: 0 0 5px 0 black;
  border-radius: 5px;
  font-size: 0.92857em;
  z-index: 100; }

.confirmation-dialog .content {
  max-width: 350px;
  margin: 100px auto;
  padding: 1em;
  background: white;
  border-radius: 5px;
  overflow: auto;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2); }
  .confirmation-dialog .content .message {
    text-align: center; }
  .confirmation-dialog .content .buttons {
    margin-top: 10px; }
    .confirmation-dialog .content .buttons button {
      float: right;
      margin-left: 10px;
      background-color: #f3f3f3;
      border-radius: 5px;
      outline: none;
      padding: 5px 8px;
      border: 1px solid #d9d9d9; }
      .confirmation-dialog .content .buttons button:focus {
        border-color: #8d8d8d; }
      .confirmation-dialog .content .buttons button:hover {
        background-color: #d9d9d9;
        border-color: silver; }

.ios #header {
  height: 64px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-width: 0 1px 1px 0;
  background-color: #f3f3f3;
  color: #454545; }
  .ios #header h1 {
    display: none; }
.ios .gutter {
  border-right: 1px solid rgba(0, 0, 0, 0.1); }
  .ios .gutter .content {
    height: calc(100% - 64px);
    background: rgba(0, 0, 0, 0.1); }
  .ios .gutter .contact {
    background: #f3f3f3;
    margin-right: 0; }
    .ios .gutter .contact.selected {
      background: #2090ea;
      color: white; }
      .ios .gutter .contact.selected .last-timestamp {
        color: white; }
  .ios .gutter ::-webkit-scrollbar-track {
    background: #f3f3f3; }
.ios .tool-bar {
  float: left;
  padding: 15px; }
.ios input[type=text]:active,
.ios input[type=text]:focus,
.ios input[type=search]:active,
.ios input[type=search]:focus,
.ios input[type=search].active,
.ios form.active {
  outline-offset: 0;
  outline: -webkit-focus-ring-color auto 5px; }
.ios input.search {
  border-radius: 5px;
  width: 220px;
  height: 34px;
  padding-left: 30px;
  line-height: 34px;
  background-color: #dddddd; }
.ios .conversation-header {
  background-color: #f3f3f3;
  color: #454545;
  border-color: rgba(0, 0, 0, 0.05);
  text-align: left; }
  .ios .conversation-header .conversation-title {
    line-height: 64px; }
  .ios .conversation-header .avatar {
    display: none; }
.ios button.back {
  -webkit-mask: url("/images/back.svg") no-repeat center;
  -webkit-mask-size: 100%;
  background-color: rgba(0, 0, 0, 0.5); }
  .ios button.back:focus, .ios button.back:hover {
    -webkit-mask: url("/images/back.svg") no-repeat center;
    -webkit-mask-size: 100%;
    background-color: black; }
.ios .menu .hamburger {
  -webkit-mask: url("/images/menu.svg") no-repeat center;
  -webkit-mask-size: 100%;
  background-color: rgba(0, 0, 0, 0.5); }
  .ios .menu .hamburger:focus, .ios .menu .hamburger:hover {
    -webkit-mask: url("/images/menu.svg") no-repeat center;
    -webkit-mask-size: 100%;
    background-color: black; }
.ios .bottom-bar {
  padding: 15px;
  min-height: 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }
  .ios .bottom-bar form.send {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1); }
.ios .error-message.content,
.ios .control .content {
  padding: 10px; }
.ios .bubble .content {
  margin-bottom: 5px; }
  .ios .bubble .content .body {
    display: inline-block;
    padding: 10px;
    position: relative;
    word-break: break-word; }
    .ios .bubble .content .body:before, .ios .bubble .content .body:after {
      content: '';
      display: block;
      border-radius: 20px;
      position: absolute;
      width: 10px; }
    .ios .bubble .content .body:before {
      right: -1px;
      bottom: -3px;
      height: 10px;
      border-radius: 20px;
      background: #2090ea; }
    .ios .bubble .content .body:after {
      height: 11px;
      right: -6px;
      bottom: -3px;
      background: white; }
.ios .bubble .content, .ios .bubble .attachments img {
  border-radius: 15px; }
.ios .bubble .attachments img {
  border: 1px solid rgba(0, 0, 0, 0.1); }
.ios .bubble .meta {
  float: none;
  clear: both; }
.ios .incoming .content {
  background-color: #e6e5ea;
  color: black;
  float: left; }
  .ios .incoming .content .body:before {
    left: -1px;
    background-color: #e6e5ea; }
  .ios .incoming .content .body:after {
    left: -6px; }
.ios .outgoing .content {
  background-color: #2090ea;
  float: right; }
  .ios .outgoing .content, .ios .outgoing .content .body, .ios .outgoing .content a {
    color: white; }
    .ios .outgoing .content::selection, .ios .outgoing .content .body::selection, .ios .outgoing .content a::selection {
      background: white;
      color: #454545; }
.ios .outgoing .timestamp {
  float: none; }
.ios .outgoing .status {
  float: right; }
.ios .attachment {
  margin-bottom: 1px; }
  .ios .attachment a {
    border-radius: 15px; }
.ios .hourglass {
  display: inline-block;
  position: relative;
  -webkit-mask: url("/images/hourglass_full.svg") no-repeat center;
  -webkit-mask-size: 100%;
  background-color: transparent;
  background-size: 100%; }
  .ios .hourglass, .ios .hourglass .sand, .ios .hourglass:before, .ios .hourglass:after {
    width: 13px;
    height: 11px; }
  .ios .hourglass .sand, .ios .hourglass:before, .ios .hourglass:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0; }
  .ios .hourglass .sand {
    background: #999;
    animation: moveDown linear;
    animation-fill-mode: forwards; }
  .ios .hourglass:after {
    -webkit-mask: url("/images/hourglass_empty.svg") no-repeat center;
    -webkit-mask-size: 100%;
    background-color: #999; }
@keyframes moveDown {
  to {
    transform: translateY(100%); } }
.android #header {
  background-color: #2090ea;
  color: white;
  transition: background-color 0.5s; }
  .android #header.inactive {
    background-color: #f3f3f3;
    color: #454545; }
.android .contact-details .name {
  font-weight: 400; }
.android .conversation.placeholder .conversation-header {
  display: none; }
.android .conversation-header.red, .android .bubble.red {
  background-color: #EF5350; }
.android .conversation-header.pink, .android .bubble.pink {
  background-color: #EC407A; }
.android .conversation-header.purple, .android .bubble.purple {
  background-color: #AB47BC; }
.android .conversation-header.deep_purple, .android .bubble.deep_purple {
  background-color: #7E57C2; }
.android .conversation-header.indigo, .android .bubble.indigo {
  background-color: #5C6BC0; }
.android .conversation-header.blue, .android .bubble.blue {
  background-color: #2196F3; }
.android .conversation-header.light_blue, .android .bubble.light_blue {
  background-color: #03A9F4; }
.android .conversation-header.cyan, .android .bubble.cyan {
  background-color: #00BCD4; }
.android .conversation-header.teal, .android .bubble.teal {
  background-color: #009688; }
.android .conversation-header.green, .android .bubble.green {
  background-color: #4CAF50; }
.android .conversation-header.light_green, .android .bubble.light_green {
  background-color: #7CB342; }
.android .conversation-header.orange, .android .bubble.orange {
  background-color: #FF9800; }
.android .conversation-header.deep_orange, .android .bubble.deep_orange {
  background-color: #FF5722; }
.android .conversation-header.amber, .android .bubble.amber {
  background-color: #FFB300; }
.android .conversation-header.blue_grey, .android .bubble.blue_grey {
  background-color: #607D8B; }
.android .conversation-header.grey, .android .bubble.grey {
  background-color: #999999; }
.android .conversation-header.default, .android .bubble.default {
  background-color: #2090ea; }
.android .bottom-bar {
  min-height: 10px; }
.android .bubble {
  padding: 9px 12px;
  border-radius: 5px;
  box-shadow: 0 3px 3px -4px black; }
.android .outgoing .bubble {
  background-color: #f3f3f3; }
.android .outgoing .hourglass {
  display: inline-block;
  position: relative;
  -webkit-mask: url("/images/hourglass_full.svg") no-repeat center;
  -webkit-mask-size: 100%;
  background-color: transparent;
  background-size: 100%; }
  .android .outgoing .hourglass, .android .outgoing .hourglass .sand, .android .outgoing .hourglass:before, .android .outgoing .hourglass:after {
    width: 13px;
    height: 11px; }
  .android .outgoing .hourglass .sand, .android .outgoing .hourglass:before, .android .outgoing .hourglass:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0; }
  .android .outgoing .hourglass .sand {
    background: #999;
    animation: moveDown linear;
    animation-fill-mode: forwards; }
  .android .outgoing .hourglass:after {
    -webkit-mask: url("/images/hourglass_empty.svg") no-repeat center;
    -webkit-mask-size: 100%;
    background-color: #999; }
@keyframes moveDown {
  to {
    transform: translateY(100%); } }
.android .incoming .hourglass {
  display: inline-block;
  position: relative;
  -webkit-mask: url("/images/hourglass_full.svg") no-repeat center;
  -webkit-mask-size: 100%;
  background-color: transparent;
  background-size: 100%; }
  .android .incoming .hourglass, .android .incoming .hourglass .sand, .android .incoming .hourglass:before, .android .incoming .hourglass:after {
    width: 13px;
    height: 11px; }
  .android .incoming .hourglass .sand, .android .incoming .hourglass:before, .android .incoming .hourglass:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0; }
  .android .incoming .hourglass .sand {
    background: #fff;
    animation: moveDown linear;
    animation-fill-mode: forwards; }
  .android .incoming .hourglass:after {
    -webkit-mask: url("/images/hourglass_empty.svg") no-repeat center;
    -webkit-mask-size: 100%;
    background-color: #fff; }
@keyframes moveDown {
  to {
    transform: translateY(100%); } }
.android .incoming .bubble .sender, .android .incoming .bubble .content, .android .incoming .bubble .body, .android .incoming .bubble .meta, .android .incoming .bubble a {
  color: white; }
  .android .incoming .bubble .sender::selection, .android .incoming .bubble .content::selection, .android .incoming .bubble .body::selection, .android .incoming .bubble .meta::selection, .android .incoming .bubble a::selection {
    background: white;
    color: #454545; }
.android .incoming .bubble .attachments a, .android .incoming .bubble .content a {
  color: #f3f3f3; }

/*# sourceMappingURL=manifest.css.map */
