// Copyright 2019-2020 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

// This file acts as a bridge to allow BEM modules to work in the newer CSS
// modules development model
@import 'variables';
@import 'mixins';
@import 'modules';
@import 'titlebar';
