@font-face {
  font-family: 'Roboto-Light';
  src: url("/fonts/Roboto-Light.ttf") format("truetype"); }
@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto-Italic.ttf") format("truetype");
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold; }
* {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px; }

.clearfix:before,
.clearfix:after {
  display: table;
  content: " "; }

.clearfix:after {
  clear: both; }

.hide {
  display: none; }

#header {
  background-color: #2090ea;
  color: white;
  transition: background-color 0.5s; }
  #header.inactive {
    background-color: #f3f3f3;
    color: #454545; }
  #header h1 {
    margin: 0;
    line-height: 64px;
    padding-left: 20px;
    font-size: 22px;
    font-weight: normal; }

.conversation-header button,
.title-bar button {
  width: 36px;
  height: 36px;
  line-height: 36px;
  padding: 0;
  border: 0;
  outline: 0; }

button {
  cursor: pointer; }

.inactive button.back {
  background: url("/images/back.png") no-repeat center center; }

button.back {
  background: url("/images/back_white.png") no-repeat center center; }

::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 10px; }

.header-buttons {
  height: 0; }
  .header-buttons.left {
    float: left; }
  .header-buttons.right {
    float: right; }
  .header-buttons .vertical-align {
    height: 64px;
    vertical-align: middle;
    display: table-cell; }

.inactive .menu .hamburger {
  background: url("/images/menu_black.png") no-repeat center; }

.menu {
  position: relative;
  float: right; }
  .menu .hamburger {
    width: 36px;
    height: 36px;
    background: url("/images/menu.png") no-repeat center;
    vertical-align: middle; }
    .menu .hamburger:hover {
      background-color: rgba(0, 0, 0, 0.2); }
  .menu .menu-list {
    display: none;
    position: absolute;
    color: #454545;
    z-index: 50;
    text-align: initial;
    top: 100%;
    right: 0;
    margin: 0;
    padding: 0;
    border: solid 1px #2090ea;
    background-color: white;
    box-shadow: 0 4px 3px 0px rgba(10, 62, 103, 0.8); }
    .menu .menu-list li {
      display: block;
      white-space: nowrap; }
      .menu .menu-list li a {
        cursor: pointer;
        display: block;
        padding: 5px 15px 5px 10px; }
        .menu .menu-list li a:hover {
          background-color: #f3f3f3; }

.file-input {
  position: relative; }
  .file-input .choose-file {
    cursor: pointer; }
  .file-input .paperclip {
    width: 36px;
    height: 100%;
    background: url("/images/paperclip.png") no-repeat center center; }
  .file-input input[type=file] {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 1; }
  .file-input .close {
    font-family: sans-serif;
    color: white;
    position: absolute;
    top: 5px;
    right: 2px;
    cursor: pointer;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 0px;
    background: #666;
    color: #fff;
    text-align: center; }

.dropoff {
  outline: solid 1px #2090ea; }

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em; }

.avatar {
  display: inline-block;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-size: cover;
  vertical-align: middle;
  text-align: center;
  line-height: 44px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  color: white;
  font-size: 18px; }

.group-info-input {
  background: white; }
  .group-info-input .group-avatar {
    display: inline-block;
    padding: 2px 0px 0px 2px; }
  .group-info-input .file-input .thumbnail, .group-info-input .thumbnail .avatar,
  .group-info-input img {
    height: 54px;
    width: 54px;
    border-radius: 27px; }
  .group-info-input .thumbnail:after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    bottom: 0;
    right: 0;
    border-bottom: 10px solid #616161;
    border-left: 10px solid transparent; }
  .group-info-input input.name {
    padding: 0.5em;
    border: solid 1px #ccc;
    border-width: 0 0 1px 0;
    width: calc(100% - 84px); }

.group-member-list .members .contact,
.new-group-update .members .contact {
  box-shadow: none;
  border-bottom: 1px solid #eee; }
  .group-member-list .members .contact .last-message, .group-member-list .members .contact .last-timestamp,
  .new-group-update .members .contact .last-message,
  .new-group-update .members .contact .last-timestamp {
    display: none; }
  .group-member-list .members .contact .number,
  .new-group-update .members .contact .number {
    display: none; }

.conversation-header .check {
  float: right;
  background: url("/images/check.png") no-repeat center center; }

.conversation-list-item {
  cursor: pointer; }
  .conversation-list-item:hover {
    background: #f8f8f8; }
  .conversation-list-item .number {
    display: none; }
  .conversation-list-item .unread-count {
    float: right;
    margin: 3px 10px 0 20px;
    display: inline-block;
    padding: 0 3px;
    min-width: 21px;
    height: 21px;
    line-height: 21px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    background-color: #2090ea;
    color: white;
    border: solid 1px rgba(255, 255, 255, 0.6); }

.contact {
  position: relative;
  padding: 12px;
  white-space: nowrap;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.6);
  margin: 1px; }
  .contact.selected {
    background: #ecf3fc;
    padding-left: 7px;
    border-left: 5px solid #2090ea; }
  .contact:first-child {
    margin-top: 0; }
  .contact:last-child::after {
    display: none; }
  .contact .contact-details {
    vertical-align: top;
    display: inline-block;
    margin: 4px 0 0 8px;
    width: calc(100% - 44px - 8px); }
    .contact .contact-details p {
      overflow-x: hidden;
      text-overflow: ellipsis; }
  .contact .name {
    display: block;
    margin: 0;
    font-size: 1em;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow-x: hidden; }
  .contact .number {
    color: #616161;
    font-size: small; }

.recipients-input {
  position: relative; }
  .recipients-input .recipients-container {
    background-color: white;
    padding: 2px;
    border-bottom: 1px solid #f2f2f2;
    line-height: 24px; }
  .recipients-input .recipient {
    display: inline-block;
    margin: 0 2px 2px 0;
    padding: 0 5px;
    border-radius: 10px;
    background-color: #2090ea;
    color: white; }
    .recipients-input .recipient.error {
      background-color: #f00; }
    .recipients-input .recipient .remove {
      margin-left: 5px;
      padding: 0 2px; }
  .recipients-input .results {
    position: absolute;
    z-index: 10;
    margin: 0 0 0 20px;
    width: calc(100% - 30px);
    max-width: 300px;
    max-height: 165px;
    overflow-y: auto;
    box-shadow: 0px 0px 1px rgba(170, 170, 170, 0.8); }
    .recipients-input .results .contact {
      cursor: pointer; }

.attachment-preview {
  display: inline-block;
  position: relative; }
  .attachment-preview img {
    max-width: 100%; }

.new-conversation .recipients-input .recipients::before {
  content: 'To: '; }

.new-group-update .recipients-input .recipients::before {
  content: 'Add: '; }

.loading {
  position: relative; }
  .loading::before {
    display: block;
    margin: 0px auto;
    content: " ";
    height: 16px;
    width: 16px;
    border-radius: 32px;
    border: solid 3px;
    border-color: #a2d2f4 #a2d2f4 #f3f3f3 #f3f3f3 !important;
    animation: rotate 1s linear infinite; }
@keyframes rotate {
  to {
    transform: rotate(360deg); } }
.debug-log.modal {
  padding: 50px; }
  .debug-log.modal .content {
    margin: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; }
    .debug-log.modal .content textarea {
      flex-grow: 1;
      width: 100%;
      resize: none; }
.debug-log button, .debug-log input[type=submit] {
  border-radius: 4px;
  border: solid 1px #ccc;
  cursor: pointer;
  margin: 1em auto;
  padding: 1em;
  font-family: inherit;
  color: #616161;
  background: #f3f3f3;
  box-shadow: 0 0 10px -5px rgba(97, 97, 97, 0.5); }
  .debug-log button:hover, .debug-log input[type=submit]:hover {
    color: black;
    box-shadow: 0 0 10px -3px rgba(97, 97, 97, 0.7); }
.debug-log .result {
  text-align: center; }
  .debug-log .result a {
    -webkit-user-select: text; }

.modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0 20px;
  z-index: 100; }
  .modal .content {
    position: relative;
    max-width: 350px;
    margin: 100px auto;
    padding: 1em;
    background: white;
    border-radius: 10px;
    overflow: auto;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2); }
  .modal a.x {
    display: inline-block;
    float: right;
    cursor: pointer;
    font-family: sans-serif;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 0px;
    background: #666;
    color: #fff;
    text-align: center;
    font-size: 19px; }

input[type=text]:active, input[type=text]:focus, input[type=search]:active, input[type=search]:focus, textarea:active, textarea:focus {
  outline: 1px solid #2090ea; }

@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0; }
  to {
    background-position: 0 0; } }
.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.75) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.75) 50%, rgba(255, 255, 255, 0.75) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.75) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.75) 50%, rgba(255, 255, 255, 0.75) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.75) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.75) 50%, rgba(255, 255, 255, 0.75) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px; }

.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.75) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.75) 50%, rgba(255, 255, 255, 0.75) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.75) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.75) 50%, rgba(255, 255, 255, 0.75) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.75) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.75) 50%, rgba(255, 255, 255, 0.75) 75%, transparent 75%, transparent); }

.progress-bar.active {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite; }

.bar-container {
  background: #a2d2f4; }
  .bar-container .progress-bar {
    height: 100%; }

.conversation-stack,
.new-conversation, .inbox, .gutter {
  height: 100%; }

.scrollable {
  height: 100%;
  overflow: auto; }

.gutter {
  color: #454545;
  float: left;
  width: 300px; }
  .gutter .content {
    background-color: #f3f3f3;
    height: calc(100% - 104px); }
  .gutter .conversations {
    overflow-y: scroll;
    height: 100%;
    width: 100%; }

.socket-status {
  float: right;
  line-height: 36px; }
  .socket-status * {
    display: inline;
    padding-left: 20px;
    vertical-align: middle; }
  .socket-status .connecting .icon {
    background-color: #2090ea; }
  .socket-status .closing {
    background-color: #a2d2f4; }
  .socket-status .closed {
    background: url("/images/error_red.png") no-repeat left center; }

.conversation-stack {
  padding-left: 300px; }
  .conversation-stack .conversation {
    display: none; }
  .conversation-stack .conversation:first-child {
    display: block; }

.conversation-header {
  height: 64px;
  text-align: center;
  color: white;
  background-color: #999999;
  transition: background-color 0.5s; }
  .conversation-header .avatar {
    margin-bottom: -30px;
    border: solid 2px white;
    z-index: 10;
    width: 48px;
    height: 48px;
    line-height: 44px;
    position: relative; }

.inactive .conversation-header {
  background-color: #f3f3f3 !important;
  color: #454545; }

input.search {
  border: none;
  padding: 0;
  margin: 0;
  outline: 0; }
  input.search::-webkit-search-cancel-button {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    background: url("/images/x.png") no-repeat center;
    background-size: cover; }
  input.search::-webkit-search-cancel-button:hover {
    cursor: pointer; }

.tool-bar {
  background: #f3f3f3;
  padding: 2px; }
  .tool-bar button.show-new-conversation {
    float: right;
    height: 36px;
    width: 36px;
    border: 0;
    outline: 0;
    font: 300 36px Roboto, "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: white;
    background: url("/images/pencil.png") no-repeat center center; }
    .tool-bar button.show-new-conversation:hover {
      background-color: #ebebeb; }
  .tool-bar input.search {
    height: 36px;
    width: 100%;
    padding: 10px;
    border: solid 1px #f3f3f3; }
    .tool-bar input.search.active {
      outline: solid 1px #2090ea; }

.last-timestamp {
  font-size: smaller;
  float: right;
  margin: 0 10px;
  color: #616161; }

.new-contact {
  display: none;
  cursor: pointer;
  opacity: 0.7;
  background: #f3f3f3; }
  .new-contact .contact-details .number {
    display: block;
    font-style: italic;
    padding-right: 8px; }
  .new-contact.valid {
    opacity: 1; }

.index {
  color: #454545; }
  .index .gutter .new-group-update-form {
    display: none;
    padding: 0.5em; }
  .index .last-message {
    margin: 6px 0;
    font-size: small;
    font-weight: 300; }
  .index .gutter .timestamp {
    position: absolute;
    top: 14px;
    right: 12px;
    color: #616161; }

.conversations .unread .contact-details .name,
.conversations .unread .contact-details .last-message,
.conversations .unread .contact-details .last-timestamp {
  font-weight: bold; }

.hint {
  margin: 10px;
  padding: 1em;
  border-radius: 10px;
  color: white;
  border: 2px dashed white; }
  .hint h3 {
    margin-top: 5px; }
  .hint.firstRun {
    position: absolute;
    top: 0;
    left: 302px;
    width: 225px; }
    .hint.firstRun:before, .hint.firstRun:after {
      content: ' ';
      display: block;
      position: absolute;
      top: 8px;
      left: -35px;
      width: 0;
      height: 0;
      border: solid 10px white;
      border-color: transparent white transparent transparent;
      transform: scaleX(2.5) scaleY(0.75); }
    .hint.firstRun:after {
      border-color: transparent #2eace0 transparent transparent;
      left: -30px; }

.conversation.placeholder {
  text-align: center;
  padding: 100px 36px;
  color: #aaa; }

.contact.placeholder {
  position: absolute;
  top: 50px;
  left: 0;
  background: transparent;
  border-radius: 10px;
  color: white;
  border: 2px dashed white;
  overflow: visible; }
  .contact.placeholder p {
    color: white; }
  .contact.placeholder:before, .contact.placeholder:after {
    content: ' ';
    display: block;
    position: absolute;
    top: -35px;
    left: 15px;
    width: 0;
    height: 0;
    border: solid 10px white;
    border-color: transparent transparent white transparent;
    transform: scaleY(2.5) scaleX(0.75); }
  .contact.placeholder:after {
    border-color: transparent transparent #2eace0 transparent;
    top: -30px; }

.conversation-title {
  display: block;
  line-height: 36px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 36px;
  -webkit-user-select: text; }

.conversation-name + .conversation-number:before {
  content: "\00b7";
  font-weight: bold;
  padding: 0 5px 0 4px; }

.conversation {
  background-color: #ffffff;
  height: 100%; }
  .conversation .panel {
    height: calc(100% - 64px);
    overflow-y: scroll; }
    .conversation .panel .container {
      padding-top: 20px;
      max-width: 910px;
      margin: 0 auto;
      padding: 20px; }
  .conversation .main.panel {
    display: flex;
    flex-direction: column;
    overflow: initial; }
    .conversation .main.panel .discussion-container {
      flex-grow: 1;
      position: relative;
      max-width: 100%;
      margin: 0; }
      .conversation .main.panel .discussion-container .bar-container {
        height: 5px; }
      .conversation .main.panel .discussion-container .message-list {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 2em 20px 0;
        overflow-y: auto; }

.key-verification .key, .key-verification .placeholder {
  padding: 0 1em;
  -webkit-user-select: text; }
.key-verification .key {
  display: inline-block;
  font-family: monospace;
  padding: 10px;
  margin: 10px;
  background: #f3f3f3;
  border: solid 1px #d9d9d9;
  border-radius: 5px; }
.key-verification .placeholder {
  font-weight: bold; }

.message-detail .key-conflict-dialogue {
  background: #F3F3A7;
  border-radius: 5px;
  padding: 20px;
  margin: 20px; }
  .message-detail .key-conflict-dialogue button.resolve {
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 36px;
    padding: 0 20px;
    float: right;
    background: #2090ea;
    margin-left: 20px; }
  .message-detail .key-conflict-dialogue .hideKeys, .message-detail .key-conflict-dialogue .showKeys {
    color: #2090ea;
    text-decoration: underline;
    cursor: pointer;
    float: right;
    line-height: 36px; }
.message-detail .message-container {
  background: white;
  padding: 20px; }
  .message-detail .message-container .sender {
    display: none; }
.message-detail .info {
  padding: 1em; }
  .message-detail .info .label {
    font-weight: bold;
    padding-right: 1em;
    vertical-align: top; }
  .message-detail .info button {
    border: none;
    border-radius: 5px;
    color: white;
    padding: 0.5em;
    font-weight: bold; }
    .message-detail .info button span {
      vertical-align: middle; }
    .message-detail .info button:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 18px;
      height: 18px;
      background: url("/images/refresh.png") no-repeat center center;
      background-size: 100%; }
.message-detail .contacts .contact-detail {
  padding: 0 36px;
  margin-bottom: 5px; }
.message-detail h3 {
  font-size: 1em;
  padding: 5px; }
.message-detail .error-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("/images/error_red.png") no-repeat center center;
  vertical-align: middle;
  position: relative;
  margin: 9px;
  float: right; }
  .message-detail .error-icon .error-message {
    display: none;
    position: absolute;
    background: black;
    color: white;
    border-radius: 10px;
    padding: 0.5em;
    font-weight: normal;
    bottom: calc(100% + 16px);
    left: 50%;
    margin-left: -130px;
    width: 180px;
    z-index: 10; }
    .message-detail .error-icon .error-message:before {
      left: -10px;
      display: block;
      content: '';
      position: absolute;
      bottom: -23px;
      left: calc(50% - 6px + 40px);
      border: 6px solid transparent;
      border-top: 18px solid #000000; }
  .message-detail .error-icon:hover .error-message {
    display: block; }
.message-detail button.conflict {
  float: right;
  background: #d00; }
.message-detail button.cancel {
  float: right;
  color: #454545;
  border: solid 1px #ccc; }

.group-update {
  font-size: smaller; }

.new-group-update .container {
  height: calc(100% - 36px - 85px); }

.private .entry .avatar,
.private .sender,
.outgoing .sender {
  display: none; }

.sender {
  font-size: smaller;
  opacity: 0.8;
  margin-bottom: 5px;
  font-weight: bold; }

.timestamp {
  margin-right: 3px; }

.message-container,
.message-list {
  list-style: none; }
  .message-container li,
  .message-list li {
    max-width: 800px;
    margin: 0 auto 16px; }
    .message-container li::after,
    .message-list li::after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0; }
  .message-container .bubble,
  .message-list .bubble {
    position: relative;
    left: -2px;
    display: inline-block;
    vertical-align: top;
    padding: 9px 12px;
    border-radius: 10px;
    box-shadow: 0 3px 3px -4px black;
    word-wrap: break-word;
    margin-left: 8px;
    max-width: 30em; }
    @media (max-width: 899px) {
      .message-container .bubble,
      .message-list .bubble {
        max-width: calc(100% - 45px); } }
    .message-container .bubble .content,
    .message-list .bubble .content {
      -webkit-user-select: text;
      white-space: pre-wrap; }
      .message-container .bubble .content a,
      .message-list .bubble .content a {
        word-break: break-all; }
    .message-container .bubble p,
    .message-list .bubble p {
      margin: 0; }
  .message-container .meta,
  .message-list .meta {
    font-size: smaller;
    margin-top: 3px;
    float: right; }
    .message-container .meta .hasRetry + .timestamp:before,
    .message-list .meta .hasRetry + .timestamp:before {
      content: "\00b7";
      font-weight: bold;
      padding: 0 5px 0 4px;
      text-decoration: none;
      opacity: 0.5; }
    .message-container .meta .retry,
    .message-list .meta .retry {
      text-decoration: underline;
      cursor: pointer; }
    .message-container .meta .hasRetry, .message-container .meta .timestamp, .message-container .meta .status,
    .message-list .meta .hasRetry,
    .message-list .meta .timestamp,
    .message-list .meta .status {
      float: left; }
    .message-container .meta .timestamp, .message-container .meta .status,
    .message-list .meta .timestamp,
    .message-list .meta .status {
      cursor: pointer;
      opacity: 0.5; }
      .message-container .meta .timestamp:hover, .message-container .meta .status:hover,
      .message-list .meta .timestamp:hover,
      .message-list .meta .status:hover {
        opacity: 1.0; }
  .message-container .status,
  .message-list .status {
    width: 18px;
    height: 14px;
    line-height: 1em; }
  .message-container .sent .status,
  .message-list .sent .status {
    display: inline-block;
    background: url("/images/check-white.png"); }
  .message-container .delivered .status,
  .message-list .delivered .status {
    display: inline-block;
    background: url("/images/double-check-white.png"); }
  .message-container .pending .status,
  .message-list .pending .status {
    display: inline-block;
    background: none; }
    .message-container .pending .status:before,
    .message-list .pending .status:before {
      content: '...'; }
  .message-container .error .status,
  .message-list .error .status {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    opacity: 1 !important;
    background: url("/images/error_red.png") no-repeat;
    cursor: pointer; }
  .message-container .incoming .avatar, .message-container .incoming .bubble,
  .message-list .incoming .avatar,
  .message-list .incoming .bubble {
    float: left; }
  .message-container .incoming .bubble,
  .message-list .incoming .bubble {
    color: #454545;
    background-color: #f3f3f3; }
    .message-container .incoming .bubble::before,
    .message-list .incoming .bubble::before {
      left: -10px;
      border-right: 10px solid white; }
    .message-container .incoming .bubble::after,
    .message-list .incoming .bubble::after {
      left: -8px;
      border-right: 8px solid #f3f3f3; }
  .message-container .outgoing .avatar, .message-container .outgoing .bubble,
  .message-list .outgoing .avatar,
  .message-list .outgoing .bubble {
    float: right; }
  .message-container .outgoing .bubble,
  .message-list .outgoing .bubble {
    clear: left;
    color: white;
    background-color: #2090ea; }
    .message-container .outgoing .bubble .meta,
    .message-list .outgoing .bubble .meta {
      color: white; }
    .message-container .outgoing .bubble::before,
    .message-list .outgoing .bubble::before {
      right: -10px;
      border-left: 10px solid white; }
    .message-container .outgoing .bubble::after,
    .message-list .outgoing .bubble::after {
      right: -8px;
      border-left: 8px solid #2090ea; }
    .message-container .outgoing .bubble .attachments a, .message-container .outgoing .bubble .content a,
    .message-list .outgoing .bubble .attachments a,
    .message-list .outgoing .bubble .content a {
      color: #f3f3f3; }
    .message-container .outgoing .bubble .content::selection, .message-container .outgoing .bubble .content a::selection,
    .message-list .outgoing .bubble .content::selection,
    .message-list .outgoing .bubble .content a::selection {
      color: #454545;
      background: white; }
    .message-container .outgoing .bubble .content::-moz-selection, .message-container .outgoing .bubble .content a::-moz-selection,
    .message-list .outgoing .bubble .content::-moz-selection,
    .message-list .outgoing .bubble .content a::-moz-selection {
      color: #454545;
      background: white; }
  .message-container .control .bubble .content,
  .message-list .control .bubble .content {
    font-style: italic; }
  .message-container .control .bubble::before, .message-container .control .bubble::after,
  .message-list .control .bubble::before,
  .message-list .control .bubble::after {
    display: none; }
  .message-container .attachments a,
  .message-list .attachments a {
    font-style: italic;
    display: block;
    padding: 1em;
    background-color: #ccc; }
  .message-container .attachments img, .message-container .attachments audio, .message-container .attachments video,
  .message-list .attachments img,
  .message-list .attachments audio,
  .message-list .attachments video {
    max-width: 100%;
    max-height: 300px; }
  .message-container .attachments video,
  .message-list .attachments video {
    background: black;
    min-height: 300px; }
  .message-container .attachments img,
  .message-list .attachments img {
    cursor: pointer; }
  .message-container .outgoing .avatar,
  .message-list .outgoing .avatar {
    display: none; }
  .message-container .end-session,
  .message-list .end-session {
    font: small;
    font-style: italic;
    opacity: 0.8; }
  .message-container .bubble .error-message,
  .message-list .bubble .error-message {
    font-style: italic; }
  .message-container .key-conflict,
  .message-list .key-conflict {
    padding: 15px 10px; }
    .message-container .key-conflict button,
    .message-list .key-conflict button {
      margin-top: 5px; }

.message-list .avatar,
.message-container .avatar,
.key-conflict-dialogue .avatar {
  height: 36px;
  width: 36px;
  line-height: 36px; }

.bottom-bar {
  box-sizing: content-box;
  padding: 5px 5px 5px 0;
  background: #f3f3f3; }
  .bottom-bar form.active {
    outline: solid 1px #2090ea; }
  .bottom-bar form.send {
    background: #ffffff;
    padding-bottom: 1px; }
  .bottom-bar button, .bottom-bar input, .bottom-bar textarea {
    color: #454545; }
  .bottom-bar button {
    position: absolute;
    top: 0;
    height: 100%;
    width: 36px;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 24px;
    background: transparent; }
  .bottom-bar .attachment-previews {
    padding: 0 36px; }
    .bottom-bar .attachment-previews .attachment-preview {
      padding: 13px 10px 0; }
    .bottom-bar .attachment-previews img {
      border: 2px solid #ddd;
      border-radius: 5px;
      max-height: 100px; }
    .bottom-bar .attachment-previews .close {
      background: #999; }
      .bottom-bar .attachment-previews .close:hover {
        background: #616161; }
  .bottom-bar .choose-file {
    float: left;
    height: 36px; }
  .bottom-bar .send-btn {
    float: right;
    height: 36px;
    width: 36px;
    border: none;
    outline: none;
    background: url("/images/send.png") no-repeat;
    background-size: 75%;
    background-position: center center;
    cursor: pointer; }
    .bottom-bar .send-btn::before {
      content: '+'; }
  .bottom-bar .send-message {
    display: block;
    width: calc(100% - 36px);
    max-height: 100px;
    padding: 10px;
    border: 0;
    outline: 0;
    z-index: 5;
    resize: none;
    font-size: 1em;
    font-family: inherit; }

.toast {
  position: absolute;
  bottom: 0;
  margin: 0 2em 3em;
  padding: 0.5em 1.5em;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  box-shadow: 0 0 5px 0 black;
  border-radius: 20px;
  font-size: small; }

.confirmation-dialog .content {
  max-width: 350px;
  margin: 100px auto;
  padding: 1em;
  background: white;
  border-radius: 10px;
  overflow: auto;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2); }
  .confirmation-dialog .content .message {
    text-align: center; }
  .confirmation-dialog .content .buttons {
    margin-top: 10px; }
    .confirmation-dialog .content .buttons button {
      float: right;
      margin-left: 10px;
      background-color: #f3f3f3;
      border-radius: 5px;
      outline: none;
      padding: 5px 8px;
      border: 1px solid #d9d9d9; }
      .confirmation-dialog .content .buttons button:focus {
        border-color: #8d8d8d; }
      .confirmation-dialog .content .buttons button:hover {
        background-color: #d9d9d9;
        border-color: silver; }

/*# sourceMappingURL=manifest.css.map */
