@font-face {
  font-family: 'Roboto-Light';
  src: url("/fonts/Roboto-Light.ttf") format("truetype"); }
@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto-Italic.ttf") format("truetype");
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold; }
* {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px; }

.clearfix:before,
.clearfix:after {
  display: table;
  content: " "; }

.clearfix:after {
  clear: both; }

.hide {
  display: none; }

#header h1 {
  margin: 0;
  line-height: 64px;
  padding-left: 20px;
  font-size: 22px;
  font-weight: normal; }

.conversation-header button,
.title-bar button {
  width: 24px;
  height: 24px;
  line-height: 24px;
  padding: 0;
  border: 0; }

button {
  cursor: pointer;
  font-size: inherit; }

button.grey {
  border-radius: 5px;
  border: solid 1px #ccc;
  cursor: pointer;
  margin: 1em auto;
  padding: 1em;
  font-family: inherit;
  color: #616161;
  background: #f3f3f3;
  box-shadow: 0 0 10px -5px rgba(97, 97, 97, 0.5); }
  button.grey:hover {
    box-shadow: 0 0 10px -3px rgba(97, 97, 97, 0.7); }
  button.grey[disabled=disabled], button.grey[disabled=disabled]:hover {
    opacity: 0.5;
    box-shadow: none;
    cursor: default; }

a {
  color: #2090ea; }

button.back {
  -webkit-mask: url("/images/back.svg") no-repeat center;
  -webkit-mask-size: 100%;
  background-color: rgba(0, 0, 0, 0.5); }
  button.back:focus, button.back:hover {
    -webkit-mask: url("/images/back.svg") no-repeat center;
    -webkit-mask-size: 100%;
    background-color: black; }

button.clock {
  -webkit-mask: url("/images/clock.svg") no-repeat center;
  -webkit-mask-size: 100%;
  background-color: rgba(0, 0, 0, 0.5); }
  button.clock:focus, button.clock:hover {
    -webkit-mask: url("/images/clock.svg") no-repeat center;
    -webkit-mask-size: 100%;
    background-color: black; }

button.hamburger {
  -webkit-mask: url("/images/menu.svg") no-repeat center;
  -webkit-mask-size: 100%;
  background-color: rgba(0, 0, 0, 0.5); }
  button.hamburger:focus, button.hamburger:hover {
    -webkit-mask: url("/images/menu.svg") no-repeat center;
    -webkit-mask-size: 100%;
    background-color: black; }

::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  background: transparent; }

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 5px; }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.25); }

.header-buttons {
  height: 0; }
  .header-buttons.left {
    float: left;
    padding-left: 10px; }
  .header-buttons.right {
    float: right;
    padding-right: 10px; }
  .header-buttons .vertical-align {
    height: 64px;
    vertical-align: middle;
    display: table-cell; }

.conversation-header .timer-menu {
  margin-right: 10px; }
  .conversation-header .timer-menu:before {
    content: attr(data-time);
    display: inline-block;
    position: absolute;
    bottom: -10px;
    height: 10px;
    width: 100%;
    text-align: center;
    font-size: 8px;
    font-weight: bold; }

.menu {
  position: relative;
  float: right; }
  .menu .hamburger {
    width: 24px;
    height: 24px;
    vertical-align: middle; }
  .menu .menu-list {
    display: none;
    position: absolute;
    color: #454545;
    z-index: 50;
    text-align: initial;
    top: 100%;
    right: 0;
    margin: 0;
    padding: 0;
    background-color: white;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2); }
    .menu .menu-list li {
      display: block;
      white-space: nowrap;
      cursor: pointer;
      padding: 5px 15px 5px 10px; }
      .menu .menu-list li:hover {
        background-color: #f3f3f3; }

.file-input {
  position: relative; }
  .file-input .choose-file {
    cursor: pointer;
    padding-left: 10px; }
  .file-input .paperclip {
    width: 36px;
    height: 100%;
    padding: 5px 0 0;
    opacity: 0.5;
    border: none;
    background: transparent; }
    .file-input .paperclip:before {
      content: '';
      display: inline-block;
      width: 24px;
      height: 24px;
      -webkit-mask: url("/images/paperclip.svg") no-repeat center;
      -webkit-mask-size: 100%;
      background-color: #616161;
      transform: rotateZ(-45deg); }
    .file-input .paperclip:focus, .file-input .paperclip:hover {
      opacity: 1.0; }
  .file-input input[type=file] {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 1; }

.dropoff {
  outline: solid 1px #2090ea; }

.avatar {
  display: inline-block;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-size: cover;
  vertical-align: middle;
  text-align: center;
  line-height: 44px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  color: white;
  font-size: 18px; }
  .avatar.red {
    background-color: #EF5350; }
  .avatar.pink {
    background-color: #EC407A; }
  .avatar.purple {
    background-color: #AB47BC; }
  .avatar.deep_purple {
    background-color: #7E57C2; }
  .avatar.indigo {
    background-color: #5C6BC0; }
  .avatar.blue {
    background-color: #2196F3; }
  .avatar.light_blue {
    background-color: #03A9F4; }
  .avatar.cyan {
    background-color: #00BCD4; }
  .avatar.teal {
    background-color: #009688; }
  .avatar.green {
    background-color: #4CAF50; }
  .avatar.light_green {
    background-color: #7CB342; }
  .avatar.orange {
    background-color: #FF9800; }
  .avatar.deep_orange {
    background-color: #FF5722; }
  .avatar.amber {
    background-color: #FFB300; }
  .avatar.blue_grey {
    background-color: #607D8B; }
  .avatar.grey {
    background-color: #999999; }
  .avatar.default {
    background-color: #2090ea; }

.group-info-input {
  background: white; }
  .group-info-input .group-avatar {
    display: inline-block;
    padding: 2px 0px 0px 2px; }
  .group-info-input .file-input .thumbnail, .group-info-input .thumbnail .avatar,
  .group-info-input img {
    height: 54px;
    width: 54px;
    border-radius: 27px; }
  .group-info-input .thumbnail:after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    bottom: 0;
    right: 0;
    border-bottom: 10px solid #616161;
    border-left: 10px solid transparent; }
  .group-info-input input.name {
    padding: 0.5em;
    border: solid 1px #ccc;
    border-width: 0 0 1px 0;
    width: calc(100% - 84px); }

.group-member-list .summary,
.new-group-update .summary {
  margin: 10px; }
.group-member-list .members .contact,
.new-group-update .members .contact {
  box-shadow: none;
  border-bottom: 1px solid #eee; }
  .group-member-list .members .contact .last-message, .group-member-list .members .contact .last-timestamp,
  .new-group-update .members .contact .last-message,
  .new-group-update .members .contact .last-timestamp {
    display: none; }

.conversation-list-item {
  cursor: pointer; }
  .conversation-list-item:hover {
    background: #f8f8f8; }
  .conversation-list-item .number {
    display: none; }
  .conversation-list-item .unread-count {
    float: right;
    margin: 3px 10px 0 20px;
    display: inline-block;
    padding: 0 3px;
    min-width: 21px;
    height: 21px;
    line-height: 21px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    background-color: #2090ea;
    color: white;
    border: solid 1px rgba(255, 255, 255, 0.6); }

.inactive .contact.selected {
  padding-left: 8px;
  border-left: 4px solid #2090ea; }

.contact {
  padding: 12px;
  white-space: nowrap;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.6);
  margin: 1px; }
  .contact.selected {
    background: #ecf3fc; }
  .contact:first-child {
    margin-top: 0; }
  .contact:last-child::after {
    display: none; }

.banner {
  background-color: #a2d2f4;
  color: black;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 25px;
  right: 30px;
  left: 30px;
  padding: 5px 25px 5px 10px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer; }
  .banner .warning {
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: text-bottom;
    -webkit-mask: url("/images/warning.svg") no-repeat center;
    -webkit-mask-size: 100%;
    background-color: black; }
  .banner .dismiss {
    position: absolute;
    right: 3px;
    top: 3px;
    height: 23px;
    width: 23px;
    -webkit-mask: url("/images/x.svg") no-repeat center;
    -webkit-mask-size: 100%;
    background-color: black; }

.contact-details {
  vertical-align: middle;
  display: inline-block;
  margin: 0 0 0 8px;
  width: calc(100% - 44px - 8px - 0.2857142857em);
  text-align: left;
  cursor: pointer; }
  .contact-details p {
    overflow-x: hidden;
    text-overflow: ellipsis; }
  .contact-details .name {
    display: block;
    margin: 0;
    font-size: 1em;
    text-overflow: ellipsis;
    overflow-x: hidden;
    text-align: left; }
  .contact-details .number {
    color: #616161;
    font-size: 0.9285714286em; }
  .contact-details.not-clickable {
    cursor: default; }
  .contact-details .verified-icon {
    -webkit-mask: url("/images/verified-check.svg") no-repeat center;
    -webkit-mask-size: 100%;
    background-color: #616161;
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
    vertical-align: text-bottom; }

.recipients-input {
  position: relative; }
  .recipients-input .recipients-container {
    background-color: white;
    padding: 2px;
    border-bottom: 1px solid #f2f2f2;
    line-height: 24px; }
  .recipients-input .recipient {
    display: inline-block;
    margin: 0 2px 2px 0;
    padding: 0 5px;
    border-radius: 10px;
    background-color: #2090ea;
    color: white; }
    .recipients-input .recipient.error {
      background-color: #f00; }
    .recipients-input .recipient .remove {
      margin-left: 5px;
      padding: 0 2px; }
  .recipients-input .results {
    position: absolute;
    z-index: 10;
    margin: 0 0 0 20px;
    width: calc(100% - 30px);
    max-width: 300px;
    max-height: 165px;
    overflow-y: auto;
    box-shadow: 0px 0px 1px rgba(170, 170, 170, 0.8); }
    .recipients-input .results .contact {
      cursor: pointer; }

.attachment-preview {
  display: inline-block;
  position: relative; }
  .attachment-preview img {
    max-width: 100%; }

.new-conversation .recipients-input .recipients::before {
  content: 'To: '; }

.new-group-update .recipients-input .recipients::before {
  content: 'Add: '; }

.loading {
  position: relative; }
  .loading::before {
    display: block;
    margin: 0px auto;
    content: " ";
    height: 16px;
    width: 16px;
    border-radius: 32px;
    border: solid 3px;
    border-color: #a2d2f4 #a2d2f4 #f3f3f3 #f3f3f3 !important;
    animation: rotate 1s linear infinite; }
@keyframes rotate {
  to {
    transform: rotate(360deg); } }
.x {
  display: inline-block;
  float: right;
  cursor: pointer;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  padding: 3px;
  background: #616161; }
  .x:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    -webkit-mask: url("/images/x.svg") no-repeat center;
    -webkit-mask-size: 100%;
    background-color: white; }

input[type=text]:active, input[type=text]:focus, input[type=search]:active, input[type=search]:focus, textarea:active, textarea:focus {
  outline: 1px solid #2090ea; }

.expiredAlert {
  background: #F3F3A7;
  padding: 10px; }
  .expiredAlert button {
    float: right;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 36px;
    padding: 0 20px;
    background: #2090ea;
    margin-left: 20px; }
  .expiredAlert .message {
    padding: 10px 0; }

.upgrade-banner {
  background: linear-gradient(to bottom, #d5d5d5 0%, #f9f9f9 35%, white 50%, #f9f9f9 65%, #d5d5d5 100%);
  padding: 10px;
  font-family: roboto-light;
  font-size: 14pt; }
  .upgrade-banner button {
    float: right;
    border: none;
    color: white;
    font-family: roboto-light;
    font-size: 14pt;
    border-radius: 0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    line-height: 36px;
    padding: 0 2em;
    background: #2090ea;
    margin-left: 20px; }
  .upgrade-banner .message {
    padding: 10px 0; }
  .upgrade-banner .highlight {
    font-weight: bold;
    font-family: roboto; }
  .upgrade-banner .x {
    float: right;
    margin-left: 0.5em;
    margin-top: 0.5em;
    background-color: #d9d9d9; }

.inbox {
  position: relative; }

@keyframes loading {
  50% {
    transform: scale(1);
    opacity: 1; }
  100% {
    opacity: 0; } }
.app-loading-screen {
  z-index: 1000;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  align-items: center; }
  .app-loading-screen .content {
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
  .app-loading-screen .container {
    margin-left: auto;
    margin-right: auto;
    width: 78px;
    height: 22px; }
  .app-loading-screen .message {
    -webkit-user-select: text;
    max-width: 35em; }
  .app-loading-screen .dot {
    width: 14px;
    height: 14px;
    border: 3px solid #2090ea;
    border-radius: 50%;
    float: left;
    margin: 0 6px;
    transform: scale(0);
    animation: loading 1500ms ease infinite 0ms; }
    .app-loading-screen .dot:nth-child(2) {
      animation: loading 1500ms ease infinite 333ms; }
    .app-loading-screen .dot:nth-child(3) {
      animation: loading 1500ms ease infinite 666ms; }

.migration-flow {
  z-index: 1000;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-family: roboto-light;
  color: black;
  background: linear-gradient(to bottom, #eeeeee 0%, #f3f3f3 12%, white 27%, white 60%, #f9f9f9 85%, #d5d5d5 100%);
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 10pt;
  .os-header-margin-top: 2em; }
  @media (min-height: 750px) and (min-width: 700px) {
    .migration-flow {
      font-size: 14pt; } }
  .migration-flow .banner-image {
    margin: 1em;
    display: none; }
    @media (min-height: 550px) {
      .migration-flow .banner-image {
        display: inline-block;
        height: 10em;
        width: 10em; } }
  .migration-flow .banner-icon {
    margin: 1em;
    display: none; }
    @media (min-height: 550px) {
      .migration-flow .banner-icon {
        display: inline-block;
        height: 10em;
        width: 10em; } }
    .migration-flow .banner-icon.folder-outline {
      -webkit-mask: url("../images/folder-outline.svg") no-repeat center;
      -webkit-mask-size: 100%;
      background-color: #DEDEDE; }
    .migration-flow .banner-icon.export {
      -webkit-mask: url("../images/export.svg") no-repeat center;
      -webkit-mask-size: 100%;
      background-color: #DEDEDE; }
    .migration-flow .banner-icon.check-circle-outline {
      -webkit-mask: url("../images/check-circle-outline.svg") no-repeat center;
      -webkit-mask-size: 100%;
      background-color: #DEDEDE; }
    .migration-flow .banner-icon.alert-outline {
      -webkit-mask: url("../images/alert-outline.svg") no-repeat center;
      -webkit-mask-size: 100%;
      background-color: #DEDEDE; }
  .migration-flow .header {
    font-weight: normal;
    margin-bottom: 1.5em;
    font-size: 20pt; }
    @media (min-height: 750px) and (min-width: 700px) {
      .migration-flow .header {
        font-size: 28pt; } }
  .migration-flow .export-location {
    text-align: center;
    font-family: roboto;
    border: solid 1px #2090ea;
    color: #2090ea;
    margin-bottom: 1em;
    padding: 0.5em;
    -webkit-user-select: text;
    cursor: text; }
  .migration-flow .center {
    text-align: center; }
  .migration-flow .body-text {
    margin-bottom: 1em;
    max-width: 22em;
    text-align: left;
    margin-left: auto;
    margin-right: auto; }
  .migration-flow .body-text-wide {
    margin-bottom: 1em;
    max-width: 30em;
    text-align: left;
    margin-left: auto;
    margin-right: auto; }
    .migration-flow .body-text-wide.red-text {
      color: red; }
      .migration-flow .body-text-wide.red-text a {
        color: red; }
  .migration-flow .step {
    height: 100%;
    width: 100%;
    padding: 70px 0 50px; }
  .migration-flow .step-body {
    margin-left: auto;
    margin-right: auto;
    max-width: 35em; }
  .migration-flow .uninstall-steps {
    margin-bottom: 4em; }
    .migration-flow .uninstall-steps li {
      margin: 0.5em; }
  .migration-flow .url {
    font-weight: bold; }
  .migration-flow .linux-install-instructions .content {
    max-width: 1300px; }
    .migration-flow .linux-install-instructions .content .header {
      color: black;
      font-size: 120%; }
    .migration-flow .linux-install-instructions .content pre {
      cursor: text;
      -webkit-user-select: text;
      background-color: black;
      color: white;
      text-align: left;
      padding: 0.5em;
      overflow-x: scroll; }
      .migration-flow .linux-install-instructions .content pre::-webkit-scrollbar {
        width: 5px;
        height: 5px; }
      .migration-flow .linux-install-instructions .content pre::-webkit-scrollbar-track {
        background: transparent; }
      .migration-flow .linux-install-instructions .content pre::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.4);
        border-radius: 2; }
  .migration-flow .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%; }
  .migration-flow .button {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    border: none;
    min-width: 300px;
    padding: 0.75em;
    margin-top: 1em;
    margin-bottom: 1em;
    color: white;
    background: #2090ea;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 12pt; }
    @media (min-height: 750px) and (min-width: 700px) {
      .migration-flow .button {
        font-size: 20pt; } }
  .migration-flow a.link {
    display: block;
    cursor: pointer;
    text-decoration: underline;
    margin: 0.5em;
    color: #2090ea; }
  .migration-flow .progress {
    text-align: center;
    padding: 1em;
    width: 80%;
    margin: auto; }
    .migration-flow .progress .bar-container {
      height: 1em;
      margin: 1em;
      background-color: #f3f3f3; }
    .migration-flow .progress .bar {
      width: 100%;
      height: 100%;
      background-color: #a2d2f4;
      transition: width 0.25s;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); }
  .migration-flow .install-container {
    text-align: center; }
    @media (min-height: 550px) {
      .migration-flow .install-container {
        margin-top: 4em; } }
  .migration-flow .install {
    cursor: pointer;
    background-color: white;
    padding: 0.5em;
    margin: 0.5em;
    display: inline-block;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-left: 1em;
    margin-right: 1em; }
    .migration-flow .install a {
      color: black;
      text-decoration: none; }
  .migration-flow .install-icon {
    height: 7em;
    width: 7em;
    vertical-align: text-bottom;
    display: inline-block;
    margin: 1em; }
    @media (min-width: 800px) {
      .migration-flow .install-icon {
        margin-left: 2em;
        margin-right: 2em; } }
    .migration-flow .install-icon.apple {
      -webkit-mask: url("/images/apple.svg") no-repeat center;
      -webkit-mask-size: 100%;
      background-color: #2090ea; }
    .migration-flow .install-icon.windows {
      -webkit-mask: url("/images/windows.svg") no-repeat center;
      -webkit-mask-size: 100%;
      background-color: #2090ea; }
    .migration-flow .install-icon.linux {
      -webkit-mask: url("/images/linux.svg") no-repeat center;
      -webkit-mask-size: 100%;
      background-color: #2090ea; }
  .migration-flow .nav {
    width: 100%;
    bottom: 50px;
    margin-top: auto;
    padding-bottom: 1em;
    padding-left: 20px;
    padding-right: 20px; }
  .migration-flow .installed {
    visibility: hidden; }

.inbox:focus {
  outline: none; }

.text-security .inbox .name, .text-security .inbox .body, .text-security .inbox .last-message, .text-security .inbox .sender, .text-security .inbox .conversation-title, .text-security .inbox .number {
  -webkit-text-security: square; }

.iti-flag {
  width: 16px;
  height: 11px;
  background: url("../img/flags.png"); }

.iti-flag.ad {
  background-position: -16px 0; }

.iti-flag.ae {
  background-position: -32px 0; }

.iti-flag.af {
  background-position: -48px 0; }

.iti-flag.ag {
  background-position: -64px 0; }

.iti-flag.ai {
  background-position: -80px 0; }

.iti-flag.al {
  background-position: -96px 0; }

.iti-flag.am {
  background-position: -112px 0; }

.iti-flag.ao {
  background-position: -128px 0; }

.iti-flag.ar {
  background-position: -144px 0; }

.iti-flag.as {
  background-position: -160px 0; }

.iti-flag.at {
  background-position: -176px 0; }

.iti-flag.au {
  background-position: -192px 0; }

.iti-flag.aw {
  background-position: -208px 0; }

.iti-flag.az {
  background-position: -224px 0; }

.iti-flag.ba {
  background-position: -240px 0; }

.iti-flag.bb {
  background-position: 0 -11px; }

.iti-flag.bd {
  background-position: -16px -11px; }

.iti-flag.be {
  background-position: -32px -11px; }

.iti-flag.bf {
  background-position: -48px -11px; }

.iti-flag.bg {
  background-position: -64px -11px; }

.iti-flag.bh {
  background-position: -80px -11px; }

.iti-flag.bi {
  background-position: -96px -11px; }

.iti-flag.bj {
  background-position: -112px -11px; }

.iti-flag.bm {
  background-position: -128px -11px; }

.iti-flag.bn {
  background-position: -144px -11px; }

.iti-flag.bo {
  background-position: -160px -11px; }

.iti-flag.br {
  background-position: -176px -11px; }

.iti-flag.bs {
  background-position: -192px -11px; }

.iti-flag.bt {
  background-position: -208px -11px; }

.iti-flag.bw {
  background-position: -224px -11px; }

.iti-flag.by {
  background-position: -240px -11px; }

.iti-flag.bz {
  background-position: 0 -22px; }

.iti-flag.ca {
  background-position: -16px -22px; }

.iti-flag.cd {
  background-position: -32px -22px; }

.iti-flag.cf {
  background-position: -48px -22px; }

.iti-flag.cg {
  background-position: -64px -22px; }

.iti-flag.ch {
  background-position: -80px -22px; }

.iti-flag.ci {
  background-position: -96px -22px; }

.iti-flag.ck {
  background-position: -112px -22px; }

.iti-flag.cl {
  background-position: -128px -22px; }

.iti-flag.cm {
  background-position: -144px -22px; }

.iti-flag.cn {
  background-position: -160px -22px; }

.iti-flag.co {
  background-position: -176px -22px; }

.iti-flag.cr {
  background-position: -192px -22px; }

.iti-flag.cu {
  background-position: -208px -22px; }

.iti-flag.cv {
  background-position: -224px -22px; }

.iti-flag.cw {
  background-position: -240px -22px; }

.iti-flag.cy {
  background-position: 0 -33px; }

.iti-flag.cz {
  background-position: -16px -33px; }

.iti-flag.de {
  background-position: -32px -33px; }

.iti-flag.dj {
  background-position: -48px -33px; }

.iti-flag.dk {
  background-position: -64px -33px; }

.iti-flag.dm {
  background-position: -80px -33px; }

.iti-flag.do {
  background-position: -96px -33px; }

.iti-flag.dz {
  background-position: -112px -33px; }

.iti-flag.ec {
  background-position: -128px -33px; }

.iti-flag.ee {
  background-position: -144px -33px; }

.iti-flag.eg {
  background-position: -160px -33px; }

.iti-flag.er {
  background-position: -176px -33px; }

.iti-flag.es {
  background-position: -192px -33px; }

.iti-flag.et {
  background-position: -208px -33px; }

.iti-flag.fi {
  background-position: -224px -33px; }

.iti-flag.fj {
  background-position: -240px -33px; }

.iti-flag.fk {
  background-position: 0 -44px; }

.iti-flag.fm {
  background-position: -16px -44px; }

.iti-flag.fo {
  background-position: -32px -44px; }

.iti-flag.fr, .iti-flag.bl, .iti-flag.mf {
  background-position: -48px -44px; }

.iti-flag.ga {
  background-position: -64px -44px; }

.iti-flag.gb {
  background-position: -80px -44px; }

.iti-flag.gd {
  background-position: -96px -44px; }

.iti-flag.ge {
  background-position: -112px -44px; }

.iti-flag.gf {
  background-position: -128px -44px; }

.iti-flag.gh {
  background-position: -144px -44px; }

.iti-flag.gi {
  background-position: -160px -44px; }

.iti-flag.gl {
  background-position: -176px -44px; }

.iti-flag.gm {
  background-position: -192px -44px; }

.iti-flag.gn {
  background-position: -208px -44px; }

.iti-flag.gp {
  background-position: -224px -44px; }

.iti-flag.gq {
  background-position: -240px -44px; }

.iti-flag.gr {
  background-position: 0 -55px; }

.iti-flag.gt {
  background-position: -16px -55px; }

.iti-flag.gu {
  background-position: -32px -55px; }

.iti-flag.gw {
  background-position: -48px -55px; }

.iti-flag.gy {
  background-position: -64px -55px; }

.iti-flag.hk {
  background-position: -80px -55px; }

.iti-flag.hn {
  background-position: -96px -55px; }

.iti-flag.hr {
  background-position: -112px -55px; }

.iti-flag.ht {
  background-position: -128px -55px; }

.iti-flag.hu {
  background-position: -144px -55px; }

.iti-flag.id {
  background-position: -160px -55px; }

.iti-flag.ie {
  background-position: -176px -55px; }

.iti-flag.il {
  background-position: -192px -55px; }

.iti-flag.in {
  background-position: -208px -55px; }

.iti-flag.io {
  background-position: -224px -55px; }

.iti-flag.iq {
  background-position: -240px -55px; }

.iti-flag.ir {
  background-position: 0 -66px; }

.iti-flag.is {
  background-position: -16px -66px; }

.iti-flag.it {
  background-position: -32px -66px; }

.iti-flag.jm {
  background-position: -48px -66px; }

.iti-flag.jo {
  background-position: -64px -66px; }

.iti-flag.jp {
  background-position: -80px -66px; }

.iti-flag.ke {
  background-position: -96px -66px; }

.iti-flag.kg {
  background-position: -112px -66px; }

.iti-flag.kh {
  background-position: -128px -66px; }

.iti-flag.ki {
  background-position: -144px -66px; }

.iti-flag.km {
  background-position: -160px -66px; }

.iti-flag.kn {
  background-position: -176px -66px; }

.iti-flag.kp {
  background-position: -192px -66px; }

.iti-flag.kr {
  background-position: -208px -66px; }

.iti-flag.kw {
  background-position: -224px -66px; }

.iti-flag.ky {
  background-position: -240px -66px; }

.iti-flag.kz {
  background-position: 0 -77px; }

.iti-flag.la {
  background-position: -16px -77px; }

.iti-flag.lb {
  background-position: -32px -77px; }

.iti-flag.lc {
  background-position: -48px -77px; }

.iti-flag.li {
  background-position: -64px -77px; }

.iti-flag.lk {
  background-position: -80px -77px; }

.iti-flag.lr {
  background-position: -96px -77px; }

.iti-flag.ls {
  background-position: -112px -77px; }

.iti-flag.lt {
  background-position: -128px -77px; }

.iti-flag.lu {
  background-position: -144px -77px; }

.iti-flag.lv {
  background-position: -160px -77px; }

.iti-flag.ly {
  background-position: -176px -77px; }

.iti-flag.ma {
  background-position: -192px -77px; }

.iti-flag.mc {
  background-position: -208px -77px; }

.iti-flag.md {
  background-position: -224px -77px; }

.iti-flag.me {
  background-position: -112px -154px;
  height: 12px; }

.iti-flag.mg {
  background-position: 0 -88px; }

.iti-flag.mh {
  background-position: -16px -88px; }

.iti-flag.mk {
  background-position: -32px -88px; }

.iti-flag.ml {
  background-position: -48px -88px; }

.iti-flag.mm {
  background-position: -64px -88px; }

.iti-flag.mn {
  background-position: -80px -88px; }

.iti-flag.mo {
  background-position: -96px -88px; }

.iti-flag.mp {
  background-position: -112px -88px; }

.iti-flag.mq {
  background-position: -128px -88px; }

.iti-flag.mr {
  background-position: -144px -88px; }

.iti-flag.ms {
  background-position: -160px -88px; }

.iti-flag.mt {
  background-position: -176px -88px; }

.iti-flag.mu {
  background-position: -192px -88px; }

.iti-flag.mv {
  background-position: -208px -88px; }

.iti-flag.mw {
  background-position: -224px -88px; }

.iti-flag.mx {
  background-position: -240px -88px; }

.iti-flag.my {
  background-position: 0 -99px; }

.iti-flag.mz {
  background-position: -16px -99px; }

.iti-flag.na {
  background-position: -32px -99px; }

.iti-flag.nc {
  background-position: -48px -99px; }

.iti-flag.ne {
  background-position: -64px -99px; }

.iti-flag.nf {
  background-position: -80px -99px; }

.iti-flag.ng {
  background-position: -96px -99px; }

.iti-flag.ni {
  background-position: -112px -99px; }

.iti-flag.nl, .iti-flag.bq {
  background-position: -128px -99px; }

.iti-flag.no {
  background-position: -144px -99px; }

.iti-flag.np {
  background-position: -160px -99px; }

.iti-flag.nr {
  background-position: -176px -99px; }

.iti-flag.nu {
  background-position: -192px -99px; }

.iti-flag.nz {
  background-position: -208px -99px; }

.iti-flag.om {
  background-position: -224px -99px; }

.iti-flag.pa {
  background-position: -240px -99px; }

.iti-flag.pe {
  background-position: 0 -110px; }

.iti-flag.pf {
  background-position: -16px -110px; }

.iti-flag.pg {
  background-position: -32px -110px; }

.iti-flag.ph {
  background-position: -48px -110px; }

.iti-flag.pk {
  background-position: -64px -110px; }

.iti-flag.pl {
  background-position: -80px -110px; }

.iti-flag.pm {
  background-position: -96px -110px; }

.iti-flag.pr {
  background-position: -112px -110px; }

.iti-flag.ps {
  background-position: -128px -110px; }

.iti-flag.pt {
  background-position: -144px -110px; }

.iti-flag.pw {
  background-position: -160px -110px; }

.iti-flag.py {
  background-position: -176px -110px; }

.iti-flag.qa {
  background-position: -192px -110px; }

.iti-flag.re {
  background-position: -208px -110px; }

.iti-flag.ro {
  background-position: -224px -110px; }

.iti-flag.rs {
  background-position: -240px -110px; }

.iti-flag.ru {
  background-position: 0 -121px; }

.iti-flag.rw {
  background-position: -16px -121px; }

.iti-flag.sa {
  background-position: -32px -121px; }

.iti-flag.sb {
  background-position: -48px -121px; }

.iti-flag.sc {
  background-position: -64px -121px; }

.iti-flag.sd {
  background-position: -80px -121px; }

.iti-flag.se {
  background-position: -96px -121px; }

.iti-flag.sg {
  background-position: -112px -121px; }

.iti-flag.sh {
  background-position: -128px -121px; }

.iti-flag.si {
  background-position: -144px -121px; }

.iti-flag.sk {
  background-position: -160px -121px; }

.iti-flag.sl {
  background-position: -176px -121px; }

.iti-flag.sm {
  background-position: -192px -121px; }

.iti-flag.sn {
  background-position: -208px -121px; }

.iti-flag.so {
  background-position: -224px -121px; }

.iti-flag.sr {
  background-position: -240px -121px; }

.iti-flag.ss {
  background-position: 0 -132px; }

.iti-flag.st {
  background-position: -16px -132px; }

.iti-flag.sv {
  background-position: -32px -132px; }

.iti-flag.sx {
  background-position: -48px -132px; }

.iti-flag.sy {
  background-position: -64px -132px; }

.iti-flag.sz {
  background-position: -80px -132px; }

.iti-flag.tc {
  background-position: -96px -132px; }

.iti-flag.td {
  background-position: -112px -132px; }

.iti-flag.tg {
  background-position: -128px -132px; }

.iti-flag.th {
  background-position: -144px -132px; }

.iti-flag.tj {
  background-position: -160px -132px; }

.iti-flag.tk {
  background-position: -176px -132px; }

.iti-flag.tl {
  background-position: -192px -132px; }

.iti-flag.tm {
  background-position: -208px -132px; }

.iti-flag.tn {
  background-position: -224px -132px; }

.iti-flag.to {
  background-position: -240px -132px; }

.iti-flag.tr {
  background-position: 0 -143px; }

.iti-flag.tt {
  background-position: -16px -143px; }

.iti-flag.tv {
  background-position: -32px -143px; }

.iti-flag.tw {
  background-position: -48px -143px; }

.iti-flag.tz {
  background-position: -64px -143px; }

.iti-flag.ua {
  background-position: -80px -143px; }

.iti-flag.ug {
  background-position: -96px -143px; }

.iti-flag.us {
  background-position: -112px -143px; }

.iti-flag.uy {
  background-position: -128px -143px; }

.iti-flag.uz {
  background-position: -144px -143px; }

.iti-flag.va {
  background-position: -160px -143px; }

.iti-flag.vc {
  background-position: -176px -143px; }

.iti-flag.ve {
  background-position: -192px -143px; }

.iti-flag.vg {
  background-position: -208px -143px; }

.iti-flag.vi {
  background-position: -224px -143px; }

.iti-flag.vn {
  background-position: -240px -143px; }

.iti-flag.vu {
  background-position: 0 -154px; }

.iti-flag.wf {
  background-position: -16px -154px; }

.iti-flag.ws {
  background-position: -32px -154px; }

.iti-flag.ye {
  background-position: -48px -154px; }

.iti-flag.za {
  background-position: -64px -154px; }

.iti-flag.zm {
  background-position: -80px -154px; }

.iti-flag.zw {
  background-position: -96px -154px; }

.intl-tel-input {
  position: relative;
  display: inline-block; }

.intl-tel-input * {
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

.intl-tel-input .hide {
  display: none; }

.intl-tel-input .v-hide {
  visibility: hidden; }

.intl-tel-input input, .intl-tel-input input[type=text], .intl-tel-input input[type=tel] {
  position: relative;
  z-index: 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 44px;
  margin-left: 0; }

.intl-tel-input .flag-dropdown {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 1px; }

.intl-tel-input .flag-dropdown:hover {
  cursor: pointer; }

.intl-tel-input .flag-dropdown:hover .selected-flag {
  background-color: rgba(0, 0, 0, 0.05); }

.intl-tel-input input[disabled] + .flag-dropdown:hover, .intl-tel-input input[readonly] + .flag-dropdown:hover {
  cursor: default; }

.intl-tel-input input[disabled] + .flag-dropdown:hover .selected-flag, .intl-tel-input input[readonly] + .flag-dropdown:hover .selected-flag {
  background-color: transparent; }

.intl-tel-input .selected-flag {
  z-index: 1;
  position: relative;
  width: 38px;
  height: 100%;
  padding: 0 0 0 8px; }

.intl-tel-input .selected-flag .iti-flag {
  position: absolute;
  top: 50%;
  margin-top: -5px; }

.intl-tel-input .selected-flag .arrow {
  position: relative;
  top: 50%;
  margin-top: -2px;
  left: 20px;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 4px solid #555; }

.intl-tel-input .selected-flag .arrow.up {
  border-top: none;
  border-bottom: 4px solid #555; }

.intl-tel-input .country-list {
  list-style: none;
  position: absolute;
  z-index: 2;
  padding: 0;
  margin: 0 0 0 -1px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  background-color: white;
  border: 1px solid #CCC;
  width: 430px;
  max-height: 200px;
  overflow-y: scroll; }

.intl-tel-input .country-list .iti-flag {
  display: inline-block; }

.intl-tel-input .country-list .divider {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #CCC; }

.intl-tel-input .country-list .country {
  padding: 5px 10px; }

.intl-tel-input .country-list .country .dial-code {
  color: #999; }

.intl-tel-input .country-list .country.highlight {
  background-color: rgba(0, 0, 0, 0.05); }

.intl-tel-input .country-list .iti-flag, .intl-tel-input .country-list .country-name {
  margin-right: 6px; }

@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0; }
  to {
    background-position: 0 0; } }
.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.75) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.75) 50%, rgba(255, 255, 255, 0.75) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.75) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.75) 50%, rgba(255, 255, 255, 0.75) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.75) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.75) 50%, rgba(255, 255, 255, 0.75) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px; }

.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.75) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.75) 50%, rgba(255, 255, 255, 0.75) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.75) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.75) 50%, rgba(255, 255, 255, 0.75) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.75) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.75) 50%, rgba(255, 255, 255, 0.75) 75%, transparent 75%, transparent); }

.progress-bar.active {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite; }

.bar-container {
  background: #a2d2f4; }
  .bar-container .progress-bar {
    height: 100%; }

/*# sourceMappingURL=options.css.map */
