/*
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

@import 'variables';

body {
  font-family: $roboto;
}

header {
  background: $blue;
  color: white;
  padding-bottom: 2em;
  margin-bottom: 2em;
}

.container {
  min-width: 650px;
}

h1 {
  font-size: 30pt;
  font-weight: normal;
  padding-bottom: 10px;
}

.tagline {
  font-style: italic;
}

#textsecure-icon {
  float: left;
  margin-top: 20px;
  max-width: 100%;
}

#step1, #step2 {
  color: $blue;
  font-weight: bold;
  font-size: small;
  text-transform: uppercase;
}

h3.step {
  margin-top: 0;
  font-weight: bold;
}

.cta {
  text-align: center;
  border: 2px solid $grey_l;
  border-radius: 10px;
  padding: 1em 0;
  min-height: 293px;
}

.help {
  border-top: 2px solid $grey_l;
  padding: 1.5em 0.1em;
}

.install {
  display: inline-block;
  margin-top: 90px;
}

#qr {
  display: inline-block;

  canvas {
    display: none;
  }
}

#verifyCode,
#code,
#number {
  box-sizing: border-box;
  width: 100%;
  display: block;
  margin-bottom: 0.5em;
}

#request-voice,
#request-sms {
  box-sizing: border-box;
}
#request-sms {
  width: 57%;
  float: right;
}
#request-voice {
  width: 40%;
  float: left;
}

.number-container {
  position: relative;
  margin-bottom: 0.5em;
}
.number-container .intl-tel-input,
.number-container .number {
  width: 100%;
}
.number-container::after {
  visibility: hidden;
  content: ' ';
  display: inline-block;
  border-radius: 1.5em;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 100%;
  margin: 3px 8px;
  text-align: center;
}
.number-container.valid::after {
  visibility: visible;
  content: '✓';
  background-color: #0f9d58;
  color: #ffffff;
}
.number-container.invalid::after {
  visibility: visible;
  content: '!';
  background-color: #f44336;
  color: #ffffff;
}

#error {
  color: white;
  font-weight: bold;
  padding: 0.5em;
  text-align: center;
}
#error   { background-color: #f44336; }
#error:before {
  content: '\26a0';
  padding-right: 0.5em;
}
.narrow {
  box-sizing: border-box;
  width: 275px;
  max-width: 100%;
}

ul.country-list {
  min-width: 197px !important;
}
