/* Copyright 2013 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */


 .peer-connection-dump-root {
    font-size: 0.8em;
    padding-bottom: 3px;
  }
  
  .update-log-container {
    float: left;
    width: 50em;
    overflow: auto;
  }
  
  .update-log-failure {
    background-color: #be2026;
  }
  
  .stats-graph-container {
    clear: both;
    margin: 0.5em 0 0.5em 0;
  }
  
  .stats-graph-sub-container {
    float: left;
    margin: 0.5em;
  }
  
  .stats-graph-sub-container > div {
    float: left;
  }
  
  .stats-graph-sub-container > div:first-child {
    float: none;
  }
  
  .stats-table-container {
    float: left;
    padding: 0 0 0 0;
    overflow: auto;
  }
  
  .stats-table-container >div:first-child {
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    padding: 0 0 1em 0;
  }
  
  .stats-table-active-connection {
    font-weight: bold;
  }
  
  body {
    font-family: 'Lucida Grande', sans-serif;
  }
  
  table {
    border: none;
    margin: 0 1em 1em 0;
  }
  
  td {
    border: none;
    font-size: 0.8em;
    padding: 0 1em 0.5em 0;
    min-width: 10em;
    word-break: break-all;
  }
  
  table > tr {
    vertical-align: top;
  }
  
  th {
    border: none;
    font-size: 0.8em;
    padding: 0 0 0.5em 0;
  }
  
  .tab-head {
    background-color: rgb(220, 220, 220);
    margin: 10px 2px 0 2px;
    text-decoration: underline;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    width: 20em;
    height: 3em;
  }
  
  .active-tab-head {
    background-color: turquoise;
    font-weight: bold;
  }
  
  .tab-body {
    border: 1px solid turquoise;
    border-top-width: 3px;
    padding: 0 10px 500px 10px;
    display: none;
  }
  
  .active-tab-body {
    display: block;
  }
  
  .user-media-request-div-class {
    background-color: lightgray;
    margin: 10px 0 10px 0;
  }
  
  .user-media-request-div-class > div {
    margin: 5px 0 5px 0;
  }
  
  .dumps-info {
    max-width: 60em;
  }
  
  details[open] details summary {
      background-color: rgb(220, 220, 220);
  }
  
  .peerconnection-deprecations {
    font-weight: bold;
  }
  
  .candidategrid tr {
      text-align: center;
      word-break: break-word;
  }
  
  .candidategrid-active {
    font-weight: bold;
  }
  
  .candidategrid-candidatepair {
      background-color: #ccc;
  }
  
  .candidategrid-candidatepair td:first-of-type {
      text-align: left;
  }
  
  .candidategrid-candidate {
      background-color: #ddd;
  }
  
  .candidategrid-candidate td:first-of-type {
      text-align: right;
  }
  