// Copyright 2019-2020 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

.facade {
  background: rgba(0, 0, 0, 0.33);
  width: var(--window-width);
  height: var(--window-height);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: var(--window-border);
  top: var(--titlebar-height);
}
