// Copyright 2019-2020 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@import '../../stylesheets/variables';
@import '../mixins';

.container {
  display: flex;
  justify-content: center;
}

.text {
  @include light-theme() {
    border: 1px solid $color-gray-15;
    color: $color-gray-90;
  }

  @include dark-theme() {
    border: 1px solid $color-gray-60;
    color: $color-white;
  }
}

.button {
  width: 32px;
  height: 32px;
  background: transparent;
  border: none;
  margin-left: 12px;
}
