// Copyright 2019-2020 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 186px);
  grid-template-rows: repeat(auto-fill, 186px);
  grid-gap: 8px;
  justify-content: center;
}

.drop {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
