// Copyright 2023 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@use '../../colors.scss';
@use '../../mixins.scss';
@use '../../fonts.scss';

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  margin-bottom: 18px;
  max-width: 448px;
  width: 100%;
}

.cover-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 18px;
  position: relative;
}

.label {
  user-select: none;
  font-size: 13px;
  font-family: fonts.$inter;
  font-weight: 500;
  margin: 0;
  color: light-dark(colors.$color-gray-90, colors.$color-white);
}

.cover-image {
  width: 178px;
  height: 178px;

  &[data-art-type='emoji'] {
    width: 64px;
    height: 64px;
  }
}

.cover-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;

  overflow: hidden;
  width: 178px;
  height: 178px;

  border: {
    radius: 4px;
    style: solid;
    width: 1px;
  }

  border-color: light-dark(colors.$color-gray-60, colors.$color-gray-25);

  &[data-drag-active='true'] {
    border-color: light-dark(
      colors.$color-ultramarine,
      colors.$color-ultramarine-light
    );
  }
}

.edit-button {
  position: absolute;
  top: 6px;
  inset-inline-end: 6px;
  content: '';
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background-color: light-dark(colors.$color-gray-05, colors.$color-gray-75);

  &::after {
    display: block;
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    top: 5px;
    inset-inline-start: 5px;
    mask-image: url(/src/assets/icons/compose-outline-24.svg);
    mask-size: 22px;
    -webkit-mask-image: url(/src/assets/icons/compose-outline-24.svg);
    -webkit-mask-size: 22px;
    background: light-dark(colors.$color-black, colors.$color-white-alpha-75);
  }
}
