// Copyright 2019-2020 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@import '../stylesheets/variables';

.container {
  align-content: stretch;
  align-items: stretch;
  height: 100vh;
  width: 100vw;
}

.dark-theme {
  background-color: $color-gray-95;
  color: $color-gray-05;
}
