// Copyright 2019 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@use '../stylesheets/variables';

.container {
  align-content: stretch;
  align-items: stretch;
  height: 100%;
  width: 100%;
}

.dark-theme {
  background-color: variables.$color-gray-95;
  color: variables.$color-gray-05;
}
