// Copyright 2023 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@use 'sass:color';

@use '../mixins.scss';
@use '../colors.scss';
@use '../fonts.scss';

.base {
  border: none;
  min-width: 80px;
  height: 36px;
  padding-block: 0;
  padding-inline: 25px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: fonts.$inter;
  font-weight: normal;
  font-size: 14px;
  white-space: nowrap;

  @include mixins.light-theme() {
    background-color: colors.$color-gray-05;
    color: colors.$color-gray-90;
  }

  @include mixins.dark-theme() {
    background-color: colors.$color-gray-65;
    color: colors.$color-gray-05;
  }

  &:hover {
    @include mixins.light-theme() {
      background-color: color.mix(
        colors.$color-black,
        colors.$color-gray-05,
        15%
      );
    }

    @include mixins.dark-theme() {
      background-color: color.mix(
        colors.$color-white,
        colors.$color-gray-65,
        15%
      );
    }
  }

  &:active {
    @include mixins.light-theme() {
      background-color: color.mix(
        colors.$color-black,
        colors.$color-gray-05,
        25%
      );
    }
    @include mixins.dark-theme() {
      background-color: color.mix(
        colors.$color-white,
        colors.$color-gray-65,
        25%
      );
    }
  }

  &:disabled {
    opacity: 0.4;
  }
}

.primary {
  composes: base;
  background-color: colors.$color-ultramarine;

  @include mixins.light-theme() {
    color: colors.$color-white;
  }

  @include mixins.dark-theme() {
    color: colors.$color-white;
  }

  &:hover {
    @include mixins.light-theme() {
      background-color: color.mix(
        colors.$color-black,
        colors.$color-ultramarine,
        15%
      );
    }

    @include mixins.dark-theme() {
      background-color: color.mix(
        colors.$color-white,
        colors.$color-ultramarine,
        15%
      );
    }
  }

  &:active {
    @include mixins.light-theme() {
      background-color: color.mix(
        colors.$color-black,
        colors.$color-ultramarine,
        25%
      );
    }
    @include mixins.dark-theme() {
      background-color: color.mix(
        colors.$color-white,
        colors.$color-ultramarine,
        25%
      );
    }
  }
}

.pill {
  composes: base;
  height: 28px;
  border-radius: 15px;
  padding-block: 0;
  padding-inline: 17px;

  @include mixins.light-theme() {
    color: colors.$color-gray-90;
    border: 1px solid colors.$color-gray-90;
    background: transparent;
  }

  @include mixins.dark-theme() {
    color: colors.$color-white;
    border: 1px solid colors.$color-white;
    background: transparent;
  }
}

.pill-primary {
  composes: pill;

  @include mixins.light-theme() {
    border: none;
    background-color: colors.$color-ultramarine;
    color: colors.$color-white;
  }

  @include mixins.dark-theme() {
    border: none;
    background-color: colors.$color-ultramarine-light;
    color: colors.$color-white;
  }
}
