// Copyright 2023 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@import '../mixins.scss';
@import '../colors.scss';
@import '../fonts.scss';

.base {
  max-width: 468px;
  width: 100%;
  height: 138px;
  padding-block: 16px 8px;
  padding-inline: 16px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08), 0 8px 20px 0 rgba(0, 0, 0, 0.33);

  @include light-theme() {
    background: $color-white;
  }

  @include dark-theme() {
    background: $color-gray-75;
  }
}

.grow {
  flex-grow: 1;
}

.text {
  font: {
    family: $inter;
    size: 14px;
  }
  margin: 0;

  @include light-theme() {
    color: $color-gray-90;
  }

  @include dark-theme() {
    color: $color-gray-05;
  }
}

.title {
  composes: text;
  font-weight: 500;
  margin-bottom: 12px;

  @include light-theme() {
    color: $color-gray-90;
  }

  @include dark-theme() {
    color: $color-white;
  }
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: flex-end;
  gap: 12px;
}

.pill {
  composes: base;
  height: 28px;
  border-radius: 15px;
  padding-block: 0;
  padding-inline: 17px;

  @include light-theme() {
    color: $color-gray-90;
    border: 1px solid $color-gray-90;
    background: transparent;
  }

  @include dark-theme() {
    color: $color-white;
    border: 1px solid $color-white;
    background: transparent;
  }
}

.pill-primary {
  composes: pill;

  @include light-theme() {
    border: none;
    background-color: $color-ultramarine;
    color: $color-white;
  }

  @include dark-theme() {
    border: none;
    background-color: $color-ultramarine-light;
    color: $color-white;
  }
}
