// Copyright 2023 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@use '../colors.scss';
@use '../mixins.scss';
@use '../fonts.scss';

.container {
  flex-grow: 1;

  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 440px;
  gap: 12px;
}

.input {
  flex-grow: 1;
  height: 36px;
  line-height: 34px;
  padding-block: 0;
  padding-inline: 12px;
  border-radius: 4px;
  background-color: transparent;
  font-size: 14px;
  font-family: fonts.$inter;
  border: 1px solid light-dark(colors.$color-gray-15, colors.$color-gray-60);
  color: light-dark(colors.$color-gray-90, colors.$color-white);

  &::placeholder {
    color: colors.$color-gray-45;
  }
}
