// Copyright 2023 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@use '../mixins.scss';
@use '../colors.scss';

.base {
  width: 380px;
  padding: 4px;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  box-shadow: 0 2px 13px 3px rgba(0, 0, 0, 0.3);
  position: relative;

  @include mixins.light-theme() {
    background: colors.$color-white;
  }

  @include mixins.dark-theme() {
    background: colors.$color-gray-75;
  }
}

.frame {
  width: 50%;
  padding-block: 12px 3px;
  padding-inline: 12px;
}

.frame-light {
  composes: frame;
  background: colors.$color-white;
  border-radius: 6px 0 0 6px;
}

.frame-dark {
  composes: frame;
  background: colors.$color-black;
  border-radius: 0 6px 6px 0;
}

.arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.arrow-top {
  composes: arrow;
  border-width: 0 8px 8px 8px;
  top: -8px;

  @include mixins.light-theme() {
    border-color: transparent transparent colors.$color-white transparent;
  }

  @include mixins.dark-theme() {
    border-color: transparent transparent colors.$color-gray-75 transparent;
  }
}

.arrow-bottom {
  composes: arrow;
  border-width: 8px 8px 0 8px;
  bottom: -8px;

  @include mixins.light-theme() {
    border-color: colors.$color-white transparent transparent transparent;
  }

  @include mixins.dark-theme() {
    border-color: colors.$color-gray-75 transparent transparent transparent;
  }
}

.arrow-left {
  composes: arrow;
  border-width: 8px 8px 8px 0;
  inset-inline-start: -8px;

  @include mixins.light-theme() {
    border-color: transparent colors.$color-white transparent transparent;
  }

  @include mixins.dark-theme() {
    border-color: transparent colors.$color-gray-75 transparent transparent;
  }
}

.arrow-right {
  composes: arrow;
  border-width: 8px 0 8px 8px;
  inset-inline-end: -8px;

  @include mixins.light-theme() {
    border-color: transparent transparent transparent colors.$color-white;
  }

  @include mixins.dark-theme() {
    border-color: transparent transparent transparent colors.$color-gray-75;
  }
}
