// Copyright 2023 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@import '../mixins.scss';
@import '../colors.scss';
@import '../fonts.scss';

.base {
  padding-block: 8px;
  padding-inline: 12px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08), 0 8px 20px 0px rgba(0, 0, 0, 0.33);
  font-family: $inter;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;

  @include light-theme() {
    background-color: $color-gray-75;
    color: $color-gray-05;
  }

  @include dark-theme() {
    background-color: $color-gray-15;
    color: $color-gray-95;
  }
}
