// Copyright 2023 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@use '../colors.scss';
@use '../mixins.scss';

.container {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.text {
  @include mixins.light-theme() {
    border: 1px solid colors.$color-gray-15;
    color: colors.$color-gray-90;
  }

  @include mixins.dark-theme() {
    border: 1px solid colors.$color-gray-60;
    color: colors.$color-white;
  }
}

.button {
  width: 32px;
  height: 32px;
  background: transparent;
  border: none;
}
