// Copyright 2023 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@use '../colors.scss';
@use '../mixins.scss';

.container {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.text {
  border: 1px solid light-dark(colors.$color-gray-15, colors.$color-gray-60);
  color: light-dark(colors.$color-gray-90, colors.$color-white);
}

.button {
  width: 32px;
  height: 32px;
  background: transparent;
  border: none;
}
